Repository webpack/webpack.js.org, pull requests merged in 2018-03, with the labels that each got.

#1864 fix anchor bug (chinese language)
  src/utilities/markdown.js
Labels: Needs Clarification

#1871 docs(concepts): Update plugins.md
  src/content/concepts/plugins.md
  src/utilities/markdown.js
Labels: Documentation, Enhancement, Plugins

#1868 docs(all): add doctype for valid HTML in all documentation
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/development-vagrant.md
  src/content/guides/getting-started.md
  src/content/guides/output-management.md
  src/content/guides/shimming.md
  src/content/index.md
Labels: Enhancement

#1794 remove component-webpack-plugin
  package-lock.json
  src/content/plugins/index.md
  src/scripts/fetch.sh
Labels: Plugins

#1878 Add the `builtAt` option
  package-lock.json
  src/content/configuration/stats.md
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/development-vagrant.md
  src/content/guides/getting-started.md
  src/content/guides/output-management.md
  src/content/guides/shimming.md
  src/content/index.md
  src/content/plugins/index.md
  src/scripts/fetch.sh
Labels: Configuration, Enhancement

#1840 Update cli.md
  src/content/api/cli.md
Labels: API, Enhancement

#1879 docs(plugins): adding CopyWebpackPlugin to table
  src/content/plugins/index.md
Labels: Enhancement, Plugins

#1860 Fix typo in the synchronous loader code example
  src/content/api/loaders.md
Labels: API, Correction

#1887 docs(guides): fix sentence
  src/content/guides/asset-management.md
Labels: Correction, Guides

#1907 Fixed missing line in diff and missing semicolons
  src/content/guides/production.md
Labels: Enhancement, Guides

#1865 update tree shaking guide for webpack 4
  src/content/guides/tree-shaking.md
Labels: Clarification, Guides, New Release

#1912 fixed line 62 spelling 'cosnole' -> 'console'
  src/content/guides/development.md
Labels: Correction, Guides

#1914 add missed + for math.js
  src/content/guides/tree-shaking.md
Labels: Correction, Guides

#1885 docs(concepts) Clarification about NODE_ENV and mode
  src/content/concepts/index.md
  src/content/concepts/mode.md
Labels: Concepts, Correction

#1916 docs(guides): fix config
  src/content/guides/progressive-web-application.md
Labels: Clarification, Guides

#1807 Documentation update for output path in Stats object
  src/content/api/stats.md
Labels: Configuration, New Feature

#1918 Update UglifyJsPlugin -> UglifyJSPlugin
  src/content/guides/tree-shaking.md
Labels: Correction, Guides

#1917 clean package-lock.json
  package-lock.json
  yarn.lock
Labels: Infrastructure

#1926 Update TypeScript configuration example to TS 2.7
  src/content/configuration/configuration-languages.md
Labels: Configuration

#1856 Let's ship the webpack 4 documentation
  .gitignore
  src/content/api/cli.md
  src/content/api/compilation-hooks.md
  src/content/api/compilation.md
  src/content/api/compiler-hooks.md
  src/content/api/compiler.md
  src/content/api/index.md
  src/content/api/module-factories.md
  src/content/api/node.md
  src/content/api/parser.md
  src/content/api/plugins.md
  src/content/api/resolver.md
  src/content/api/resolvers.md
  src/content/api/tapable.md
  src/content/api/template.md
  src/content/concepts/index.md
  src/content/concepts/mode.md
  src/content/concepts/plugins.md
  src/content/configuration/output.md
  src/content/configuration/resolve.md
  src/content/configuration/stats.md
  src/content/configuration/watch.md
  src/content/guides/getting-started.md
  src/content/guides/tree-shaking.md
  src/content/plugins/profiling-plugin.md
  yarn.lock
Labels: New Release

#1872 fix(frontend): improper use of removeEventListener, calls to scroll e…
  package.json
  src/components/Gitter/Gitter.jsx
  src/components/Sidebar/Sidebar.jsx
  yarn.lock
Labels: Enhancement, UI/UX

#1937 fix(mode): correct mode type of filename
  src/content/concepts/mode.md
Labels: Concepts, Correction

#1884 content(homepage) Mention 0CJS capability
  src/content/index.md
Labels: Enhancement, New Release

#1888 Installation guide: Add note to install webpack-cli on v4 or higher
  src/content/guides/installation.md
Labels: Enhancement, Guides, New Release

#1905 docs(configuration) Update snippets to comply with webpack v4+
  src/content/concepts/configuration.md
  src/content/configuration/configuration-languages.md
  src/content/configuration/configuration-types.md
  src/content/configuration/index.md
Labels: Concepts, Configuration, New Release

#1942 Fix Broken links
  src/content/api/plugins.md
  src/content/api/resolvers.md
  src/content/contribute/writing-a-plugin.md
Labels: Site Structure
