Repository webpack/webpack.js.org, pull requests merged in 2018-07, with the labels that each got.

#2004 Add some incremental perf notes
  src/content/guides/build-performance.md
Labels: Guides, New Release

#2059 Update code-splitting.md
  src/content/guides/code-splitting.md
Labels: Guides, New Release

#2078 Update mode.md
  src/content/concepts/mode.md
Labels: Concepts

#2306 docs(config) document flagIncludedChunks optimization option
  src/content/configuration/optimization.md
Labels: Configuration, Documentation

#2303 Docs: fix typos
  src/content/api/cli.md
  src/content/api/compilation-hooks.md
  src/content/api/compiler-hooks.md
  src/content/configuration/devtool.md
  src/content/configuration/entry-context.md
  src/content/configuration/optimization.md
  src/content/configuration/output.md
  src/content/configuration/performance.md
  src/content/contribute/debugging.md
  src/content/contribute/plugin-patterns.md
  src/content/guides/build-performance.md
  src/content/plugins/commons-chunk-plugin.md
  src/content/plugins/eval-source-map-dev-tool-plugin.md
  src/content/plugins/split-chunks-plugin.md
Labels: API, Configuration, Guides, Plugins

#2304 fix(docs) remove extra period and whitespaces
  src/content/guides/getting-started.md
Labels: Correction, Guides

#2317 Concepts - Add "Bundling Fundamentals" resources
  src/content/concepts/index.md
Labels: Concepts

#2326 fix(docs): Capitalize Windows and macOS
  src/content/configuration/watch.md
  src/content/guides/getting-started.md
Labels: Configuration, Guides

#2292 docs(api): fix cli example
  src/content/api/cli.md
Labels: API

#2328 Add better description to use BannerPlugin
  src/content/plugins/banner-plugin.md
Labels: Enhancement, Plugins

#2329 (NotificationBar) Removed link to unixstickers
  src/components/NotificationBar/NotificationBar.jsx
Labels: UI/UX

#2331 Fix a broken markdown link in node.md
  src/content/api/node.md
Labels: API

#2327 docs(guides): Simplify instructions for disabling IDE safe write
  src/content/guides/development.md
Labels: Guides

#2316 Added explanation for splitChunks.minSize
  src/content/plugins/split-chunks-plugin.md
Labels: Clarification, Plugins

#2337 Remove 404 link for NamedModulesPlugin
  src/content/guides/caching.md
Labels: Guides

#2340 Update mode.md
  src/content/concepts/mode.md
Labels: Concepts

#2299 Plugins/internals
  src/content/plugins/internal-plugins.md
Labels: Documentation, Plugins

#2144 fix: indentation in code sample of split-chunks-plugin
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2343 Fix a typo: Depending type -> Depending on type
  src/content/contribute/writing-a-loader.md
Labels: Contribute, Correction

#2100 remove array as one of the accepted values for externals
  src/content/configuration/externals.md
Labels: Configuration, Documentation

#2344 Fix ProfilingPlugin instructions
  src/content/plugins/profiling-plugin.md
Labels: Plugins

#2349 Update hot-module-replacement.md
  src/content/guides/hot-module-replacement.md
Labels: Guides

#2347 docs(api) document dependencyReference compilation hook
  src/content/api/compilation-hooks.md
Labels: API

#2342 docs(plugins) remove AggressiveSplittingPlugin and document SplitChun…
  src/content/plugins/aggressive-splitting-plugin.md
  src/content/plugins/index.md
  src/content/plugins/split-chunks-plugin.md
  webpack.config.js
Labels: New Feature, Plugins

#2355 docs(config) Update stats source default
  src/content/configuration/stats.md
Labels: Configuration, webpack5

#2330 Optimize SVGs using svgo
  src/assets/awesome-badge.svg
  src/assets/by.svg
  src/assets/cc.svg
  src/assets/github-logo.svg
  src/assets/icon-square-big.svg
  src/assets/icon-square-small.svg
  src/assets/language-icon.svg
  src/assets/logo-on-dark-bg.svg
  src/assets/logo-on-white-bg.svg
  src/assets/site-logo.svg
  src/styles/icons/chevron-down.svg
  src/styles/icons/chevron-left.svg
  src/styles/icons/chevron-right.svg
  src/styles/icons/chevron-up.svg
  src/styles/icons/cross.svg
  src/styles/icons/edit.svg
  src/styles/icons/exit-right.svg
  src/styles/icons/github.svg
  src/styles/icons/gitter.svg
  src/styles/icons/magnifying-glass.svg
  src/styles/icons/medium.svg
  src/styles/icons/menu.svg
  src/styles/icons/stack-overflow.svg
  src/styles/icons/vertical-bar.svg
Labels: UI/UX

#2356 Update code-splitting.md
  src/content/guides/code-splitting.md
Labels: Guides

#2353 docs(config) document concatenateModules optimization option
  src/content/configuration/optimization.md
Labels: Configuration

#2086 Remove Redux HMR link
  src/content/guides/hot-module-replacement.md
Labels: Guides

#2126 docs(loader): clarify difference between options and query
  src/content/concepts/loaders.md
Labels: Clarification, Concepts

#2348 docs(configuration): interactive portal to webpack config
  src/content/configuration/index.md
Labels: Configuration

#2363 guide example config - add missing require('path')
  src/content/guides/environment-variables.md
Labels: Guides

#2369 infra(site) Fix sh unexpected token
  src/scripts/fetch.sh
Labels: Infrastructure

#2371 infra(site) Fix fetch script
  src/scripts/fetch.sh
Labels: Infrastructure

#2361 case agreement
  src/content/concepts/manifest.md
Labels: Concepts

#2350 Explicitly say `mode` sets properties to DefinePlugin
  src/content/concepts/mode.md
Labels: Concepts

#2377 update Starter Kits
  package.json
  src/scripts/fetch_starter_kits.js
  yarn.lock
Labels: Infrastructure

#2374 docs(api) correct get parser example
  src/content/api/parser.md
Labels: API

#1939 add migration guide
  src/content/migrate/3.md
  src/content/migrate/4.md
Labels: Guides, New Release

#2386 Update output-management.md (Minor)
  src/content/guides/output-management.md
Labels: Guides

#2383 fix(guides) Fix typo in code-splitting.md
  src/content/guides/code-splitting.md
Labels: Guides

#2384 fix(guides) Use proper JSON in author-libraries
  src/content/guides/author-libraries.md
Labels: Guides

#2134 changed service worker default name
  src/content/guides/progressive-web-application.md
Labels: Guides

#2390 fix(guides) Update generated filename in PWA
  src/content/guides/progressive-web-application.md
Labels: Guides

#2372 infra(add) lint-staged
  package.json
  yarn.lock
Labels: Infrastructure

#2395 Update tree-shaking.md
  src/content/guides/tree-shaking.md
Labels: Guides

#2388 fix(guides): update production guide, fix #2387
  src/content/guides/production.md
Labels: Guides

#2400 Finish updating guides: production
  package.json
  src/content/guides/production.md
Labels: Guides

#2391 fix(guides) Fix typo in CSP
  src/content/guides/csp.md
Labels: Guides

#2392 docs(config) document optimization.sideEffects
  src/content/configuration/optimization.md
Labels: Configuration

#2389 Update references to webpack 4
  src/content/guides/caching.md
Labels: Guides

#2399 added sass loader
  src/content/concepts/loaders.md
Labels: Loaders

#2408 Fix issue: Sub-Navigation disappears when sub-menu entry "Migrate" is clicked
  src/components/Site/Site.jsx
Labels: UI/UX

#2402 Fix default hashFunction for HashedModuleIdsPlugin
  src/content/plugins/hashed-module-ids-plugin.md
Labels: Plugins

#2071 Improve runtimeChunk documentation
  src/content/configuration/optimization.md
Labels: Documentation, Plugins

#2412 Update output.md to match the default options
  src/content/concepts/output.md
Labels: Concepts
