Repository webpack/webpack.js.org, pull requests merged in 2018-10, with the labels that each got.

#2532 Fix webpack 4 migration guide link to split chunks docs
  src/content/migrate/4.md
Labels: Migrated

#2560 Extend documentation for require.context
  src/content/api/module-methods.md
Labels: API

#2540 Fix typo in description
  src/content/plugins/provide-plugin.md
Labels: Plugins

#2565 Added name to contributors
  src/content/concepts/index.md
Labels: Concepts

#2556 docs(config): Add section for output.libraryTarget: "amd-require"
  src/content/configuration/output.md
Labels: Configuration

#2544 docs(plugins) More info on HashedModuleIdsPlugin#hashDigestLength
  src/content/plugins/hashed-module-ids-plugin.md
Labels: Plugins

#2423 aliasFields is a string, not array
  src/content/configuration/resolve.md
Labels: Configuration

#2534 docs(config): clarify `stats.md` sort fields
  src/content/configuration/stats.md
Labels: Configuration

#2576 docs(config) Update configuration module page
  src/content/configuration/module.md
Labels: Configuration

#2577 docs(plugins) update scp test info
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2580 Mistake in Mode Doc corrected
  src/content/concepts/mode.md
Labels: Concepts

#2474 docs(configuration): reorder sections, improve wording, add references in concepts
  src/content/concepts/configuration.md
  src/content/configuration/index.md
Labels: Concepts, Configuration

#2575 Add 'name' field docs & minor fixes
  src/content/configuration/other-options.md
Labels: Configuration

#2599 docs(config) output libraryExport updates, md formatting
  src/content/configuration/output.md
Labels: Configuration

#2603 Fix typos
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#2607 Fix broken link
  src/content/configuration/resolve.md
Labels: Correction

#2558 Updated Creating a Plugin Section Example
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#2597 docs(config) target updates to current webpack state
  src/content/configuration/target.md
Labels: Configuration

#2613 docs(plugins) split chunks cache group filename option
  src/content/plugins/split-chunks-plugin.md
Labels: Configuration

#2612 Updated getting-started.md
  src/content/guides/getting-started.md
Labels: Guides

#2609 docs(config) dev server guide updates
  src/content/configuration/dev-server.md
Labels: Configuration

#2615 Remove reference to CLI options not used before
  src/content/guides/getting-started.md
Labels: Guides

#2619 Small clarification in Tables section of writers-guide.md
  src/content/contribute/writers-guide.md
Labels: Clarification

#2620 docs(plugins): rename OccurenceOrderPlugin to OccurrenceOrderPlugin
  src/content/plugins/internal-plugins.md
Labels: Plugins

#2621 chore(eslint-plugin-markdown) bump version to release candidate
  package.json
  yarn.lock
Labels: Build Process & Testing

#2622 docs(guides) add mode development to config in the dev guide
  src/content/guides/development.md
Labels: Enhancement, Guides
