Repository webpack/webpack.js.org, pull requests merged in 2018-09, with the labels that each got.

#2471 Minor wording change
  src/content/guides/typescript.md
Labels: Guides

#2479 Correct main entry in package.json
  src/content/guides/production.md
Labels: Guides

#2478 fixing invalid splitChunks example
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2477 Simioluwatomi patch 1
  src/content/guides/code-splitting.md
Labels: Guides

#2459 docs(development): Add warning about dev server
  src/content/guides/development.md
Labels: Guides

#2476 Update production.md
  src/content/guides/production.md
Labels: Guides

#2485 Update loaders.md
  src/content/concepts/loaders.md
Labels: Concepts

#2489 Fixed link to `output` property
  src/content/concepts/targets.md
Labels: Concepts

#2496 Use consistent plugin name in code snippet
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#2511 Fix typo on output.md: adds "be" before "exposed"
  src/content/configuration/output.md
Labels: Configuration

#2504 docs(manifest) corrections and small update to concept manifest page
  src/content/concepts/manifest.md
Labels: Concepts

#2495 docs(concepts) Update dependency graph concepts page
  src/content/concepts/dependency-graph.md
Labels: Concepts

#2515 Update externals.md - Combining syntaxes example
  src/content/configuration/externals.md
Labels: Configuration

#2522 docs(config): Replace UglifyJSPlugin references with TerserPlugin
  src/content/api/cli.md
  src/content/comparison.md
  src/content/configuration/configuration-languages.md
  src/content/configuration/devtool.md
  src/content/configuration/optimization.md
  src/content/guides/integrations.md
  src/content/guides/production.md
  src/content/plugins/index.md
  src/content/plugins/internal-plugins.md
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: API, Configuration, Guides, Plugins

#2200 Update Writing plugin and Plugin pattern page
  src/content/contribute/plugin-patterns.md
  src/content/contribute/writing-a-plugin.md
Labels: Documentation, Plugins

#2525 Using vendors as entry is not recommended
  src/content/concepts/entry-points.md
Labels: Concepts

#2513 Correct misspelling and punctuation errors
  src/content/guides/build-performance.md
Labels: Guides

#2527 D[1] Split chunks plugin Example 3 typo
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2493 Add .mjs to the defaults
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Plugins

#2252 Minor SplitChunks Documentation Clean Up
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2529 Clarify module section
  src/content/api/cli.md
Labels: API

#2530 docs(plugins): update links in htmlwebpackplugin
  src/content/plugins/html-webpack-plugin.md
Labels: Plugins

#2526 docs(plugins) scp reuseExistingChunk title nesting fix
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2537 docs(installation): fix typo
  src/content/guides/installation.md
Labels: Guides

#2536 import needs to be highlighted with '+' mark
  src/content/guides/caching.md
Labels: Guides

#2533 docs(config) optimization moduleIds
  src/content/configuration/optimization.md
Labels: Configuration

#2543 docs(config) optimization moduleIds option
  src/content/configuration/optimization.md
Labels: Configuration

#2552 docs(config) deterministic option for moduleIds
  src/content/configuration/optimization.md
Labels: Configuration, New Release

#2548 Update docs: adds JSON file to out of the box supported files
  src/content/concepts/index.md
Labels: Concepts

#2516 Update example webpack output in asset-management.md
  src/content/guides/asset-management.md
Labels: Guides

#2555 Fix(utilities): Convert github raw links to rendered page links
  src/utilities/process-readme.js
Labels: UI/UX

#2559 Add boolean as possible type for lineToLine
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Plugins

#2531 fix(guides): Fixed example code typo
  src/content/contribute/writing-a-plugin.md
Labels: Contribute
