Repository webpack/webpack.js.org, pull requests merged in 2018-02, with the labels that each got.

#1825 Update Function.prototype.apply link
  src/content/concepts/plugins.md
Labels: Concepts, Enhancement

#1828 AngularJS + Webpack
  src/content/guides/lazy-loading.md
Labels: Enhancement, Guides

#1829 docs(Contribute): fix typo
  src/content/contribute/writing-a-loader.md
Labels: Contribute, Correction

#1830 ProfilingPlugin: add to the docs
  src/content/plugins/profiling-plugin.md
Labels: New Feature, New Release, Plugins

#1831 Update environment-variables.md
  src/content/guides/environment-variables.md
Labels: Correction, Guides

#1835 Update docs for default value for stats.toString({colors})
  src/content/configuration/stats.md
Labels: Configuration, Correction

#1842 Fix missing text in Author Libraries guide
  src/content/guides/author-libraries.md
Labels: Correction, Guides

#1847 docs: update CommonsChunkPlugin example links
  src/content/plugins/commons-chunk-plugin.md
Labels: Correction, Plugins

#1846 Replace broken images in sponsor list
  src/components/Support/Support.jsx
Labels: Enhancement, UI/UX

#1817 Update docs with info-verbosity option
  src/content/configuration/watch.md
Labels: Configuration, New Feature

#1833 Start adding Nonce documentation
  src/content/guides/csp.md
Labels: Enhancement, Guides

#1827 Add reference to UglifyJsPlugin dependency
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Enhancement, Plugins

#1853 docs: update commons-chunk-plugin.md
  src/content/plugins/commons-chunk-plugin.md
Labels: Correction, Plugins

#1855 Documentation: Fix error in Getting Started Guide
  src/content/guides/getting-started.md
Labels: Correction, Guides
