Repository webpack/webpack.js.org, pull requests merged in 2018-05, with the labels that each got.

#1792 docs(config): Add caveat about proxying request to root
  src/content/configuration/dev-server.md
Labels: Clarification, Configuration

#2040 chore(rebuild): populate page titles
  package.json
  src/components/Site/Site.jsx
  src/server.jsx
  src/utilities/content-utils.js
  webpack.prod.js
Labels: Infrastructure

#2113 Update loader testing docs to catch compiler errors
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#1903 mention defaults in config example
  src/content/configuration/index.md
Labels: New Release

#2045 chore(rebuild): re-incorporate google-analytics
  DISCUSSION.md
  package.json
  src/index.jsx
  webpack.dev.js
Labels: Infrastructure

#2118 docs(guides) Fix getting started output filename mismatch
  src/content/guides/getting-started.md
Labels: Guides

#2132 docs(module) document webpackInclude and webpackExclude otpions
  src/content/api/module-methods.md
Labels: API, Documentation

#2092 Update code-splitting.md
  src/content/guides/code-splitting.md
Labels: Correction, Guides

#2043 chore(rebuild): re-incorporate header links
  package.json
  src/components/Markdown/Markdown.scss
  webpack.common.js
Labels: Infrastructure

#2140 Update magic comments explanation
  src/content/api/module-methods.md
Labels: API

#2044 chore(rebuild): handle custom blockquotes
  src/components/Markdown/Markdown.scss
  src/utilities/remark-custom-blockquotes.js
  webpack.common.js
Labels: Infrastructure

#2046 chore(rebuild): re-implement prism highlighting
  package.json
  src/content/api/cli.md
  src/content/concepts/loaders.md
  src/content/contribute/release-process.md
  src/content/contribute/writing-a-loader.md
  src/content/plugins/normal-module-replacement-plugin.md
  src/utilities/highlight.js
  src/utilities/remark-refractor.js
  webpack.common.js
Labels: Infrastructure

#2052 feature(homepage) mention browser support of webpack
  src/content/concepts/index.md
Labels: Documentation

#2111 fix(homepage): fix code formatting in the example
  src/content/index.md
Labels: Correction

#2139 Document optimization.nodeEnv
  src/content/configuration/optimization.md
Labels: Configuration

#2161 feat(cli) mention webpack-command
  src/content/api/cli.md
  src/content/guides/installation.md
Labels: API, New Feature

#2114 update link: https://doc.webpack-china.org => https://webpack.docschina.org
  src/components/Navigation/Navigation.jsx
Labels: Site Structure

#1971 adds mode config to Webpack config chunks production.md
  src/content/guides/production.md
Labels: Guides, New Release

#2067 doc: change file path
  src/components/StarterKits/StarterKits.jsx
Labels: Correction

#2115 docs(guides) Fix code splitting guide
  src/content/guides/code-splitting.md
  src/content/plugins/split-chunks-plugin.md
Labels: Guides, Plugins

#2190 Improve HMR documentation
  src/content/api/hot-module-replacement.md
Labels: API, Documentation, Enhancement

#2025 Typo – Update split-chunks-plugin.md
  src/content/plugins/split-chunks-plugin.md
Labels: Correction, Plugins

#2183 SplitChunksPlugin: cleanup and organization
  src/content/plugins/split-chunks-plugin.md
Labels: Documentation

#2127 fix typo in documentation
  src/content/guides/build-performance.md
Labels: Concepts, Guides

#2188 docs(guide): Remove redundant hint
  src/content/guides/tree-shaking.md
Labels: Correction

#2197 feat: add cli config flag option
  src/content/configuration/index.md
Labels: Configuration, Documentation
