Repository webpack/webpack.js.org, pull requests merged in 2018-12, with the labels that each got.

#2680 indent devDependencies
  src/content/guides/getting-started.md
Labels: Guides

#2681 Limit number of displayed sponsors and backers
  src/components/Support/Support.jsx
Labels: Support & Sponsors

#2686 correct the regex
  src/content/configuration/module.md
Labels: Configuration, Correction

#2658 Replace UglifyJS with Terser (#2656)
  src/content/api/cli.md
  src/content/comparison.md
  src/content/concepts/mode.md
  src/content/configuration/configuration-languages.md
  src/content/configuration/configuration-types.md
  src/content/configuration/devtool.md
  src/content/configuration/optimization.md
  src/content/guides/build-performance.md
  src/content/guides/integrations.md
  src/content/guides/production.md
  src/content/guides/tree-shaking.md
  src/content/plugins/index.md
  src/content/plugins/internal-plugins.md
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: API, Concepts, Configuration, Guides, Plugins

#2699 add period to end of first paragraph in SplitChunksPlugin article
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2701 docs(config) remove AggressiveSplittingPlugin mention
  src/content/configuration/output.md
Labels: Configuration, New Release

#2702 docs(guides) format pwa guide
  src/content/guides/progressive-web-application.md
Labels: Guides

#2704 docs: add group prop in writer's guide
  src/content/contribute/writers-guide.md
Labels: Contribute

#2703 docs: add missing links to loaders
  src/content/loaders/index.md
Labels: Loaders

#2709 Update ignore plugin docs
  src/content/plugins/ignore-plugin.md
Labels: Plugins

#2715 ux(splash) fix splash overlapping with links on low heights
  src/components/Splash/Splash.scss
Labels: UI/UX

#2710 Update why-webpack.md
  src/content/concepts/why-webpack.md
Labels: Concepts

#2714 fix(docs) Do not polyfill node bindings by default
  src/content/configuration/node.md
Labels: Configuration, New Release

#2672 Adding a note about splitChunks.name = false functionality
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2713 docs(plugins) SCP idHint and removal of name and automaticNamePrefix
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2717 docs(plugins) fix NodeEnvironmentPlugin exposition
  src/content/plugins/internal-plugins.md
Labels: New Release, Plugins

#2721 docs(plugins) IgnorePlugin new syntax and options
  src/content/plugins/ignore-plugin.md
Labels: Plugins

#2512 Docs Fix: fix naming consistence of runtime.js in example outputs
  src/content/guides/caching.md
Labels: Guides

#2227 cacheGroups
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2524 Context Replacement Plugin
  src/content/plugins/context-replacement-plugin.md
Labels: Plugins

#2376 Add a warning note for common errors when specifying rules
  src/content/concepts/index.md
Labels: Concepts

#2298 docs(API) Add error report introduction of loaders (#2231)
  src/content/api/loaders.md
Labels: API, Documentation

#2671 Small readme improvements, remove the word "simple"
  src/content/guides/caching.md
Labels: Guides

#2687 docs(plugins) splitChunks enforce doesnt make maxSize ignored anymore
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2418 Update hot-module-replacement.md
  src/content/guides/hot-module-replacement.md
Labels: Guides

#2481 Default for parallelism
  src/content/configuration/other-options.md
Labels: Configuration

#2707 docs: added more info for magic comments
  src/content/api/module-methods.md
Labels: API

#2725 Revert "cacheGroups"
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#1890 docs(devServer): clarify devServer "open" option description
  src/content/configuration/dev-server.md
  src/content/guides/production.md
Labels: Configuration, Enhancement

#2727 docs(config) document optimization.chunkIds
  src/content/configuration/optimization.md
Labels: Configuration

#2731 Added information on settings stats colors
  src/content/configuration/stats.md
Labels: Configuration

#2505 Document that concatenation is enabled by default
  src/content/plugins/module-concatenation-plugin.md
Labels: Plugins

#2735 docs(guides): Update author-libraries.md
  src/content/guides/author-libraries.md
Labels: Guides

#2730 Change requestRegExp to resourceRegExp IgnorePluginOptions in docs
  src/content/plugins/ignore-plugin.md
Labels: Plugins

#2729 Update why-webpack.md
  src/content/concepts/why-webpack.md
Labels: Concepts

#2739 make d3 pkg.browser example more generic
  src/content/configuration/resolve.md
Labels: Configuration

#2742 Update internal-plugins.md
  src/content/plugins/internal-plugins.md
Labels: Plugins

#2694 Add documentation for `Rule.use` as a function
  src/content/configuration/module.md
Labels: Configuration
