Repository webpack/webpack.js.org, pull requests merged in 2018-11, with the labels that each got.

#2626 docs(cli): document --no-color option
  src/content/api/cli.md
Labels: API

#2628 doc(configuration): extend TypeScript
  src/content/configuration/configuration-languages.md
Labels: Configuration

#2629 Add Link to Mode Concepts
  src/content/configuration/optimization.md
Labels: Configuration

#2631 Add Link to useBuiltIns at Babel
  src/content/guides/shimming.md
Labels: Guides

#2627 docs(guides) update tree shaking guide
  src/content/guides/tree-shaking.md
Labels: Guides

#2630 Update why-webpack.md
  src/content/concepts/why-webpack.md
Labels: Concepts

#2624 Recast this sentence about `externals`
  src/content/guides/author-libraries.md
Labels: API, Guides

#2336 Show filename change from previous page
  src/content/guides/asset-management.md
Labels: Guides

#2623 chore(markdownlint) add emphasis style rule
  .markdownlint.json
  package.json
  src/content/api/cli.md
  src/content/api/loaders.md
  src/content/api/module-methods.md
  src/content/api/node.md
  src/content/branding.md
  src/content/comparison.md
  src/content/concepts/entry-points.md
  src/content/concepts/index.md
  src/content/concepts/loaders.md
  src/content/concepts/mode.md
  src/content/concepts/modules.md
  src/content/concepts/output.md
  src/content/concepts/plugins.md
  src/content/concepts/targets.md
  src/content/configuration/entry-context.md
  src/content/configuration/externals.md
  src/content/configuration/node.md
  src/content/configuration/resolve.md
  src/content/configuration/stats.md
  src/content/configuration/target.md
  src/content/contribute/release-process.md
  src/content/contribute/writers-guide.md
  src/content/contribute/writing-a-plugin.md
  src/content/glossary.md
  src/content/guides/dependency-management.md
  src/content/guides/development.md
  src/content/guides/typescript.md
  src/content/index.md
  src/content/migrate/3.md
  src/content/plugins/context-replacement-plugin.md
  src/content/plugins/define-plugin.md
  src/content/plugins/dll-plugin.md
  src/content/plugins/environment-plugin.md
  src/content/plugins/index.md
  src/content/plugins/progress-plugin.md
  yarn.lock
Labels: Infrastructure

#2638 docs(plugins) move code example related warning to the code blocks
  src/content/plugins/define-plugin.md
Labels: Plugins

#2606 docs(config) document configuration cache for webpack v5
  src/content/configuration/other-options.md
Labels: Configuration, New Release

#2640 docs(api) fix cli table
  src/content/api/cli.md
Labels: API

#2639 Add Link to CLI Config Options Section
  src/content/configuration/configuration-types.md
Labels: Configuration

#2618 docs(config) stats pre defined template extension
  src/content/configuration/stats.md
Labels: Configuration

#2649 docs(concepts) Remove redundant word in configuration.md
  src/content/concepts/configuration.md
Labels: Concepts

#2652 docs(concepts) add missing code snippet filename
  src/content/concepts/entry-points.md
Labels: Concepts

#2651 docs(various) removed output.devtoolLineToLine, lineToLine of SourceM…
  src/content/api/compilation-hooks.md
  src/content/configuration/output.md
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: API, Configuration, New Release, Plugins

#2653 Add ref-loader to loader's introduction page
  src/content/loaders/index.md
Labels: Loaders

#2654 docs(plugins) refactor LimitChunkCountPlugin page
  src/content/plugins/limit-chunk-count-plugin.md
Labels: Plugins

#2659 ReSubmit: Add ref-loader to loader's introduction page
  src/content/loaders/index.md
Labels: Loaders

#2641 Additional info about Dynamic entry
  src/content/configuration/entry-context.md
Labels: Configuration

#2635 docs(guides) asset management bundle finalename
  src/content/guides/asset-management.md
Labels: Guides

#2665 docs(dev): remove devtool from mode section
  src/content/guides/development.md
Labels: Guides

#2669 docs(config) Externals as object note about umd library target
  src/content/configuration/externals.md
Labels: Configuration

#2670 docs(config): fix typo by removing extraneous 'which'
  src/content/configuration/resolve.md
Labels: Configuration, Correction
