Repository webpack/webpack.js.org, pull requests merged in 2018-04, with the labels that each got.

#1955 feat: add documentation for SplitChunksPlugin and deprecation warning…
  .alexignore
  src/content/plugins/commons-chunk-plugin.md
  src/content/plugins/split-chunks-plugin.md
Labels: New Release, Plugins

#1978 Evaluate all http redirects of outgoing links
  src/components/Footer/Footer.jsx
  src/components/StarterKits/StarterKits.jsx
  src/content/api/cli.md
  src/content/api/loaders.md
  src/content/api/module-variables.md
  src/content/branding.md
  src/content/comparison.md
  src/content/concepts/hot-module-replacement.md
  src/content/configuration/devtool.md
  src/content/configuration/output.md
  src/content/configuration/target.md
  src/content/configuration/watch.md
  src/content/contribute/index.md
  src/content/guides/caching.md
  src/content/guides/code-splitting.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/migrating.md
  src/content/guides/production.md
  src/content/guides/shimming.md
  src/content/loaders/index.md
  src/content/plugins/commons-chunk-plugin.md
  src/content/plugins/dll-plugin.md
  src/content/plugins/html-webpack-plugin.md
Labels: Site Structure

#1951 Changing the output file to `main.js`
  src/content/guides/getting-started.md
Labels: Guides

#1995 docs(api): fix command
  src/content/api/cli.md
Labels: API, Correction

#1997 Add space above comments
  src/content/configuration/stats.md
Labels: Configuration, UI/UX

#2007 Updated the Output Property
  src/content/concepts/index.md
Labels: Concepts, Documentation

#1988 chore: sort split chunks cache groups by priority
  src/content/plugins/split-chunks-plugin.md
Labels: Enhancement, Plugins

#2006 Fix broken links
  antwar.config.js
  src/content/api/parser.md
  src/content/api/plugins.md
  src/content/api/resolvers.md
  src/content/branding.md
  src/content/configuration/output.md
  src/content/guides/migrating.md
  src/content/plugins/source-map-dev-tool-plugin.md
  src/scripts/fetch_package_files.js
Labels: Site Structure

#2011 Fix broken link to opencollective webpack page
  src/content/contribute/index.md
Labels: Correction

#1964 feature(webpack4) Migrate project to webpack4. Prepare for React 16
  antwar.bootstrap.js
  antwar.config.js
  package.json
  src/components/Link/Link.jsx
  webpack.config.js
  yarn.lock
Labels: Infrastructure, Site Structure

#2012 Fix references to non-existing "optimize" section
  src/content/plugins/split-chunks-plugin.md
Labels: New Release, Plugins

#1982 docs(mode) Add missing plugins for default mode optimizations
  src/content/concepts/mode.md
Labels: Concepts, New Release

#1998 docs(plugins): Fix grammar
  src/content/api/plugins.md
  src/content/contribute/writing-a-plugin.md
Labels: API, Enhancement

#2022 fix(site) Missing second navigation
  src/components/Navigation/Navigation.jsx
Labels: Site Structure

#2017 More link fixes
  src/content/configuration/output.md
  src/scripts/fetch_package_files.js
Labels: Configuration, Correction

#1948 Issue/1933 Create "Migrating" section and move content from Guides
  antwar.config.js
  src/components/Navigation/Links.json
  src/content/migrate/3.md
  src/content/migrate/index.md
  webpack.config.js
Labels: Migrated, New Release

#2026 fix(config) Fix build time issue using defaut config
  .travis.yml
  antwar.bootstrap.js
  antwar.config.js
  src/components/Support/Support.jsx
  webpack.config.js
Labels: Infrastructure

#2033 Partially revert #2026
  antwar.config.js
  src/components/Support/Support.jsx
  webpack.config.js
  yarn.lock
Labels: Infrastructure

#2036 docs(concepts): single quote inconsistency in output.md
  src/content/concepts/output.md
Labels: Concepts

#2028 docs(plugins) Add mini-css-extract-plugin
  src/content/guides/asset-management.md
  src/content/guides/production.md
  src/content/plugins/index.md
  src/scripts/fetch.sh
Labels: Guides, New Release, Plugins

#2034 chore(rebuild): re-incorporate redirects
  package-lock.json
  package.json
  redirects.json
  webpack.prod.js
Labels: Infrastructure

#1940 Document "none" values for mode
  src/content/concepts/index.md
  src/content/concepts/mode.md
Labels: Clarification, Concepts

#2058 fix: various fixes on concepts for v4 and some rephrasing
  src/content/concepts/index.md
Labels: Bug, Correction, Documentation

#2053 docs(optimization) Add optimization section to configuration docs
  src/content/configuration/optimization.md
Labels: Configuration, Documentation, New Release

#2051 fix(docs) Document output.pathinfo default values
  src/content/configuration/output.md
Labels: Configuration, Correction

#2060 content(modules) prefetch/preload in webpack
  src/content/guides/code-splitting.md
Labels: Documentation, Guides, New Release
