Repository webpack/webpack.js.org, pull requests merged in 2018-08, with the labels that each got.

#2414 feat(misc) Add OG and Twitter metadata
  src/server.jsx
Labels: Enhancement, New Feature, Site Structure

#1936 docs (guide) fixed TODO and deprecated UglifyJsPlugin
  src/content/concepts/plugins.md
Labels: Concepts, New Release

#2417 Minor grammar changes to the concepts mode readme
  src/content/concepts/mode.md
Labels: Concepts

#2382 Rebuild hyperlink
  .gitignore
  .travis.yml
  package.json
  repositories/README.md
  repositories/loaders.json
  repositories/plugins.json
  requirements.txt
  src/CNAME
  src/components/Link/Link.jsx
  src/components/Markdown/Markdown.scss
  src/components/Navigation/Navigation.jsx
  src/components/Organization/Organization.jsx
  src/components/Organization/Organization.scss
  src/components/Organization/projects.json
  src/components/PageLinks/PageLinks.jsx
  src/components/SidebarItem/SidebarItem.jsx
  src/components/Site/Site.jsx
  src/components/StarterKits/StarterKits.jsx
  src/components/Vote/Vote.jsx
  src/components/Vote/Vote.scss
  src/content/api/compiler-hooks.md
  src/content/api/node.md
  src/content/concepts/modules.md
  src/content/concepts/output.md
  src/content/configuration/configuration-languages.md
  src/content/configuration/dev-server.md
  src/content/configuration/module.md
  src/content/configuration/optimization.md
  src/content/configuration/output.md
  src/content/configuration/resolve.md
  src/content/configuration/stats.md
  src/content/contribute/writing-a-loader.md
  src/content/guides/csp.md
  src/content/guides/getting-started.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/integrations.md
  src/content/guides/shimming.md
  src/content/guides/typescript.md
  src/content/loaders/index.md
  src/content/plugins/commons-chunk-plugin.md
  src/content/plugins/define-plugin.md
  src/content/plugins/source-map-dev-tool-plugin.md
  src/index.jsx
  src/scripts/check-links.js
  src/scripts/deploy.sh
  src/scripts/env.sh
  src/scripts/fetch.sh
  src/utilities/fetch-package-readmes.js
  src/utilities/fetch-package-repos.js
  src/utilities/fetch-supporters.js
  src/utilities/fetch_packages.js
  src/utilities/process-readme.js
  webpack.prod.js
  yarn.lock
Labels: Infrastructure

#2085 Added documentation for [contenthash] #6839
  src/content/configuration/output.md
Labels: Configuration

#2130 Try to clarify how ignore-plugin works
  src/content/plugins/ignore-plugin.md
Labels: Enhancement, Plugins

#2087 docs(cli): Added missing output flag in example.
  src/content/api/cli.md
Labels: API

#2090 Add temporary warning
  src/content/guides/code-splitting.md
Labels: Guides

#2368 docs(plugins) AutomaticPrefetchPlugin
  src/content/plugins/automatic-prefetch-plugin.md
Labels: Plugins

#2063 Remove unnecessary escape character
  src/content/plugins/context-replacement-plugin.md
Labels: Plugins

#2409 docs(guides): change var to let and move lodash under dependencies
  src/content/guides/getting-started.md
Labels: Guides

#2422 Update doc for BannerPlugin
  src/content/plugins/banner-plugin.md
Labels: Plugins

#2431 update the output.filename docs
  src/content/configuration/output.md
Labels: Configuration

#2435 remove duplicate warning
  src/content/guides/code-splitting.md
Labels: Guides

#2439 Update glossary.md
  src/content/glossary.md
Labels: Documentation

#2441 fix(docs) Added a mention about ModuleConcatenationPlugin in the tree shaking (#2440)
  src/content/guides/tree-shaking.md
Labels: Guides

#2434 minimizer only accepts an array
  src/content/configuration/optimization.md
Labels: Configuration

#2240 Use React Refs instead of DOM queries
  src/components/Navigation/Navigation.jsx
Labels: UI/UX

#2341 docs(api) rename parser page into JavascriptParser
  src/content/api/parser.md
Labels: API, webpack5

#2454 removing webpack-command
  src/content/guides/installation.md
Labels: Guides

#2448 added name to the contribution
  src/content/concepts/loaders.md
Labels: Concepts

#2447 docs(cli) remove webpack-command
  src/content/api/cli.md
  src/content/guides/installation.md
Labels: API, Guides

#2427 docs(guides) updates to code splitting guide
  src/content/guides/code-splitting.md
Labels: Guides

#2453 Fix regressions from #2451
  package.json
  src/utilities/process-readme.js
Labels: Infrastructure

#2426 docs(guides) update tree shaking guide, make syntax consistent
  src/content/guides/tree-shaking.md
Labels: Guides

#2346 docs(plugins) SplitChunks defaults update
  src/content/plugins/split-chunks-plugin.md
Labels: New Release, Plugins, webpack5

#2444 Issues/2424 Update plugins configuration example
  src/content/configuration/plugins.md
Labels: Configuration, Plugins

#2462 Update index.md
  src/content/configuration/index.md
Labels: Configuration

#2456 docs(config) optimization portableRecords doc
  src/content/configuration/optimization.md
Labels: Configuration

#2467 Remove array from possible values of Rule.sideEffects
  src/content/configuration/module.md
Labels: Configuration

#2442 Update hot-module-replacement.md
  src/content/concepts/hot-module-replacement.md
Labels: Concepts

#2293 docs: add ProgressPlugin + progress reporting
  src/content/api/plugins.md
  src/content/plugins/index.md
  src/content/plugins/progress-plugin.md
Labels: Plugins

#2415 Add caveat for using http-proxy-middleware options
  src/content/configuration/dev-server.md
Labels: Configuration

#2153 Update code-splitting.md
  src/content/guides/code-splitting.md
Labels: Guides

#2433 Create why-webpack
  src/content/concepts/why-webpack.md
Labels: Concepts

#2473 fix: Update why-webpack.md
  src/content/concepts/why-webpack.md
Labels: Concepts

#2475 Removed a duplicate sentence
  src/content/concepts/why-webpack.md
Labels: Concepts
