Repository webpack/webpack.js.org, pull requests merged in 2018-06, with the labels that each got.

#2203 Tune the hooks description a bit
  src/content/api/compiler-hooks.md
Labels: API

#1904 Some fix in import dynamically
  src/content/guides/code-splitting.md
Labels: Correction, Guides, New Release

#1894 Add pitfalls of using other than `hex` hashDigest.
  src/content/configuration/output.md
Labels: Configuration, Enhancement

#1816 docs(api): update query/options/rootContext for loaders
  src/content/api/loaders.md
Labels: API, Enhancement, New Release

#2213 Update API documentation about hooks
  src/content/api/compilation-hooks.md
  src/content/api/parser.md
  src/content/api/plugins.md
Labels: API

#2216 Update loaders.md
  src/content/concepts/loaders.md
Labels: Concepts

#2214 gitignore: add yarn-error.log
  .gitignore
Labels: Infrastructure

#2235 Rebuild use packages
  package.json
  src/utilities/remark-custom-blockquotes.js
  src/utilities/remark-extract-anchors.js
  src/utilities/remark-refractor.js
  src/utilities/tree-plugin-enhancer.js
  webpack.common.js
  yarn.lock
Labels: Infrastructure

#2238 docs(tree-shaking): bundle minified problem
  src/content/guides/tree-shaking.md
Labels: Guides

#2232 By default it uses 'main.js' instead bundle.js
  src/content/guides/getting-started.md
Labels: Guides

#2202 Update the “Writing a plugin” docs for the new plugin API
  src/content/contribute/writing-a-plugin.md
Labels: Contribute, Plugins

#2206 Update mode.md
  src/content/concepts/mode.md
Labels: Concepts

#2226 Add `test` task to TravisCI, use `yarn`
  .travis.yml
  src/content/concepts/mode.md
  src/scripts/deploy.sh
Labels: Infrastructure

#2245 Include a tip for require.context and watching
  src/content/configuration/watch.md
Labels: Configuration

#2249 feature: pre-commit hooks
  package.json
  yarn.lock
Labels: Infrastructure

#1977 Update define-plugin.md
  src/content/plugins/define-plugin.md
Labels: Correction, Plugins

#2180 docs(plugins) Link split chunks example from the plugin page
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2263 Update TypeScript configuration for Webpack config
  src/content/configuration/configuration-languages.md
Labels: Configuration

#2124 docs(configuration) mention defaults in config example (#1903)
  src/content/configuration/index.md
Labels: Configuration

#2271 Docs optimization
  src/content/configuration/optimization.md
Labels: Documentation

#2110 docs(sideEffects): documented rule and updated tree-shaking terms
  src/content/configuration/module.md
  src/content/guides/tree-shaking.md
Labels: Configuration, Guides

#2277 Combine duplicative sentences in output.md
  src/content/concepts/output.md
Labels: Concepts

#2259 Making the examples consistent.
  src/content/guides/getting-started.md
Labels: Guides

#2256 chore: add package-lock to gitignore, add note about yarn
  .github/CONTRIBUTING.md
  .gitignore
  .npmrc
Labels: Build Process & Testing, Infrastructure

#2282 docs(config): updated module.noParse example
  src/content/configuration/module.md
Labels: Configuration

#2273 docs(config) document removeAvailableModules option
  src/content/configuration/optimization.md
Labels: Configuration, Documentation

#2285 Add chunkGroups option to stats config docs
  src/content/configuration/stats.md
Labels: Configuration

#2254 Rebuild sitemap and others
  .alexignore
  .gitignore
  antwar.bootstrap.js
  antwar.config.js
  package.json
  src/components/Navigation/Links.json
  yarn.lock
Labels: Infrastructure

#2284 Update production.md
  src/content/guides/production.md
Labels: Guides

#2287 guides(HMR) remove namedModulesPlugin
  src/content/guides/hot-module-replacement.md
  src/content/plugins/named-modules-plugin.md
Labels: Plugins

#2281 Use main.js throughout guides/getting-started.md
  src/content/guides/getting-started.md
Labels: Guides

#2274 fix(accessibility) Improve accessibility of the site
  src/components/Contributors/Contributors.jsx
  src/components/Navigation/Navigation.jsx
  src/components/NotificationBar/NotificationBar.jsx
  src/components/Shield/Shield.jsx
  src/components/SplashViz/SplashVizSVG.js
  src/styles/markdown.scss
  src/styles/partials/_vars.scss
  src/styles/prism-theme.scss
  src/utilities/markdown.js
  template.ejs
Labels: UI/UX

#2229 Update production.md
  src/content/guides/production.md
Labels: Guides

#2228 Update development.md - grammar, rephrasing
  src/content/guides/development.md
Labels: Guides

#2290 fix(site) Fix search input appearance so it looks consistent
  src/components/Navigation/Navigation.scss
Labels: UI/UX

#2164 Fix link to html-webpack-plugin options section
  src/content/plugins/html-webpack-plugin.md
Labels: Plugins

#2159 Add --build-delimiter to the cli options
  src/content/api/cli.md
Labels: API

#2152 Fix documented default for resolve.extensions
  src/content/configuration/resolve.md
Labels: Configuration

#2147 docs(cli): update cli docs with execution warning
  src/content/api/cli.md
Labels: API, Documentation

#2212 purposes -> properties
  src/content/concepts/index.md
Labels: Concepts

#2142 Update html-webpack-plugin.md
  src/content/plugins/html-webpack-plugin.md
Labels: Plugins

#1889 Clearer wording about multiple module styles.
  src/content/guides/shimming.md
Labels: Clarification, Enhancement, Guides

#2278 docs(guides) Extracting Boilerplate updates to v4
  src/content/guides/caching.md
Labels: Documentation

#2295 docs(config) document removeEmptyChunks and mergeDuplicateChunks
  src/content/configuration/optimization.md
Labels: Documentation

#2123 Correct suitable for production information in devtool
  src/content/configuration/devtool.md
Labels: Configuration, Correction

#2116 output.chunkFilename can no longer be function
  src/content/configuration/output.md
Labels: Configuration, Correction

#2003 Update contributors
  src/content/configuration/stats.md
Labels: Configuration

#2291 Fix the order of loaders
  src/content/configuration/module.md
Labels: Configuration

#2008 Fix the sequence of loaders
  src/content/configuration/module.md
Labels: Configuration, Correction

#1999 Add fengari-loader to list of loaders
  src/content/loaders/index.md
Labels: Documentation, Loaders

#1932 Add the default value for mode setting
  src/content/concepts/mode.md
Labels: Concepts, New Release

#1966 Update index.md
  src/content/concepts/index.md
Labels: Concepts, Documentation

#1927 Inline loaders concept: replace 'overwrite' with 'override'
  src/content/concepts/loaders.md
Labels: Clarification, Concepts

#1930 docs(api) fixed links in resolvers.md
  src/content/api/resolvers.md
Labels: API, Correction

#1986 chore(cli): fix some style
  src/content/api/cli.md
Labels: API, Enhancement, UI/UX

#1989 fix: Fix variable name
  src/content/guides/shimming.md
Labels: Correction, Guides
