Repository webpack/webpack.js.org, pull requests merged in 2019-08, with the labels that each got.

#2834 updated 4.md
  src/content/migrate/4.md
Labels: Guides

#3229 docs(hot-module-replacement): Add Svelte HMR link
  src/content/guides/hot-module-replacement.md
Labels: Guides

#3233 docs(config) improve documentation about [contenthash]
  src/content/configuration/output.md
Labels: Configuration

#3220 docs(config) add note for escaping path variables
  src/content/configuration/output.md
Labels: Configuration

#3237 docs(config) correct optimization.removeAvailableModules
  src/content/configuration/optimization.md
Labels: Configuration

#3238 docs(api) document logger api
  src/content/api/compilation-hooks.md
  src/content/api/compilation-object.md
  src/content/api/compiler-hooks.md
  src/content/api/logging.md
  src/content/api/module-methods.md
  src/content/api/module-variables.md
  src/content/api/parser.md
  src/content/api/plugins.md
  src/content/api/resolvers.md
Labels: API

#3236 docs(api) document assetEmitted hook
  src/content/api/compiler-hooks.md
Labels: API

#3242 docs(config) fix up inconsistency
  src/content/configuration/optimization.md
Labels: Configuration

#3241 docs(api) document runtime logger usage
  src/content/api/logging.md
Labels: API

#3243 docs(api) logger status method
  src/content/api/logging.md
Labels: API

#3211 docs(dev-server.md): Clarify the possible return value for devServer.…
  src/content/configuration/dev-server.md
Labels: Configuration

#3248 docs(guides): fix typos in HMR guide
  src/content/guides/hot-module-replacement.md
Labels: Guides

#3234 docs(guides) correct guides intro
  src/content/guides/index.md
Labels: Guides

#3245 docs(guides): fix typos and a link hash
  src/content/guides/development.md
Labels: Grammar, Guides

#3251 chore(deps): bump lodash.template from 4.4.0 to 4.5.0
  yarn.lock
Labels: dependencies

#3232 docs(loaders) document loaders logging usage
  src/content/api/loaders.md
Labels: API

#3252 docs(contrib) Kick off types generalization work
  src/content/contribute/writers-guide.md
Labels: Contribute

#3258 docs(guides) sync package.json files in guides
  src/content/guides/development.md
Labels: Guides

#3098 fix(nav): makes the nav to show always on the top
  src/components/Navigation/Navigation.scss
  src/components/NotificationBar/NotificationBar.scss
  src/components/Site/Site.jsx
  src/components/Site/Site.scss
  src/components/SplashViz/SplashViz.scss
Labels: Site Structure, UI/UX

#3147 chore(organization): fixes the breaking layout of organization page
  src/components/Contributors/Contributors.scss
  src/components/Organization/Organization.scss
Labels: UI/UX

#3150 chore(glossary): removes blank sections
  src/content/glossary.md
Labels: Glossary

#3260 docs(config) apply consistent types format, small example added to co…
  src/content/configuration/dev-server.md
  src/content/configuration/entry-context.md
  src/content/configuration/mode.md
  src/content/configuration/node.md
  src/content/configuration/optimization.md
  src/content/configuration/other-options.md
  src/content/configuration/output.md
  src/content/configuration/performance.md
  src/content/configuration/resolve.md
  src/content/configuration/target.md
  src/content/configuration/watch.md
  src/content/contribute/writers-guide.md
Labels: Configuration, Contribute

#3264 chore(site): Upgraded remark-extract-anchors
  package.json
Labels: Site Structure

#3259 docs(ui) make mobile menu close button fixed for convenience
  src/components/SidebarMobile/SidebarMobile.jsx
Labels: UI/UX

#3255 Update plugins.md
  src/content/concepts/plugins.md
Labels: Plugins

#3257 docs(config) refactor stats options, update links, update info
  src/content/api/loaders.md
  src/content/api/logging.md
  src/content/api/plugins.md
  src/content/configuration/other-options.md
  src/content/configuration/stats.md
Labels: Configuration

#3271 Fix addModule's description
  src/content/api/compilation-object.md
Labels: API
