Repository webpack/webpack.js.org, pull requests merged in 2019-04, with the labels that each got.

#2906 docs(guides) fix broken anchor
  src/content/guides/production.md
Labels: Guides

#2844 Clarify webpack installation steps
  src/content/guides/getting-started.md
Labels: Guides

#2915 Fixed anchor id
  src/content/configuration/resolve.md
Labels: Configuration

#2913 Clarify behavior of resolve.extensions.
  src/content/configuration/resolve.md
Labels: Configuration

#2917 Escape backslashes in mdx files
  src/content/api/node.mdx
  src/content/concepts/loaders.mdx
  src/content/configuration/index.mdx
  src/content/configuration/module.mdx
Labels: API, Concepts

#2914 docs(infra) format scss files for maintainability
  src/components/Cube/Cube.scss
  src/components/Footer/Footer.scss
  src/components/Markdown/Markdown.scss
  src/components/Markdown/prism-theme.scss
  src/components/SidebarItem/SidebarItem.scss
  src/components/SidebarMobile/SidebarMobile.scss
  src/components/Splash/Splash.scss
Labels: Infrastructure

#2891 docs: improve docs
  src/content/guides/code-splitting.md
Labels: Grammar

#2925 Convert finishModules hook to be an AsyncSeries
  src/content/api/compilation-hooks.md
Labels: API

#2923 docs(dev-server): New http2 option
  src/content/configuration/dev-server.md
Labels: Configuration

#2892 Fix links to API methods in the code splitting article
  src/content/guides/code-splitting.md
Labels: Guides

#2929 docs(api) fix links on api loaders page
  src/content/api/loaders.md
Labels: API, Loaders

#2852 docs(compilation-hooks): improve descriptions and formatting
  src/content/api/compilation-hooks.md
Labels: API

#2941 Grammar correction
  src/content/guides/caching.md
Labels: Grammar, Guides

#2933 docs(dev-server): Add documentation for `mimeTypes` option
  src/content/configuration/dev-server.md
Labels: Configuration

#2945 docs(config) correct caching default, fix minors
  src/content/configuration/other-options.md
Labels: Configuration

#2949 docs(api) fix up markup to not render sort attribute in the menu
  src/content/api/resolvers.md
Labels: UI/UX

#2950 docs(license) fix up markup to not render sort attribute in the menu
  src/content/license.md
Labels: UI/UX

#2947 ui(homepage) fix heading alignment
  src/components/Splash/Splash.scss
Labels: UI/UX

#2940 fix(links): fix anchor links to /configuration/output
  src/content/configuration/configuration-types.md
  src/content/configuration/entry-context.md
  src/content/configuration/externals.md
  src/content/guides/author-libraries.md
  src/content/plugins/dll-plugin.md
Labels: Configuration, Guides, Plugins

#2953 docs(dev-server): Add documentation for `serveIndex` option
  src/content/configuration/dev-server.md
Labels: Configuration

#2962 docs(guides): Update var to let, const
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/caching.md
  src/content/guides/code-splitting.md
  src/content/guides/dependency-management.md
  src/content/guides/getting-started.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/integrations.md
  src/content/guides/lazy-loading.md
  src/content/guides/output-management.md
  src/content/guides/production.md
  src/content/guides/shimming.md
  src/content/guides/tree-shaking.md
Labels: Guides

#2957 markup(html) add missing required attribute lang
  src/server.jsx
Labels: Bug, Infrastructure

#2964 infa(fetch) add hide option to the fetch script, hide deprecated package
  repositories/loaders.json
  src/utilities/fetch-package-repos.js
Labels: Infrastructure, Loaders

#2963 infra(wp) update webpack and lockfile for latest acorn
  package.json
  yarn.lock
Labels: Infrastructure

#2931 Change Heading Level of "Magic Comments" Section
  src/content/api/module-methods.md
Labels: API

#2944 docs(plugins) dll plugin inline quotation
  src/content/plugins/dll-plugin.md
Labels: Plugins

#2965 fix(contribute): Uncaught error in a compiler example.
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#2952 ui(homepage): improves text alignment
  src/components/Contributors/Contributors.scss
  src/components/Dropdown/Dropdown.scss
  src/components/Footer/Footer.scss
  src/components/Logo/Logo.scss
  src/components/Markdown/Markdown.scss
  src/components/Markdown/prism-theme.scss
  src/components/Navigation/Navigation.scss
  src/components/Navigation/Search.scss
  src/components/Organization/Organization.scss
  src/components/Placeholder/Placeholder.scss
  src/components/SidebarItem/SidebarItem.scss
  src/components/SidebarMobile/SidebarMobile.scss
  src/components/Splash/Splash.scss
  src/components/Support/Support.scss
  src/styles/fonts.scss
  src/styles/index.scss
  src/styles/partials/_functions.scss
  src/styles/partials/_mixins.scss
  src/styles/partials/_vars.scss
Labels: UI/UX

#2959 fix unclickable links under gitter button container
  src/components/Gitter/Gitter.scss
Labels: Site Structure, UI/UX

#2956 speed(homepage) offload images until in viewport
  package.json
  src/components/Contributors/Contributors.jsx
  src/components/Support/Support.jsx
  yarn.lock
Labels: UI/UX

#2967 docs(plugins): add < v2 CleanWebpackPlugin caveat to guides
  src/content/guides/caching.md
  src/content/guides/development.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/production.md
  src/content/guides/progressive-web-application.md
Labels: Guides

#2968 site(misc) simplify rendering logic, clean dist on dev, clean config
  package.json
  src/index.jsx
  webpack.common.js
Labels: Bug, Site Structure

#2943 docs(plugins) Correct tag
  src/content/plugins/html-webpack-plugin.md
Labels: Plugins

#2942 docs(contrib) Quotation in contributors guide
  src/content/contribute/writers-guide.md
Labels: Contribute

#2975 misc(updates) Upgrade react to 16.6, stop loading gitter for all user…
  package.json
  src/components/Gitter/Gitter.jsx
  yarn.lock
Labels: Site Structure, UI/UX

#2970 feat(app): Add website manifest, minify CSS for production
  src/assets/PWA/images/icons/icon-128x128.png
  src/assets/PWA/images/icons/icon-144x144.png
  src/assets/PWA/images/icons/icon-152x152.png
  src/assets/PWA/images/icons/icon-192x192.png
  src/assets/PWA/images/icons/icon-384x384.png
  src/assets/PWA/images/icons/icon-512x512.png
  src/assets/PWA/images/icons/icon-72x72.png
  src/assets/PWA/images/icons/icon-96x96.png
  src/assets/PWA/manifest.json
  src/server.jsx
  webpack.prod.js
Labels: Infrastructure

#2978 fix: minor formatting updates to glossary
  src/content/glossary.md
Labels: Clarification

#2979 fix(safari) polyfill IntersectionObserver for safari
  package.json
  src/components/Contributors/Contributors.jsx
  src/components/Support/Support.jsx
  yarn.lock
Labels: Bug

#2971 build(minimize): minimize css on prod
  package.json
  webpack.prod.js
  yarn.lock
Labels: Build Process & Testing, Infrastructure
