Repository webpack/webpack.js.org, pull requests merged in 2019-11, with the labels that each got.

#3345 Add `: false` to `bail` documentation
  src/content/configuration/other-options.md
Labels: Configuration

#3349 Correct `stats.entrypoints` default value
  src/content/configuration/stats.md
Labels: Configuration

#3356 fix code error
  src/content/contribute/plugin-patterns.md
Labels: Contribute

#3360 Fix: corrected the mentioned loader api adddependency
  src/content/api/loaders.md
Labels: API

#3363 chore(ci): page need to deploy on cron jobs
  .travis.yml
Labels: Infrastructure

#3365 docs(versions) adds a snippet of the current doc version and link to …
  src/components/Sidebar/Sidebar.jsx
  src/components/Sidebar/Sidebar.scss
  src/components/Site/Site.jsx
Labels: Versioning

#3367 docs(links) fix broken anchors after next branch merge into master
  src/content/api/stats.mdx
  src/content/configuration/optimization.md
  src/content/configuration/other-options.md
Labels: Bug

#3361 docs(migrate) webpack 5 migration guide
  package.json
  sitemap-ignore.json
  src/content/migrate/3.md
  src/content/migrate/4.md
  src/content/migrate/5.md
Labels: Migrated

#3351 docs(guides) mention minimum node.js version in the beginning of gett…
  src/content/guides/getting-started.md
Labels: Guides

#3328 docs(multiple) remove webpack 1-2 notes as webpack 5 is closing in
  src/content/configuration/index.mdx
  src/content/plugins/commons-chunk-plugin.md
Labels: Configuration, Plugins

#3350 docs(config) document new output option, add warning
  src/content/api/stats.mdx
  src/content/configuration/output.md
Labels: Configuration

#3354 chore: updated the start script to fetch at first
  .github/CONTRIBUTING.md
Labels: Contribute
