Repository webpack/webpack.js.org, pull requests merged in 2019-03, with the labels that each got.

#2835 Enable horizontal scrolling for wide tables
  src/components/Markdown/Markdown.scss
Labels: Bug, UI/UX

#2837 Fix grammar in index.md
  src/content/concepts/index.md
Labels: Grammar

#2839 Update caching.md
  src/content/guides/caching.md
Labels: Guides

#2841 update URL to webpack configurator
  src/content/configuration/index.mdx
Labels: Configuration

#2838 docs: updates contributor nickname
  src/content/api/cli.md
  src/content/concepts/loaders.md
Labels: API, Concepts

#2803 docs(contrib) mention caveats
  src/content/contribute/writers-guide.md
Labels: Contribute

#2847 docs(concepts): add missing space in targets.md
  src/content/concepts/targets.md
Labels: Concepts

#2843 Fix indent in package.json example
  src/content/guides/getting-started.md
Labels: Guides

#2802 docs(config) mention cli config generator
  src/content/configuration/index.mdx
Labels: Configuration

#2817 Update installation.md
  src/content/guides/installation.md
Labels: Guides

#2855 Fix syntax in example code block
  src/content/guides/caching.md
Labels: Guides

#2859 Fixes the unscrollable sidebar
  src/components/Sidebar/Sidebar.scss
Labels: Needs testing, UI/UX

#2867 Update babel-preset-env links in shimming guide
  src/content/guides/shimming.md
Labels: Guides

#2851 build(webpack) Upgrade webpack to v4
  package.json
  src/components/Gitter/Gitter.jsx
  src/components/Vote/Vote.jsx
  src/components/Vote/Vote.scss
  src/styles/partials/_functions.scss
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: Infrastructure

#2870 infa(ignore) ignore links checker artifact
  .gitignore
Labels: Infrastructure

#2863 docs(contribute): Adds contributors for fix #2862
  src/content/contribute/writers-guide.md
Labels: Contribute

#2871 docs(configuration): Using mdx syntax.
  src/content/configuration/module.mdx
Labels: Configuration

#2875 Add correct reference for closure-webpack-plugin
  src/content/guides/production.md
Labels: Guides

#2790 docs(parser): Improving parser hooks documentation
  src/content/api/parser.md
Labels: API

#1943 Add sample with full path.
  src/content/plugins/provide-plugin.md
Labels: Plugins

#2880 docs(config) add new possible value of amd option
  src/content/configuration/other-options.md
Labels: Configuration

#2840 docs(compiler-hooks): adds examples, formatting and missing descriptions
  src/content/api/compiler-hooks.md
Labels: API

#2850 docs: improve api docs
  src/content/api/cli.md
  src/content/api/compilation-hooks.md
  src/content/api/loaders.md
  src/content/api/module-methods.md
  src/content/api/module-variables.md
  src/content/api/node.mdx
  src/content/api/plugins.md
Labels: Grammar

#2885 Update Elm HMR reference
  src/content/guides/hot-module-replacement.md
Labels: Guides

#2886 docs(config) shape up devServer.open in response to issue 2869
  src/content/configuration/dev-server.md
Labels: Configuration

#2884 CleanWebpackPlugin | Requires a config object
  src/content/guides/development.md
Labels: Guides

#2887 infra(eslint) force single quote for js?x
  .eslintrc
  src/components/Configuration/Configuration.jsx
  src/components/Dropdown/Dropdown.jsx
  src/components/Organization/Organization.jsx
  src/components/Support/AdditionalSupporters.js
  src/utilities/content-tree-enhancers.js
  src/utilities/fetch-package-repos.js
  src/utilities/markdown.js
  src/utilities/test-local-storage.js
Labels: Infrastructure

#2888 docs(guides) updates due to recent plugin update
  src/content/guides/development.md
  src/content/guides/output-management.md
Labels: Guides, Plugins

#2879 docs(guides) code splitting grammar and fix local links
  src/content/guides/code-splitting.md
Labels: Grammar, Guides

#2868 docs(guides) shimming doc -> documentation
  src/content/guides/shimming.md
Labels: Grammar, Guides

#2786 docs(writing-a-plugin): Removes broken code snipped
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#2898 docs(api) fix broken link and apply consistent formatting (sq in js)
  src/content/api/node.mdx
Labels: API

#2791 docs(devServer): add sockPath docs
  src/content/configuration/dev-server.md
Labels: Configuration

#2860 docs(guides): Adds scaffolding
  src/content/contribute/writing-a-scaffold.md
  src/content/guides/scaffolding.md
Labels: Contribute, Guides

#2889 docs: add note
  src/content/concepts/loaders.mdx
Labels: Loaders, Needs testing

#2902 Update writing-a-plugin.md
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#2904 Fix clipped header on homepage
  src/content/index.md
Labels: UI/UX

#2900 docs(guides) fix formatting, fix links, re-organize list
  src/content/guides/scaffolding.md
Labels: Guides

#2905 Mode/to configuration
  src/content/api/cli.md
  src/content/concepts/index.md
  src/content/configuration/mode.md
  src/content/configuration/optimization.md
  src/content/configuration/output.md
  src/content/guides/development.md
  src/content/guides/getting-started.md
  src/content/guides/production.md
  src/content/guides/tree-shaking.md
  src/content/migrate/4.md
  src/content/plugins/eval-source-map-dev-tool-plugin.md
  src/content/plugins/module-concatenation-plugin.md
  src/content/plugins/source-map-dev-tool-plugin.md
  webpack.prod.js
Labels: Concepts, Configuration

#2909 Update loaders.mdx
  src/content/concepts/loaders.mdx
Labels: Concepts

#2908 corrected typo later->latter
  src/content/concepts/index.md
Labels: Concepts
