Repository webpack/webpack.js.org, pull requests merged in 2019-10, with the labels that each got.

#3305 docs(DevServer): document writeToDisk output dir
  src/content/configuration/dev-server.md
Labels: Configuration

#3190 docs: add introduction and quickstart
  src/content/contribute/writing-a-scaffold.md
Labels: Contribute

#3288 fix(links) fix hydration overriding wrong elements of the ssr html
  src/components/Sidebar/Sidebar.jsx
  src/components/SidebarItem/SidebarItem.jsx
  src/components/SidebarMobile/SidebarMobile.jsx
  src/content/api/index.md
  src/content/concepts/index.md
  src/content/contribute/index.md
  src/content/guides/index.md
  src/content/guides/scaffolding.md
  src/content/index.md
  src/content/loaders/index.md
  src/content/migrate/index.md
  src/content/plugins/index.md
  src/scripts/concatenate-docs.js
Labels: Bug

#3302 docs(concepts) output single option list deprecated, link to the opti…
  src/content/concepts/output.md
Labels: Concepts

#3311 docs(concepts) loaders command fix and message re-worked
  src/content/concepts/loaders.mdx
Labels: Concepts

#3316 docs(misc) correct and enhance npm install snippets
  src/content/guides/getting-started.md
  src/content/guides/installation.md
Labels: Concepts, Guides

#3301 docs(concepts) entry points concepts typing according to styleguide; …
  src/content/concepts/entry-points.md
Labels: Concepts

#3323 docs(types) mention computed object key syntax and correct existing case
  src/content/concepts/entry-points.md
  src/content/contribute/writers-guide.md
Labels: Concepts, Contribute

#3306 docs(DevServer): expand on `devServer.openPage` usage
  src/content/configuration/dev-server.md
Labels: Configuration

#3318 docs(caching) : Update broken links
  src/content/guides/caching.md
Labels: Guides

#3331 docs(api) mention the version caveat for the new compilation object m…
  src/content/api/compilation-object.md
Labels: API

#3231 docs(cli): fix multiple-entry cli command
  src/content/api/cli.md
Labels: API

#3268 Add units
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3309 docs(configuration): modify consumer definition in the context of ext…
  src/content/configuration/externals.md
Labels: Configuration

#3223 docs: add sourceRoot description in SourceMapDevToolPlugin
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Plugins

#2373 webpack-dev-middleware options
  src/content/configuration/stats.md
Labels: Configuration

#2420 Added publicPath to output
  src/content/guides/code-splitting.md
Labels: Guides

#3327 docs(concepts) Modules page actualization
  src/content/concepts/modules.md
Labels: Concepts

#3332 docs(links) update the links to have trailing slash in order for anch…
  src/content/api/cli.md
  src/content/concepts/output.md
  src/content/configuration/configuration-types.md
  src/content/configuration/devtool.md
  src/content/configuration/entry-context.md
  src/content/configuration/index.mdx
  src/content/configuration/module.mdx
  src/content/configuration/other-options.md
  src/content/contribute/debugging.md
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/code-splitting.md
  src/content/guides/getting-started.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/lazy-loading.md
  src/content/guides/progressive-web-application.md
  src/content/loaders/index.md
  src/content/migrate/3.md
Labels: Bug

#3329 docs(concepts) correct main fileds title in the text to make sense
  src/content/concepts/module-resolution.md
Labels: Concepts

#3317 docs(configuration): add onListening, update after and before in devServer
  src/content/configuration/dev-server.md
Labels: Configuration

#3337 Upgrade to hyperlink 4.4.0
  package.json
  src/content/api/hot-module-replacement.md
  src/content/api/loaders.md
  src/content/api/module-methods.md
  src/content/api/node.mdx
  src/content/api/stats.mdx
  src/content/configuration/module.mdx
  src/content/configuration/output.md
  src/content/glossary.md
Labels: Build Process & Testing

#3339 docs(guides): adds missing braces in promise
  src/content/guides/code-splitting.md
Labels: Guides

#2890 Add warning on config in promise usage
  src/content/configuration/configuration-types.md
Labels: Configuration
