Repository webpack/webpack.js.org, pull requests merged in 2019-12, with the labels that each got.

#3377 docs(configuration): custom json parser
  src/content/configuration/module.mdx
Labels: Configuration

#3373 Docs for asset modules
  src/content/configuration/module.mdx
  src/content/configuration/output.md
  src/content/guides/asset-modules.md
Labels: Configuration, Guides

#3362 docs(configuration) : New stats option orphanModules, defaults to false
  src/content/configuration/stats.md
Labels: Configuration

#3359 docs(configuration) : Add ecma version option
  src/content/configuration/output.md
Labels: Configuration

#3347 docs(guides) fix up phrasing
  src/content/guides/asset-management.md
Labels: Guides

#3348 docs(guides) production guide formatting and small grammar
  src/content/guides/production.md
Labels: Guides

#3346 Add loader common code example
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#3387 Add description of the option `stats.preset`
  src/content/configuration/stats.md
Labels: Configuration

#3386 docs(config): Updated word usage error
  src/content/configuration/module.mdx
Labels: Configuration

#3382 docs(guides,config) asset module follow up
  src/content/configuration/module.mdx
  src/content/guides/asset-modules.md
Labels: Configuration, Guides

#3390 docs(plugin):Add entryOnly option in DllPlugin, also type
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3393 docs(config):remove cache.store option from documentation
  src/content/configuration/other-options.md
Labels: Configuration

#3383 docs(format) recent contributions violated writers guide fixed
  src/content/guides/build-performance.md
  src/content/guides/entry-advanced.md
  src/content/guides/integrations.md
  src/content/guides/production.md
  src/content/guides/tree-shaking.md
Labels: Guides

#3395 Update dev-server.md
  src/content/configuration/dev-server.md
Labels: Configuration

#3385 docs(config) : Removed compilationParams.compilationDependencies
  src/content/api/compiler-hooks.md
Labels: API

#3400 fix(plugins): Fixed typo
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3401 docs(plugins) remove loaderoptions plugin which was used for migratin…
  src/content/api/cli.md
  src/content/plugins/index.md
  src/content/plugins/loader-options-plugin.md
Labels: Plugins

#3289 docs(api): Document updates to assetEmitted hook
  src/content/api/compiler-hooks.md
Labels: API

#3384 docs(configuration) : Remove hashed and total-size for optimization.moduleIds
  src/content/configuration/optimization.md
Labels: Configuration

#3402 docs(config) document optimization.innerGraph config option
  src/content/configuration/optimization.md
Labels: Configuration

#3399 chore(output): add output.module and output.iife
  src/content/configuration/output.md
Labels: Configuration

#3380 docs(configuration) : Enable stats.loggingDebug: /webpack/ to get cor…
  src/content/configuration/stats.md
Labels: Configuration

#3409 Document new experiments option and finish off #3312
  src/content/configuration/experiments.md
  src/content/configuration/output.md
Labels: Configuration

#3408 docs(config) module.rule.parse option grammar improved, formatting fix
  src/content/configuration/module.mdx
Labels: Configuration

#3405 docs(config) output formatting fix
  src/content/configuration/output.md
Labels: Configuration

#3404 docs(config) optiomization moduleIds grammar
  src/content/configuration/optimization.md
Labels: Configuration, Grammar

#3403 docs(plugins) new dll plugin options markup fixed
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3407 docs(config) stats.orphanModules doc improved slightly
  src/content/configuration/stats.md
Labels: Configuration

#3391 Actuatlize info about modules in getting-started
  src/content/guides/getting-started.md
Labels: Guides

#3412 Issues/3410 Fix plugin name
  src/content/migrate/5.md
Labels: Migrated

#3379 docs(plugin) : Mention explicitly that ProfilingPlugin accepts only absolute paths
  src/content/plugins/profiling-plugin.md
Labels: Plugins

#3411 Typo 'suppported -> supported'
  src/content/guides/getting-started.md
Labels: Guides

#3396 docs(api) clarify module ID type and value origin, link related option
  src/content/api/module-methods.md
Labels: API

#3397 docs(api) cli shortcut updated
  src/content/api/cli.md
Labels: CLI

#3406 docs(config) stats.preset option extended according to codebase
  src/content/configuration/stats.md
Labels: Configuration

#3414 docs(module): add more information about nested rules
  src/content/configuration/module.mdx
Labels: Configuration

#3417 docs(plugins) split chunks automaticNamePrefix doc
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3275 added in information about source map
  src/content/guides/author-libraries.md
Labels: Guides

#3413 docs(webpack5): add new cache options
  src/content/configuration/other-options.md
Labels: Configuration

#3418 docs(guides) authoring libraries: source maps revamp
  src/content/guides/author-libraries.md
Labels: Guides

#3419 docs(guides) scaffolding guide small rephrasing to improve readability
  src/content/guides/scaffolding.md
Labels: Guides

#3429 chore(deps) upgrade security vulnerable deps, upgrade travis node to …
  .travis.yml
  package.json
  yarn.lock
Labels: Infrastructure

#3342 Add more info on splitChunks.{cacheGroup}.test
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3422 docs: update cli
  src/content/api/cli.md
Labels: API, Grammar

#3425 docs(compilation-object): fixed misleading info regarding unseal compilation object method
  src/content/api/compilation-object.md
Labels: API

#3433 docs(plugins) SplitChunks cacheGroup.test changes follow-up
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3428 docs(guides) improve require example folder syntax in dependecy manag…
  src/content/guides/dependency-management.md
Labels: Guides

#3423 docs: improve compilation-hooks
  src/content/api/compilation-hooks.md
Labels: API
