Repository webpack/webpack.js.org, pull requests merged in 2019-06, with the labels that each got.

#3087 Update reference to SplitChunksPlugin
  src/content/guides/build-performance.md
Labels: Guides

#3088 [DOCUMENTATION] update options argument: CleanWebpackPlugin
  src/content/guides/caching.md
Labels: Guides

#3090 Update renjithspace nickname
  src/content/configuration/stats.md
Labels: Configuration

#3092 Add code-splitting reference for Angular
  src/content/guides/lazy-loading.md
Labels: Guides

#3083 docs(plugins) remove unmaintained outdated plugin
  package.json
  repositories/plugins.json
  src/utilities/fetch-package-repos.js
  yarn.lock
Labels: Plugins

#3073 docs(plugins) fix dllReferencePlugin name option
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3101 docs(dev-server): document sockHost, change sockPort docs
  src/content/configuration/dev-server.md
Labels: Configuration

#3086 docs（GUIDES）（Asset Management）improved
  src/content/guides/asset-management.md
Labels: Guides

#3096 fix(guides): Update caching.md
  src/content/guides/caching.md
Labels: Grammar, Guides

#3093 feat(printable) cherry-pick SetTrends work and resolve confclicts
  .gitignore
  package.json
  src/assets/icon-print.svg
  src/components/Contributors/Contributors.scss
  src/components/Gitter/Gitter.scss
  src/components/NotificationBar/NotificationBar.scss
  src/components/Page/Page.jsx
  src/components/PageLinks/PageLinks.jsx
  src/components/PageLinks/PageLinks.scss
  src/components/Print/Print.js
  src/components/Print/Print.scss
  src/components/Print/PrintScript.js
  src/components/Sidebar/Sidebar.jsx
  src/components/Sidebar/Sidebar.scss
  src/components/Site/Site.scss
  src/scripts/concatenate-docs.js
  src/server.jsx
  src/utilities/content-utils.js
  webpack.prod.js
Labels: New Feature, UI/UX

#3105 feat(site) Improve heading display when buttons overlap headings…
  src/components/Page/Page.jsx
  src/components/Page/Page.scss
  src/components/PageLinks/PageLinks.scss
Labels: UI/UX

#3108 fix(sitemap) remove unwanted pages from sitemap
  package.json
  sitemap-ignore.json
Labels: Infrastructure, SEO

#2248 shorter animation logic
  src/components/Cube/Cube.jsx
Labels: Needs Clarification, UI/UX

#2824 Updated index.mdx
  src/content/configuration/index.mdx
Labels: Configuration, Grammar

#2961 doc/addSockPath cli
  src/content/configuration/dev-server.md
Labels: Configuration, On hold

#3039 fix(firefox): background fix for firefox dark theme
  src/components/Site/Site.scss
Labels: UI/UX

#2769 Minor formatting tweaks
  src/content/concepts/entry-points.md
Labels: Concepts, Grammar

#3106 Update entry-context.md
  src/content/configuration/entry-context.md
Labels: Configuration

#3051 docs(devserver): add documentation for liveReload option
  src/content/api/cli.md
  src/content/configuration/dev-server.md
Labels: API, Configuration

#2822 Update LimitChunkCountPlugin docs
  src/content/plugins/limit-chunk-count-plugin.md
  src/content/plugins/min-chunk-size-plugin.md
Labels: Plugins

#2432 not necessary to use full URL for HMR
  src/content/configuration/dev-server.md
Labels: Configuration

#3091 update: service worker docs
  src/content/guides/progressive-web-application.md
Labels: Guides

#3084 More readable tip for the Output section
  src/content/concepts/index.md
Labels: Concepts

#3082 Update parser.md
  src/content/api/parser.md
Labels: API

#2976 docs(clientLogLevel): update clientLogLevel options
  src/content/configuration/dev-server.md
Labels: Configuration

#3059 fix errors in caching.md
  src/content/guides/caching.md
Labels: Guides

#3118 docs(plugins): clarify function provided to splitChunks.name
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3121 docs(contribute) fix broken link
  src/content/contribute/index.md
Labels: Documentation

#3102 docs(plugins) document ProvidePlugin
  src/content/plugins/progress-plugin.md
Labels: Plugins

#3120 docs(plugins) improve splitChunks name function doc
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3124 contrib(readme) mention webpack 5 progress lag
  README.md
Labels: Contribute

#3123 git(template) add a checkbox for issue authors to express the will to…
  .github/ISSUE_TEMPLATE/Documentation_request.md
Labels: Contribute

#3064 misc(url) enforce trailing slash, make sure we are building trailing …
  src/components/Site/Site.jsx
  src/utilities/content-tree-enhancers.js
Labels: Site Structure

#3068 ui(mobile) fix headings being cut off screen
  src/components/Markdown/Markdown.scss
Labels: Bug, UI/UX

#3122 Update caching.md
  src/content/guides/caching.md
  src/content/guides/development.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/production.md
  src/content/guides/progressive-web-application.md
Labels: Guides

#3014 Adding documentation for output.libraryTarget 'system'
  src/content/configuration/output.md
Labels: Configuration

#3125 docs(api) remove mention of the apply method
  src/content/api/plugins.md
Labels: API, webpack5

#3129 fix(site): Fixed branding guide violation
  src/components/Navigation/Navigation.jsx
Labels: Site Structure, UI/UX

#3128 fix(guides): Fixed branding guide violation
  src/content/guides/getting-started.md
Labels: Guides

#3131 site(ux) Fix the menu issue caused by printable sidebar item index sw…
  src/components/Print/Print.js
  src/components/Sidebar/Sidebar.jsx
  src/components/SidebarItem/SidebarItem.jsx
  src/scripts/build-content-tree.js
Labels: Bug, Infrastructure, UI/UX

#3130 fix: loader overridden explanation
  src/content/configuration/module.mdx
Labels: Configuration

#3139 docs(configuration languages): remove reference to deleted tweet
  src/content/configuration/configuration-languages.md
Labels: Configuration

#3137 docs(configuration): add electron-preload as available target
  src/content/configuration/target.md
Labels: Configuration

#3141 docs(guides) mention that only default export will work for json in w…
  src/content/guides/asset-management.md
Labels: Guides, webpack5

#3142 docs(guides): add bundle-stats link to code-splitting
  src/content/guides/code-splitting.md
Labels: Guides

#3099 feat(nav): adds link for the swag store in the footer
  src/components/Footer/Footer.jsx
Labels: SEO, Site Structure

#3145 docs(guides): correct verb (3rd person singular -> plural)
  src/content/guides/development.md
Labels: Grammar, Guides

#3149 docs(misc) IgnorePlugin removed method. Chunk.files now a Set
  src/content/contribute/plugin-patterns.md
  src/content/plugins/ignore-plugin.md
Labels: API, Contribute, Plugins

#3135 allow filename as function for SplitChunks plugin
  src/content/plugins/split-chunks-plugin.md
Labels: New Feature, Plugins, webpack5

#3153 docs(plugins) SplitChunks plugin minRemainingSize option
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins, webpack5
