Repository webpack/webpack.js.org, pull requests merged in 2019-07, with the labels that each got.

#3155 Typo
  src/content/configuration/configuration-languages.md
Labels: Configuration

#3134 docs(guides) update caching guide with latest recommended solution
  src/content/guides/caching.md
Labels: Guides

#3160 Fix typo "promted" -> "prompted"
  src/content/configuration/index.mdx
Labels: Configuration

#3154 docs(plugins): Refer to optimization configuration
  src/content/plugins/module-concatenation-plugin.md
Labels: Plugins

#3162 Made easier to read the two test examples provided
  src/content/concepts/index.md
Labels: Concepts, Grammar

#3146 refactor(starter-kit): improves UX of starter kit and fixes layout
  src/components/Markdown/Markdown.scss
  src/components/StarterKits/StarterKits.jsx
  src/components/StarterKits/StarterKitsTable.jsx
Labels: UI/UX

#3151 feat(nav): adds twitter button in the navbar
  src/components/Navigation/Navigation.jsx
  src/styles/icons/twitter.svg
Labels: Site Structure, UI/UX

#3164 misc(web) add robots txt; change a to button for print; apply styling…
  src/assets/robots.txt
  src/components/PageLinks/PageLinks.jsx
  src/components/PageLinks/PageLinks.scss
  src/server.jsx
  src/styles/index.scss
  webpack.prod.js
  webpack.ssg.js
Labels: Infrastructure, UI/UX

#3169 Fix inaccurate description of callback in MultiCompiler
  src/content/api/node.mdx
Labels: API

#3156 Update writing-a-plugin.md
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3166 Update source-map-dev-tool-plugin.md
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Plugins

#3165 Spelling consistency and typos
  src/content/api/cli.md
  src/content/api/compilation-hooks.md
  src/content/api/compiler-hooks.md
  src/content/api/hot-module-replacement.md
  src/content/api/loaders.md
  src/content/api/module-methods.md
  src/content/api/module-variables.md
  src/content/api/node.mdx
  src/content/concepts/configuration.md
  src/content/concepts/entry-points.md
  src/content/concepts/hot-module-replacement.md
  src/content/concepts/index.md
  src/content/concepts/manifest.md
  src/content/concepts/module-resolution.md
  src/content/concepts/modules.md
  src/content/concepts/output.md
  src/content/concepts/targets.md
  src/content/concepts/why-webpack.md
  src/content/contribute/writing-a-loader.md
Labels: API, Concepts, Contribute, Grammar

#3126 docs(api) dynamic expressions in import()
  src/content/api/module-methods.md
  src/content/guides/code-splitting.md
Labels: API, Guides

#3163 docs(plugins): removes inexistent sourceURLTemplate option from EvalSourceMapDevToolPlugin
  src/content/plugins/eval-source-map-dev-tool-plugin.md
Labels: Plugins

#3158 docs(guides) add advanced entry usage example with different filetypes
  src/content/guides/entry-advanced.md
Labels: Guides

#3173 fix(site): correction on proxy config
  src/content/configuration/dev-server.md
Labels: Configuration

#3115 feat(manifest) reduce maintenance amount of PWA files by using a plug…
  package.json
  src/assets/PWA/images/icons/icon-128x128.png
  src/assets/PWA/images/icons/icon-144x144.png
  src/assets/PWA/images/icons/icon-152x152.png
  src/assets/PWA/images/icons/icon-192x192.png
  src/assets/PWA/images/icons/icon-384x384.png
  src/assets/PWA/images/icons/icon-72x72.png
  src/assets/PWA/images/icons/icon-96x96.png
  src/assets/PWA/manifest.json
  src/assets/icon-pwa-512x512.png
  src/server.jsx
  webpack.prod.js
  webpack.ssg.js
  yarn.lock
Labels: Infrastructure, UI/UX

#3152 docs(config) Fix types and info on output section of config docs
  src/content/configuration/output.md
Labels: Configuration

#3172 docs(config) warnings about configuration removal
  src/content/configuration/resolve.md
Labels: Configuration

#3174 docs(plugins) mention specifics of minRemainingSize option
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins, webpack5

#3175 docs(config) document configuration experiments option
  src/content/configuration/experiments.md
  src/content/configuration/other-options.md
Labels: Configuration, webpack5

#3157 docs(guides) add clarifying tree shaking and sideEffects section
  src/content/guides/tree-shaking.md
Labels: Guides

#3177 Clarify the affected Node versions
  src/content/guides/build-performance.md
Labels: Guides

#3184 docs(api) clarify record* hooks behaviour
  src/content/api/compilation-hooks.md
Labels: API

#3187 docs: improve visibility of scaffolds
  src/content/contribute/index.md
Labels: Contribute

#3188 docs(config) output jsonpFunction clarified
  src/content/configuration/output.md
Labels: Configuration

#3189 docs: grammar
  .github/CONTRIBUTING.md
Labels: Site Structure

#3192 dosc(guides) mention unstable node caveat in the guide
  src/content/guides/getting-started.md
Labels: Guides

#3194 docs(guides) correct HMR guide
  src/content/guides/hot-module-replacement.md
Labels: Guides

#3198 docs(guides) clarify getting started directory structure tweak
  src/content/guides/getting-started.md
Labels: Guides

#3199 docs(config) document Rule.resolve
  src/content/configuration/module.mdx
Labels: Configuration

#3179 docs: added a note about alias resolution
  src/content/configuration/resolve.md
Labels: Configuration

#3203 Fixed typo in parser.md
  src/content/api/parser.md
Labels: API

#3201 docs(plugins) link compiler and compilation from writing a plugin page
  src/content/contribute/writing-a-plugin.md
Labels: API, Contribute

#3185 docs(plugins): add ExtendedAPIPlugin doc
  src/content/plugins/extended-api-plugin.md
Labels: Plugins

#3066 docs: improve guides
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/build-performance.md
  src/content/guides/development-vagrant.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/production.md
  src/content/guides/shimming.md
Labels: Guides

#3196 Update docs to explain what I assume "Dll" means
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3208 docs(config) document logging feature
  src/content/configuration/other-options.md
  src/content/configuration/stats.md
Labels: Configuration, New Feature

#3207 Updating with new babel-present-env modules link
  src/content/plugins/module-concatenation-plugin.md
Labels: Plugins

#3206 docs(concepts): fix typos in the Entry Points section
  src/content/concepts/entry-points.md
Labels: Concepts

#3204 Clarify array syntax of externals
  src/content/configuration/externals.md
Labels: Configuration

#3210 docs(api) document infrastructureLog and log compiler hooks
  src/content/api/compiler-hooks.md
Labels: API

#3183 ui(search) fix mobile auto zoom on search input
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.scss
Labels: UI/UX

#3180 ui(search) improve mobile search ux/ui; close button on notification
  src/components/Navigation/Search.scss
  src/components/NotificationBar/NotificationBar.scss
Labels: UI/UX

#3212 Fix spelling of 'moduleSort'
  src/content/configuration/stats.md
Labels: Configuration

#3213 docs(writing-a-plugin.md): fix duplicate content
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3214 docs(config) removeAvailableModules are now disabled in mode development
  src/content/configuration/mode.md
Labels: Configuration

#3218 docs: update optimization.removeAvailableModules
  src/content/configuration/optimization.md
Labels: Configuration

#3202 docs(api) document compilation object
  src/content/api/compilation-object.md
Labels: API

#3221 docs(api) document plugins logger api usage
  src/content/api/plugins.md
  src/content/configuration/other-options.md
Labels: API, Configuration
