Repository webpack/webpack.js.org, pull requests merged in 2019-01, with the labels that each got.

#2737 docs(config) add new stats option is off by default
  src/content/configuration/stats.md
Labels: Configuration

#2736 docs(config) update externals function signature
  src/content/configuration/externals.md
  src/content/configuration/index.md
Labels: Configuration

#2748 Fixed a single word
  src/content/configuration/devtool.md
Labels: Configuration

#2749 Update installation.md to reference `npm build` vs. `npm start`
  src/content/guides/installation.md
Labels: Guides

#2747 docs(devServer): add `writeToDisk` option
  src/content/configuration/dev-server.md
Labels: Configuration

#2750 fix(misc) Fix yarn install on node v10+
  yarn.lock
Labels: Infrastructure

#2753 docs(config) node.global is true by default again, small tidy up
  src/content/configuration/node.md
Labels: Configuration

#2564 Rebuild Support for custom Markdown on Configuration page
  .editorconfig
  package.json
  src/components/Configuration/Configuration.jsx
  src/components/Configuration/Configuration.scss
  src/components/Configuration/components.js
  src/components/Markdown/Markdown.scss
  src/components/Page/Page.jsx
  src/content/api/node.mdx
  src/content/api/stats.mdx
  src/content/concepts/index.md
  src/content/configuration/index.md
  src/content/configuration/index.mdx
  src/utilities/content-utils.js
  webpack.common.js
  webpack.dev.js
  yarn.lock
Labels: UI/UX

#2766 docs(guides): Add "npm build" instruction on "Loading Data" section
  src/content/guides/asset-management.md
Labels: Guides

#2772 Grammar correction in Line 401 of the configuration page
  src/content/concepts/index.md
  src/content/configuration/index.md
Labels: Concepts, Configuration, Grammar

#2756 docs(config): Describe maxAsyncSize and maxInitialSize
  src/content/plugins/split-chunks-plugin.md
Labels: New Release, Plugins

#2776 docs(api) loaders inline matchRequest
  src/content/api/loaders.md
Labels: API, New Feature

#2757 docs(config) resolve page tidy up and improvements
  src/content/configuration/resolve.md
Labels: Configuration

#2775 docs(stats): Set stats.assetsByChunkName[x] to arrays
  src/content/api/stats.md
Labels: API

#2697 Note that `Rule.use` and `UseEntry` can be functions
  src/content/configuration/module.md
Labels: Configuration

#2778 docs(config) fix url and update format in plugins page
  src/content/configuration/plugins.md
Labels: Configuration

#2784 docs(stats): fixed typo in analogous
  src/content/api/stats.md
Labels: API

#2782 docs(compiler-hooks): fixes typo in afterEnvironment
  src/content/api/compiler-hooks.md
Labels: API

#2788 Fix footgun advice re loading polyfills
  src/content/guides/shimming.md
Labels: Guides

#2789 docs(concepts): fix typo in `entry-points` part
  src/content/concepts/entry-points.md
Labels: Grammar
