Repository webpack/webpack.js.org, pull requests merged in 2019-02, with the labels that each got.

#2795 Update build-performance.md
  src/content/guides/build-performance.md
Labels: Guides

#2796 Fix Wikipedia polyfill link
  src/content/guides/shimming.md
Labels: Guides

#2799 docs(concepts) Remove redundant words in mode.md
  src/content/concepts/mode.md
Labels: Concepts

#2798 Adding minor getting started clarifications
  src/content/guides/environment-variables.md
  src/content/guides/installation.md
Labels: Guides

#2777 docs(config): Highlight merging of chunks when splitChunks.name is a …
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#2781 fix(configuration): correcting grammar
  src/content/configuration/externals.md
Labels: Grammar

#2779 docs(config) stats preset extension and overrides
  src/content/configuration/stats.md
Labels: Configuration

#2793 docs(config) document optimization.mangleExports option
  src/content/configuration/optimization.md
Labels: Configuration

#2806 infra(lint) make links check manual
  .travis.yml
Labels: Infrastructure

#2807 Bring back linting of internal links
  .travis.yml
Labels: Infrastructure

#2810 docs(configuration): add a missing option
  package.json
  src/content/configuration/output.md
Labels: Configuration

#2811 Add info about loader overrides
  src/content/api/loaders.md
  src/content/configuration/module.md
Labels: API, Configuration

#2814 Updating getting-started.md
  src/content/guides/getting-started.md
Labels: Guides

#2813 docs: add note
  src/content/configuration/dev-server.md
Labels: Configuration

#2820 Update output-management.md
  src/content/guides/output-management.md
Labels: Guides

#2827 docs(Config.Optimization): correct typo namedChunks -> chunkIds
  src/content/configuration/optimization.md
Labels: Configuration

#2829 fix a little typo
  src/content/guides/hot-module-replacement.md
Labels: Guides

#2828 docs: grammar
  src/content/api/hot-module-replacement.md
  src/content/contribute/debugging.md
  src/content/contribute/index.md
Labels: API, Contribute, Grammar

#2825 fix(styles): don't let sidebar crossover footer
  src/components/Sidebar/Sidebar.scss
Labels: UI/UX

#2832 docs(guides): remove extra spaces before parentheses
  src/content/guides/author-libraries.md
Labels: Guides

#2809 site(vote) fix vote landing url
  src/index.jsx
Labels: Site Structure
