Repository webpack/webpack.js.org, pull requests merged in 2019-05, with the labels that each got.

#2981 Removed the relative path of bundle and main
  src/content/guides/asset-management.md
Labels: Guides

#2985 docs(guides) update wp version as follow up to #2984
  src/content/guides/production.md
Labels: Guides

#2984 Update development.md
  src/content/guides/development.md
Labels: Guides

#2990 fix(ui): Reduced mobile sidebar padding
  src/components/SidebarMobile/SidebarMobile.scss
Labels: UI/UX

#2988 normalModuleLoader will not be removed but moved
  src/content/api/compilation-hooks.md
Labels: API

#2987 docs(loaders) document prefixing inline imports
  src/content/concepts/loaders.mdx
Labels: Concepts, Loaders

#2994 docs(config) document new temporary option for output
  src/content/configuration/output.md
Labels: Configuration, New Feature

#2998 docs(resolve): Remove outdated '*' string comment
  src/content/configuration/resolve.md
Labels: Configuration

#2999 misc(seo) add canonical to the pages html, use trailing slash for con…
  package.json
  src/server.jsx
Labels: SEO

#3000 feat(pwa) use offline-plugin for service worker setup and offline sup…
  package.json
  src/components/Site/Site.jsx
  src/utilities/find-files-in-dist.js
  webpack.common.js
  webpack.prod.js
  webpack.ssg.js
  yarn.lock
Labels: Infrastructure, UI/UX

#2740 docs(config): add stats option `outputPath`
  src/content/configuration/stats.md
Labels: Configuration

#3004 feat(infra) Fix image sizes of the PWA
  src/assets/PWA/images/icons/icon-128x128.png
  src/assets/PWA/images/icons/icon-144x144.png
  src/assets/PWA/images/icons/icon-152x152.png
  src/assets/PWA/images/icons/icon-192x192.png
  src/assets/PWA/images/icons/icon-384x384.png
  src/assets/PWA/images/icons/icon-512x512.png
  src/assets/PWA/images/icons/icon-72x72.png
  src/assets/PWA/images/icons/icon-96x96.png
Labels: Infrastructure

#3003 docs(config) document new stats preset
  src/content/configuration/stats.md
Labels: Configuration, New Feature

#3006 Fix typos in split-chunks-plugin.md
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3008 fix(pwa) fix versioned assets from SSG run 404-ing via SW
  src/utilities/find-files-in-dist.js
  webpack.prod.js
Labels: Infrastructure

#3009 misc(style) fix gitter right position for mobile breakpoint
  src/components/Gitter/Gitter.scss
Labels: UI/UX

#3011 Update link to new Write a Loader doc
  src/content/concepts/loaders.mdx
Labels: Concepts

#3010 feat(icons) add tocuh icons for saving docs to homescreens, tune SW
  src/server.jsx
  webpack.prod.js
Labels: UI/UX

#3007 Fix URL errors in src/content/concepts/loaders.mdx and pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  src/content/concepts/loaders.mdx
Labels: Concepts

#3019 feat(sidebar): adds vote option in sidebar for mobile site
  src/content/license.md
  src/content/vote.md
Labels: Site Structure, UI/UX

#3018 chore(import): minor fixing in import statement
  src/components/Sidebar/Sidebar.jsx
Labels: Bug

#3022 chore(docs): improves URL macros in README.md
  README.md
Labels: Documentation

#3030 fix(seo) canonical mustn't be relative
  src/server.jsx
Labels: Bug

#3021 feat(FOIT) add font-dispaly for our font
  src/styles/fonts.scss
Labels: UI/UX

#3031 feat(docs): adds Gitter chat in README.md
  README.md
Labels: Enhancement

#3036 feat(foit) use font display for google fonts
  src/styles/index.scss
Labels: UI/UX

#3035 fix(URL): invalid URL in README.md
  README.md
Labels: Bug

#3045 Fix typo in code splitting documentation
  src/content/guides/code-splitting.md
Labels: Guides

#3054 Fetch supporters with Open Collective GraphQL API
  src/components/Support/Support.jsx
  src/utilities/fetch-supporters.js
Labels: Infrastructure

#2996 docs(config) document devServer options injectClient and injectHot
  src/content/configuration/dev-server.md
Labels: Configuration, New Feature

#2995 docs(config) document devServer sockPort option
  src/content/configuration/dev-server.md
Labels: Configuration, New Feature

#3060 fix(plugins): Fix SplitChunksPlugin cacheGroup priority option
  src/content/plugins/split-chunks-plugin.md
Labels: Configuration, Plugins

#3065 feat(site): Add sponsor button
  .github/FUNDING.yml
Labels: Support & Sponsors

#3067 fix(configuration): Fixed branding guide violation
  src/content/configuration/devtool.md
Labels: Configuration

#3029 speed(split) Split our bundle better
  .gitignore
  package.json
  src/components/Page/Page.jsx
  src/components/Placeholder/Placeholder.js
  src/components/Splash/Splash.jsx
  src/components/StarterKits/StarterKits.jsx
  src/components/StarterKits/StarterKitsTable.jsx
  yarn.lock
Labels: Infrastructure, UI/UX

#3069 docs(config): fixed broken link
  src/content/configuration/index.mdx
Labels: Configuration

#3074 fix(docs) fix broken link on node.mdx
  src/content/api/node.mdx
Labels: API

#3050 docs(config/node): add `boolean` to the type
  src/content/configuration/node.md
Labels: Configuration

#3070 fix: update name in manifest
  src/assets/PWA/manifest.json
Labels: Site Structure

#3075 docs(config) node config boolean only false allowed
  src/content/configuration/node.md
Labels: Configuration

#3078 docs: replace chunk.modules with chunk.getModules()
  src/content/api/compilation-hooks.md
  src/content/contribute/plugin-patterns.md
Labels: API, Contribute

#3085 Update output-management.md
  src/content/guides/output-management.md
Labels: Guides

#3037 feat(sidebar): improves sidebar section layout
  src/components/SidebarMobile/SidebarMobile.jsx
  src/components/SidebarMobile/SidebarMobile.scss
Labels: UI/UX
