Repository webpack/webpack.js.org, pull requests merged in 2019-09, with the labels that each got.

#3272 add: link to create new issue
  src/content/guides/index.md
Labels: Guides

#3269 docs(guides): fixes to the Tree Shaking guide
  src/content/guides/tree-shaking.md
Labels: Guides

#3240 docs(dev-server): add transportMode docs and examples
  src/content/configuration/dev-server.md
Labels: Configuration

#3256 docs(guides): fixes to the Production guide
  src/content/guides/production.md
Labels: Guides

#3274 Fix aspect ratio open collective sponsors
  src/components/Support/Support.scss
Labels: UI/UX

#3270 chore(update) fix security vulnerability found in marked <0.6.1
  package.json
  yarn.lock
Labels: dependencies

#3276 updated require.context to use the correct default
  src/content/guides/dependency-management.md
Labels: Guides

#3284 docs(concepts): link to code-splitting
  src/content/concepts/index.md
Labels: Concepts

#3283 docs(api) document stats asset info object props
  src/content/api/stats.mdx
Labels: API

#3285 docs(config) document performance side effect of optimization.removeA…
  src/content/configuration/optimization.md
Labels: Configuration

#3295 docs(concepts) improve linking from concepts entry to config entry
  src/content/concepts/index.md
Labels: Concepts

#3296 [MDF] Creating a plugin steps.
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3282 docs(api) document new compilation methods for assets
  src/content/api/compilation-object.md
Labels: API

#3299 docs(concepts) fix e.g. spelling
  src/content/concepts/module-resolution.md
Labels: Concepts

#3290 guides: add trailing commas to last items in js objects/arrays
  src/content/guides/asset-management.md
  src/content/guides/author-libraries.md
  src/content/guides/build-performance.md
  src/content/guides/caching.md
  src/content/guides/code-splitting.md
  src/content/guides/development-vagrant.md
  src/content/guides/development.md
  src/content/guides/entry-advanced.md
  src/content/guides/environment-variables.md
  src/content/guides/getting-started.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/integrations.md
  src/content/guides/output-management.md
  src/content/guides/production.md
  src/content/guides/progressive-web-application.md
  src/content/guides/public-path.md
  src/content/guides/scaffolding.md
  src/content/guides/shimming.md
  src/content/guides/tree-shaking.md
  src/content/guides/typescript.md
Labels: Guides

#3293 Build performance: progress plugin
  src/content/guides/build-performance.md
Labels: Guides

#3298 docs(loaders) mention elm loader which is pretty popular
  src/content/concepts/modules.md
  src/content/loaders/index.md
Labels: Concepts, Loaders

#3286 chore(deps) update and remove deps to kill of a few security warnings
  package.json
  webpack.common.js
  yarn.lock
Labels: Infrastructure, dependencies

#3294 docs(config,plugins) type updates
  src/content/configuration/output.md
  src/content/plugins/progress-plugin.md
  src/content/plugins/source-map-dev-tool-plugin.md
  src/content/plugins/split-chunks-plugin.md
  src/content/plugins/watch-ignore-plugin.md
Labels: Configuration, Plugins

#3297 docs(plugins) sourcemapdevtoolplugin append option extended
  src/content/plugins/source-map-dev-tool-plugin.md
Labels: Plugins
