Repository webpack/webpack.js.org, pull requests merged in 2020-07, with the labels that each got.

#3809 docs(concepts): remove the instruction that consumes bundle-loader
  src/content/concepts/module-federation.md
Labels: Concepts

#3813 move build script after cypress
  .travis.yml
Labels: Infrastructure

#3816 docs(guides): use tag `next`
  src/content/guides/installation.md
Labels: Guides

#3819 plugins:defaults changed
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3818 config: add info about output.scriptType
  src/content/configuration/output.md
Labels: Configuration

#3817 Fix node defaults
  src/content/configuration/node.md
Labels: Configuration

#3783 docs(concepts/module-federation): Using Dynamic Remotes
  src/content/concepts/module-federation.md
Labels: Concepts

#3821 docs(configuration): fix typo
  src/content/configuration/externals.md
Labels: Grammar

#3793 add links to navigate between pages
  .babelrc
  src/components/Page/AdjacentPages.jsx
  src/components/Page/AdjacentPages.scss
  src/components/Page/Page.jsx
  src/components/Sidebar/Sidebar.jsx
  src/components/Site/Site.jsx
  src/utilities/get-adjacent-pages/index.js
  src/utilities/get-adjacent-pages/index.test.js
Labels: UI/UX

#3833 docs(api): add plugin/loader example for Logger
  src/content/api/logging.md
Labels: API

#3837 docs(concepts) tidy up after #3783
  src/content/concepts/module-federation.md
Labels: Concepts

#3855 docs(config): remove output.jsonpScriptType references
  src/content/configuration/output.md
Labels: Configuration

#3853 feat: add enforceSizeThreshold in split chunks plugin
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3849 docs(configuration): mention jsonp
  src/content/configuration/externals.md
Labels: Configuration

#3848 docs(concepts): document empty entry
  src/content/concepts/entry-points.md
Labels: Concepts

#3851 docs(build-performance): update ts-loader section
  src/content/guides/build-performance.md
Labels: Guides

#3807 feat(config) Document Data URI import
  src/content/api/module-methods.md
  src/content/configuration/module.mdx
Labels: Configuration

#3815 fix(grammar) Update warning about schema-utils API
  src/content/contribute/writing-a-plugin.md
Labels: Contribute, Grammar

#3842 fix(ux) Fix scroll to top bug on Safari iOS 12.4.3
  src/components/Page/Page.jsx
Labels: UI/UX

#3827 docs(configuration): document resolve.roots
  src/content/configuration/resolve.md
Labels: Configuration

#3865 fix(config) Use relative URLs in links
  src/content/configuration/node.md
Labels: Configuration

#3808 docs(guides): Removed unnecessary publicPath option
  src/content/guides/code-splitting.md
Labels: Guides

#3841 docs: remove compiler.modifyHash & HMR multiStep + fullBuildTimeout
  src/content/api/compilation-object.md
  src/content/plugins/hot-module-replacement-plugin.md
Labels: Plugins

#3858 docs(configuration): fix misleading description
  src/content/configuration/optimization.md
Labels: Configuration

#3845 docs: improve cleverMerge to respect byDependency order correctly
  src/content/api/loaders.md
  src/content/configuration/optimization.md
Labels: API

#3878 fix(watch): remove watchOptions number docs
  src/content/configuration/watch.md
Labels: Configuration

#3870 Backport of resolve.roots for webpack 4
  src/content/configuration/resolve.md
Labels: Configuration, webpack4

#3861 Reword sentence about cleanStaleWebpackAssets
  src/content/guides/development.md
Labels: Guides

#3875 clearify which 'index.html' do we mean here
  src/content/guides/getting-started.md
Labels: Guides

#3824 merge is not a function
  src/content/guides/production.md
Labels: Guides

#3869 docs(guides): update SplitChunksPlugin defaults
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3832 docs(configuration): fix heading level
  src/content/configuration/other-options.md
Labels: Configuration

#3847 Update code-splitting.md
  src/content/guides/code-splitting.md
Labels: Plugins

#3521 Minor Grammer fixes to docs
  src/content/guides/installation.md
  src/content/guides/progressive-web-application.md
  src/content/plugins/ignore-plugin.md
Labels: Grammar, Guides, Plugins
