Repository webpack/webpack.js.org, pull requests merged in 2020-06, with the labels that each got.

#3747 Docs(config) : add info about node options
  src/content/configuration/dev-server.md
Labels: Configuration

#3767 feat(optimize) disable bundlesize to fix prod deploy
  package.json
Labels: Infrastructure

#3761 fix(asset-modules): fix typo
  src/content/guides/asset-modules.md
Labels: Guides

#3768 UI: Fix word-break on headings
  src/components/Markdown/Markdown.scss
Labels: UI/UX

#3777 docs(api): add deprecation warnings
  src/content/api/compilation-hooks.md
Labels: API

#3774 docs(api): update stats.mdx for webpack 5
  src/content/api/stats.mdx
Labels: API

#3641 chore: remove test, include, exclude from rule set conditions
  src/content/configuration/module.mdx
Labels: Configuration

#3784 fix(module): fix syntax of a code snippet in module docs
  src/content/configuration/module.mdx
Labels: Configuration

#3656 Fix scroll bug for fragment
  .eslintrc
  .travis.yml
  cypress.json
  cypress/integration/scroll_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/components/Page/Page.jsx
  yarn.lock
Labels: Site Structure, UI/UX

#3691 Docs(plugin) : Add NoEmitOnErrorsPlugin
  src/content/plugins/NoEmitOnErrorsPlugin.md
Labels: Plugins

#3780 docs(concepts): shared modules allow multiple versions in a single build
  src/content/concepts/module-federation.md
Labels: Concepts

#3787 docs(configuration): add resolve.restrictions
  src/content/configuration/resolve.md
Labels: Configuration

#3693 Add more info about options of banner plugin
  src/content/plugins/banner-plugin.md
Labels: Plugins

#3782 docs: Troubleshooting Module Federation
  src/content/concepts/module-federation.md
Labels: Concepts

#3800 docs(concepts) rework the troubleshooting section of the module feder…
  src/content/concepts/module-federation.md
Labels: Concepts

#3802 chore: remove transform-loader
  repositories/loaders.json
  src/components/Organization/projects.json
  src/content/comparison.md
Labels: Loaders

#3801 docs(glossary): fix grammar
  src/content/glossary.md
Labels: Glossary

#3799 clean deprecated bundle-loader
  repositories/loaders.json
  src/components/Organization/projects.json
  src/content/api/loaders.md
  src/content/guides/code-splitting.md
Labels: Loaders

#3791 docs(api): remove deprecation note
  src/content/api/module-methods.md
Labels: API

#3810 Update module-federation.md
  src/content/concepts/module-federation.md
Labels: Concepts
