Repository webpack/webpack.js.org, pull requests merged in 2020-12, with the labels that each got.

#4222 docs(output): Update behaviour for output.library and commonjs2
  src/content/configuration/output.md
Labels: Configuration

#4225 docs(api): update stats data
  src/content/api/stats.mdx
Labels: API

#4228 docs(api): add info regarding --no-watch and --no-devtool
  src/content/api/cli.md
Labels: API

#4229 docs(api): rephrase description for negated flags
  src/content/api/cli.md
Labels: API

#4232 [runtime] can be used a placeholder in output.hotUpdateMainFilename
  src/content/configuration/output.md
Labels: Configuration

#4240 docs(cli): add a link to stats data API
  src/content/api/cli.md
Labels: API

#4237 docs(configuration): update default value
  src/content/configuration/output.md
Labels: Configuration

#4244 Update externals function args
  src/content/configuration/externals.md
Labels: Configuration

#4246 docs(config): update dependOn option
  src/content/configuration/entry-context.md
Labels: Configuration

#4245 docs(config): update output.pathinfo
  src/content/configuration/output.md
Labels: Configuration

#4252 Fix markdown syntax in LimitChunkCountPlugin
  src/content/plugins/limit-chunk-count-plugin.md
Labels: Plugins

#4254 update patched dependencies
  yarn.lock
Labels: dependencies

#4255 Feature/update dependencies
  package.json
  yarn.lock
Labels: dependencies

#4261 docs(cli): add --version
  src/content/api/cli.md
Labels: API

#4265 docs(concepts): update node version
  src/content/concepts/index.md
Labels: Concepts

#4266 chore: use bash instead of sh
  src/content/api/cli.md
Labels: API

#4262 docs(plugins): document hook for RealContentHashPlugin
  src/content/plugins/internal-plugins.mdx
Labels: Plugins

#4267 docs(api): remove redundant description
  src/content/api/cli.md
Labels: API

#4270 docs(api): correct type of --name flag
  src/content/api/cli.md
Labels: API

#4276 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4272 cli: add more examples of env flag
  src/content/api/cli.md
Labels: API

#4279 Docs(config): Add note about optimization.sideEffects
  src/content/configuration/optimization.md
Labels: Configuration

#4280 docs(api): use npx for cli commads
  src/content/api/cli.md
Labels: API

#3577 Fix of Issue #3572
  src/content/guides/getting-started.md
Labels: Guides

#4289 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4302 Docs(blog) : compilation.cache is deprecated now
  src/content/blog/2020-10-10-webpack-5-release.md
Labels: Blog

#4304 Update plugins.md
  src/content/concepts/plugins.md
Labels: Concepts

#4310 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4315 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4320 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4322 docs(configuration): fix typo
  src/content/configuration/output.md
Labels: Configuration

#4323 docs(guides): explain why index.html is in dist/
  src/content/guides/getting-started.md
Labels: Guides

#4319 Suggest removing watch arg from config
  src/content/migrate/5.md
Labels: Migrated

#4324 Migration guide should link to Asset Modules guide
  src/content/migrate/5.md
Labels: Migrated

#4256 use html-webpack-plugin@next
  package.json
  yarn.lock
Labels: dependencies

#4300 Docs(plugin): Add splitChunks.defaultSizeTypes
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#4327 docs(migrate): document target change
  src/content/migrate/5.md
Labels: Migrated

#4330 Update module.mdx
  src/content/configuration/module.mdx
Labels: Configuration

#4331 feat: improve a11y
  src/components/Splash/Splash.jsx
Labels: UI/UX

#4332 Feature/update deps
  package.json
  yarn.lock
Labels: dependencies

#4339 docs: fix small typos
  src/content/api/cli.md
Labels: API

#4342 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4345 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4349 docs(plugins): clean up automaticNameDelimiter
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#4351 docs(migrate): fix webpack version
  src/content/migrate/5.md
Labels: Migrated

#4352 Improve docs for EnvironmentPlugin defaults
  src/content/plugins/environment-plugin.md
Labels: Plugins
