Repository webpack/webpack.js.org, pull requests merged in 2020-05, with the labels that each got.

#3722 small typo fix for default entry point
  src/content/configuration/index.mdx
Labels: Configuration

#3704 docs(api): update example link for webpack 5
  src/content/api/node.mdx
Labels: API

#3655 output(config) : ADD output.enabledLibraryTypes
  src/content/configuration/output.md
Labels: Configuration

#3706 docs(plugins): update option type
  src/content/plugins/banner-plugin.md
Labels: Plugins

#3707 docs(configuration): add more experiments' options
  src/content/configuration/experiments.md
Labels: Configuration

#3358 docs(configuration) : Add more option to resolve.alias
  src/content/configuration/resolve.md
Labels: Configuration

#3736 Docs(plugin): Remove NoHotModuleReplacementPlugin from internal-plugin
  src/content/plugins/internal-plugins.md
Labels: Plugins

#3733 docs(plugins): clean option
  src/content/plugins/hot-module-replacement-plugin.md
Labels: Plugins

#3732 docs(concepts): add module federation
  src/content/concepts/module-federation.md
Labels: Concepts

#3738 docs(concepts) add order to the new page and small corr
  src/content/concepts/dependency-graph.md
  src/content/concepts/hot-module-replacement.md
  src/content/concepts/manifest.md
  src/content/concepts/module-federation.md
  src/content/concepts/targets.md
  src/content/concepts/under-the-hood.md
  src/content/concepts/why-webpack.md
Labels: Concepts

#3729 chore(site): Add Vercel logo to footer
  README.md
  src/assets/powered-by-vercel.svg
Labels: Support & Sponsors

#3730 Info about multiple files per entry using array for dependOn
  src/content/configuration/entry-context.md
Labels: Configuration

#3742 Fix name of dev-tool name in description
  src/content/configuration/devtool.md
Labels: Configuration

#3741 Fix name of dev-tool name in description
  src/content/guides/build-performance.md
Labels: Guides

#3725 docs: update argument name
  src/content/configuration/output.md
  src/content/plugins/split-chunks-plugin.md
Labels: Configuration, Plugins

#3646 Docs(plugin) : Add ContextExclusionPlugin
  src/content/plugins/context-exclusion-plugin.md
Labels: Plugins

#3660 docs(configuration): Improve experiments.md
  src/content/configuration/experiments.md
Labels: Configuration

#3744 Update entry-points.md
  src/content/concepts/entry-points.md
Labels: Concepts

#3724 fix(site): vertically align notification bar
  src/components/NotificationBar/NotificationBar.scss
Labels: UI/UX

#3692 docs: add documentation for invalidate endpoint
  src/content/configuration/dev-server.md
Labels: Configuration

#3714 Docs(config) : add module.unsafeCache
  src/content/configuration/module.mdx
Labels: Configuration

#3603 Docs(contrib) : Add how to write links to Writers guide
  src/content/contribute/writers-guide.md
Labels: Contribute

#3728 Docs(config) : add module.unsafeCache to v4 docs
  src/content/configuration/module.mdx
Labels: Configuration

#3746 docs(guides): Update watch mode snippet in development guide
  src/content/guides/development.md
Labels: Guides

#3745 docs(concepts) module federation updates
  src/content/concepts/module-federation.md
Labels: Concepts

#3751 fix(site): Vertical alignment of "code" and "tt" elements
  src/components/Markdown/Markdown.scss
Labels: Site Structure

#3753 docs(config) document output.importFunctionName, externalsType and as…
  src/content/configuration/externals.md
  src/content/configuration/output.md
Labels: Configuration

#3459 doc(plugin):Add info about cachegroup.test and cachegroup.name
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3049 docs(webpack5): plugin patterns compilation hooks
  src/content/contribute/plugin-patterns.md
Labels: Contribute

#3709 docs(api): improve compilation-object.md
  src/content/api/compilation-object.md
Labels: API, Grammar

#3758 docs(guides): Add missing comment
  src/content/guides/getting-started.md
Labels: Guides
