Repository webpack/webpack.js.org, pull requests merged in 2020-02, with the labels that each got.

#3506 Overriding `output.assetModuleFilename`
  src/content/configuration/module.mdx
  src/content/guides/asset-modules.md
Labels: Configuration

#3511 Add info about passing cli args to nodejs
  src/content/api/cli.md
Labels: CLI

#3512 docs(config): cleanup default values
  src/content/configuration/other-options.md
  src/content/configuration/output.md
  src/content/configuration/watch.md
Labels: Configuration

#3515 docs(config) - fix watchOptions.ignored documentation
  src/content/configuration/watch.md
Labels: Configuration

#3514 Fix 3510 - enable optimization.sideEffects, innerGraph and usedExports by default
  src/content/configuration/optimization.md
  src/content/migrate/5.md
Labels: Configuration, Migrated

#3516 fix: corrected the path of the logger from webpack
  src/content/api/logging.md
Labels: API

#3466 docs(configuration): Minor grammatical fixes
  src/content/configuration/dev-server.md
Labels: Configuration

#3522 docs(config): grammar fix
  src/content/migrate/5.md
Labels: Migrated

#3523 docs(comntrib) typed shortlists
  src/content/contribute/writers-guide.md
Labels: Contribute

#3520 Improve progress plugin docs
  src/content/plugins/progress-plugin.md
Labels: Plugins

#3525 docs(config): add contentBasePublicPath option
  src/content/configuration/dev-server.md
Labels: Configuration

#3291 docs(dev-server): fix `contentBasePublicPath` example
  src/content/configuration/dev-server.md
Labels: Configuration

#3483 docs(api): improve logging
  src/content/api/logging.md
Labels: API

#3529 Docs(plugin): Inform webpack will throw err instead of warn
  src/content/plugins/environment-plugin.md
Labels: Plugins

#3533 Removed extended-api-plugin in favour of APIPlugin
  src/content/migrate/5.md
  src/content/plugins/extended-api-plugin.md
Labels: Migrated

#3531 documentated this.hot for loader context
  src/content/api/loaders.md
Labels: API

#3442 doc(api) : removed Compilation.applyModuleIds and Compilation.applyChunkids
  src/content/api/compilation-object.md
Labels: API

#3546 docs(contrib) remove simply, format note block
  src/content/contribute/plugin-patterns.md
Labels: Contribute

#3550 chore: documented output.hotUpdateChunkFilename cant accept function
  src/content/configuration/output.md
Labels: Configuration

#3539 Fix `parser.parse` example
  src/content/configuration/module.mdx
Labels: Configuration

#3542 docs: fix branding violation in csp guide
  src/content/guides/csp.md
Labels: Guides

#3551 Link to a related article about asset modules
  src/content/guides/asset-modules.md
Labels: Guides

#3554 Update progress-plugin.md
  src/content/plugins/progress-plugin.md
Labels: Plugins

#3545 docs(api): update instances of memory-fs to memfs
  src/content/api/node.mdx
Labels: API

#3534 doce(plugin): info are not set
  src/content/contribute/plugin-patterns.md
Labels: Contribute

#3543 chore: og:image
  src/server.jsx
Labels: Site Structure, UI/UX

#3559 docs(contrib) plugin patterns Set and Map
  src/content/contribute/plugin-patterns.md
Labels: Contribute

#3556 chore: added deprecated note for null-loader
  src/content/configuration/resolve.md
Labels: Configuration

#3562 docs(api): remove redundant new keyword
  src/content/api/node.mdx
  src/content/contribute/writing-a-loader.md
Labels: API

#3558 chore: added note for yarn 2 support for persistent caching
  src/content/guides/build-performance.md
Labels: Guides

#2264 Fix import in typescript files
  src/content/configuration/configuration-languages.md
Labels: Configuration

#3567 docs(config) remove serve option
  src/content/configuration/index.mdx
  src/content/migrate/5.md
Labels: Configuration

#3569 library type in the externals
  src/content/configuration/externals.md
Labels: Configuration

#3568 docs(guides) update typescript guide; add missing contribution after …
  src/content/configuration/configuration-languages.md
  src/content/guides/typescript.md
Labels: Configuration, Guides

#3553 Entry description, entry.filename and entry.dependOn
  src/content/configuration/entry-context.md
  src/content/guides/code-splitting.md
Labels: Configuration

#3575 fix: changed the wrong cheap-eval-source-map to eval-cheap-source-map
  src/content/configuration/devtool.md
Labels: Configuration

#3574 docs(multi) consistently use configuration vs config across the docs;…
  src/content/api/cli.md
  src/content/api/module-variables.md
  src/content/comparison.md
  src/content/concepts/dependency-graph.md
  src/content/concepts/index.md
  src/content/configuration/configuration-types.md
  src/content/configuration/dev-server.md
  src/content/configuration/index.mdx
  src/content/configuration/other-options.md
  src/content/configuration/output.md
  src/content/configuration/watch.md
  src/content/contribute/writing-a-plugin.md
  src/content/contribute/writing-a-scaffold.md
  src/content/glossary.md
  src/content/guides/asset-modules.md
  src/content/guides/code-splitting.md
  src/content/guides/development-vagrant.md
  src/content/guides/development.md
  src/content/guides/entry-advanced.md
  src/content/guides/getting-started.md
  src/content/guides/hot-module-replacement.md
  src/content/migrate/4.md
  src/content/plugins/dll-plugin.md
  src/content/plugins/html-webpack-plugin.md
  src/content/plugins/normal-module-replacement-plugin.md
Labels: CLI, Grammar, Migrated

#3573 docs(multi) mention that plugins may apply config defaults
  src/content/configuration/index.mdx
  src/content/contribute/writing-a-plugin.md
Labels: Configuration, Contribute

#3547 docs(format) single quotes in js spotted, minor grammar
  src/content/api/hot-module-replacement.md
  src/content/api/loaders.md
  src/content/api/module-variables.md
Labels: API

#3537 docs(api): Update example link
  src/content/api/node.mdx
Labels: API

#3580 docs(api) resolve page tidy up
  src/content/api/resolvers.md
Labels: API

#3582 docs: typo for output.globalObject
  src/content/configuration/output.md
Labels: Configuration

#3563 docs(concepts): use pug loader
  src/content/concepts/loaders.mdx
Labels: Concepts

#3586 docs(concepts) a follow up on page creation
  src/content/concepts/under-the-hood.md
  src/content/configuration/output.md
Labels: Concepts

#3576 docs: Remove redundant word
  src/content/guides/asset-management.md
Labels: Guides

#3541 fix: #3540 (Links don't scroll to correct position)
  src/components/Markdown/Markdown.scss
  src/components/NotificationBar/NotificationBar.jsx
Labels: UI/UX

#3587 docs: Update node.global source link
  src/content/configuration/node.md
Labels: Configuration

#3588 Fix typo in 'Under the hood' page
  src/content/concepts/under-the-hood.md
Labels: Concepts

#3560 chore: og:image
  src/server.jsx
Labels: UI/UX

#3591 docs(config) ecmaVersion type and default added
  src/content/configuration/output.md
Labels: Configuration
