Repository webpack/webpack.js.org, pull requests merged in 2020-01, with the labels that each got.

#3434 docs(configuration): fixed outdated reference to production mode resource
  src/content/configuration/optimization.md
Labels: Configuration

#3435 docs(api): improve info regarding parameters
  src/content/api/compilation-object.md
Labels: API

#3431 docs(api): hot module replacement
  src/content/api/hot-module-replacement.md
Labels: API

#3424 docs(api): improve compilation object
  src/content/api/compilation-object.md
Labels: API, Grammar

#3463 docs(api) minor formatting fixes, use singlequotes for js strings
  src/content/api/module-methods.md
Labels: API

#3462 docs(config) dev server types fixes
  src/content/configuration/dev-server.md
Labels: Configuration

#3464 Docs Typo
  src/content/concepts/loaders.mdx
Labels: Concepts

#3452 doc for entryOnly DLL plugin
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3461 docs(guides) lazy loading guide references updated and added
  src/content/guides/lazy-loading.md
Labels: Guides

#3389 doc(plugins) : rename optimization.splitChunks.cacheGroups.vendors
  src/content/migrate/5.md
  src/content/plugins/split-chunks-plugin.md
Labels: Migrated

#3473 docs(glossary): Added reference to lazy loading guide
  src/content/glossary.md
Labels: Enhancement

#3469 docs(writing-a-plugin): added details about schema-utils
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3474 docs(configuration): config Rule.resolve with an object in module
  src/content/configuration/module.mdx
Labels: Configuration

#3485 docs(concepts): improve module resolution
  src/content/concepts/module-resolution.md
Labels: Concepts

#3484 docs(api): improve plugins
  src/content/api/plugins.md
Labels: API

#3482 docs(configuration): Minor grammatical tweak
  src/content/configuration/externals.md
Labels: Configuration

#3467 docs(writing-a-loader): changed the depreciated memory-fs in example
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#3494 doc(configuration): Updated contributors list
  src/content/configuration/externals.md
Labels: Configuration

#3492 docs(contrib) Pull Request closing mentioned
  src/content/contribute/index.md
Labels: Contribute

#3468 docs(writing-a-loader): added webpack-default description
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#3493 docs(contribute): update all instances of memory-fs to memfs
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#3470 docs(migrate): replace => with ↦
  src/content/migrate/5.md
Labels: Migrated

#3496 chore(pr-template) mention stale PRs policy
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Contribute

#3477 docs(glossary): Added info about webpack manifest
  src/content/glossary.md
Labels: Glossary

#3499 docs(config) externals page updated acc to writers guide
  src/content/configuration/externals.md
Labels: Configuration

#3500 docs(plugin): update as per writers guide
  src/content/plugins/eval-source-map-dev-tool-plugin.md
Labels: Plugins

#3497 docs(migrate) mention internal changes in migration guide
  src/content/migrate/5.md
Labels: Migrated

#3501 docs(api) new loader context method: getOptions doc
  src/content/api/loaders.md
Labels: API

#3491 guides(tree-shaking) document pure annotation
  src/content/guides/tree-shaking.md
Labels: Guides

#3502 docs(migrate) add new getOptions method breaking changes in the migra…
  src/content/migrate/5.md
Labels: Migrated

#3478 Document "Automatic dependency collection" in Why Webpack
  src/content/concepts/why-webpack.md
Labels: Concepts

#3481 docs(configuration): Correct the function usage in externals config
  src/content/configuration/externals.md
Labels: Configuration

#3507 docs(config) devtool new validation pattern all cases added and patte…
  src/content/configuration/devtool.md
Labels: Configuration

#3504 docs(api): improve module methods
  src/content/api/module-methods.md
Labels: API

#3505 Update node.md
  src/content/configuration/node.md
Labels: Configuration
