Repository webpack/webpack.js.org, pull requests merged in 2020-08, with the labels that each got.

#3896 document [query] placeholder
  src/content/configuration/module.mdx
  src/content/configuration/output.md
  src/content/guides/asset-modules.md
Labels: Configuration, Guides

#3895 fix: document related assets
  src/content/configuration/stats.md
Labels: Configuration

#3894 fix: remove absent options from EvalSourceMapDevToolPlugin
  src/content/plugins/eval-source-map-dev-tool-plugin.md
Labels: Plugins

#3852 chore: add warning about untrusted code
  src/content/guides/getting-started.md
Labels: Guides

#3897 docs(plugins) remove non-existant option from plugin example
  src/content/plugins/eval-source-map-dev-tool-plugin.md
Labels: Plugins

#3884 docs: add css-minimizer-webpack-plugin to official plugins list
  repositories/plugins.json
  src/components/Organization/projects.json
Labels: Plugins

#3899 security(elliptic) bump to secure version
  yarn.lock
Labels: dependencies

#3892 clean experiments.importAwait and experiments.importAsync
  src/content/configuration/experiments.md
  src/content/configuration/externals.md
  src/content/migrate/5.md
Labels: Configuration, Migrated

#3904 fixed centering .splash-viz__modules
  src/components/SplashViz/SplashViz.scss
Labels: UI/UX

#3903 loader: add remark-loader to the list
  repositories/loaders.json
  src/content/loaders/index.md
Labels: Loaders

#3911 docs(configuration): update link
  src/content/configuration/module.mdx
Labels: Configuration

#3909 fix: postcss repo location
  repositories/loaders.json
Labels: Loaders

#3908 docs(plugins): set the correct default value for splitChunks.chunks
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3913 changes according to suggestion for issue #3846
  src/content/guides/asset-management.md
Labels: Guides

#3901 fix header visibility on safari
  src/components/Markdown/Markdown.scss
Labels: UI/UX

#3898 docs(configuration): document external script
  src/content/configuration/externals.md
Labels: Configuration

#3916 New api for DefinePlugin
  src/content/plugins/define-plugin.md
Labels: Plugins

#3925 docs(plugins) define plugin runtimeValue update
  src/content/plugins/define-plugin.md
Labels: Plugins

#3919 docs(configuration): add optimization.realContentHash
  src/content/configuration/optimization.md
Labels: Configuration

#3859 docs(output): fix typo
  src/content/configuration/output.md
Labels: Configuration

#3937 Update externals.md
  src/content/configuration/externals.md
Labels: Configuration

#3932 chore(plugins) Add missing maintainer to css-minimizer-webpack-plugin
  src/components/Organization/projects.json
Labels: Plugins

#3930 config : add info about wrappedContextRegExp
  src/content/configuration/module.mdx
Labels: Configuration

#3918 docs(configuration): document output.charset
  src/content/configuration/output.md
Labels: Configuration

#3912 optimize diff highlighting
  package.json
  src/styles/index.scss
  yarn.lock
Labels: UI/UX

#3923 docs(concepts): add notice about webpack-sources
  src/content/concepts/plugins.md
Labels: Concepts
