Repository webpack/webpack.js.org, pull requests merged in 2020-04, with the labels that each got.

#3665 docs(dllPlugin): add missing options
  src/content/plugins/dll-plugin.md
Labels: Plugins

#3663 docs(split-chunks-plugin): remove automaticNameMaxLength reference
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#3666 docs(HashedModuleIdsPlugin): add missing context option
  src/content/plugins/hashed-module-ids-plugin.md
Labels: Plugins

#3673 docs(config) : Add moduleAsset to stats
  src/content/configuration/stats.md
Labels: Configuration

#3675 docs(module): fix typo
  src/content/configuration/module.mdx
Labels: Configuration

#3674 docs(devServer): add type array for contentBasePublicPath option
  src/content/configuration/dev-server.md
Labels: Configuration

#3669 Docs(plugin): schema-utils api changed
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3678 fix(configuration): fix filename from webpack.config.js to someLibName.js
  src/content/configuration/output.md
Labels: Configuration

#3671 docs(devserver): webpack-dev-server open new option type
  src/content/configuration/dev-server.md
Labels: Configuration

#3647 Docs(api): Add getPathWithInfo function
  src/content/api/compilation-object.md
Labels: API

#3650 Docs(config) : Remove futureEmitAssets
  src/content/configuration/output.md
Labels: Configuration

#3679 Break flex items into multiple lines
  src/components/Markdown/Markdown.scss
Labels: UI/UX

#3658 Docs(configs): Add chunkRootModules description to stats page
  src/content/configuration/stats.md
Labels: Configuration

#3657 docs(configuration): fix deprecated apply usage
  src/content/configuration/target.md
Labels: Configuration

#3681 docs(config) target examples standartized
  src/content/configuration/target.md
Labels: Configuration

#3676 docs(config) : Add number type to watchoption
  src/content/configuration/watch.md
Labels: Configuration

#3664 Docs(config) : Add cache.cacheLocation
  src/content/configuration/other-options.md
Labels: Configuration

#3651 docs(config): deterministic in optimization.chunkIds
  src/content/configuration/optimization.md
Labels: Configuration

#3685 docs(node): added note for provideplugin in node global
  src/content/configuration/node.md
Labels: Configuration

#3475 solving lint issues.
  src/content/concepts/entry-points.md
Labels: Concepts

#3690 fix(asset-modules): fix typo
  src/content/guides/asset-modules.md
Labels: Guides

#3699 Guides(Shimming): Correct the resolve file path of rule test
  src/content/guides/shimming.md
Labels: Guides

#3705 docs(config): different default based on enviornment
  src/content/configuration/optimization.md
Labels: Configuration

#3694 Docs(config) : Change default value of watchOptions.aggregateTimeout
  src/content/configuration/watch.md
Labels: Configuration

#3702 Update function section of Externals docs.
  src/content/configuration/externals.md
Labels: Configuration

#3713 Update links behind subscription wall
  src/content/configuration/watch.md
  src/content/guides/caching.md
Labels: Configuration

#3688 ui(vote) fix markdown styles squeezing vote layout
  src/components/Vote/Vote.jsx
  src/components/Vote/Vote.scss
Labels: UI/UX

#3689 docs(config) re-arrange stats page top to make more sense to the read…
  src/content/api/compiler-hooks.md
  src/content/api/loaders.md
  src/content/api/stats.mdx
  src/content/configuration/other-options.md
  src/content/configuration/stats.md
Labels: Configuration

#3703 docs(api): add invalidate to HMR api
  src/content/api/hot-module-replacement.md
Labels: API

#3712 docs(guides) fix a bug in development guide related to CleanWebpackPl…
  src/content/guides/development.md
Labels: Bug, Guides

#3708 docs(glossary): Add shimming to the list
  src/content/glossary.md
Labels: Glossary

#3715 Docs(configs): add infos about DeterministicChunkIdsPlugin
  src/content/configuration/optimization.md
Labels: Configuration

#3720 docs(api) CLI example outdated
  src/content/api/cli.md
Labels: CLI
