Repository webpack/webpack.js.org, pull requests merged in 2020-10, with the labels that each got.

#4019 improve configuration page
  src/components/Configuration/Configuration.jsx
  src/content/configuration/index.mdx
Labels: Configuration

#4018 Improve migration guide
  src/content/migrate/5.md
Labels: Migrated

#4001 Add CSV example to `guides/asset-management`
  src/content/guides/asset-management.md
Labels: Guides

#4022 docs(config) reduce highlights amount to allow user to focus on te me…
  src/content/configuration/index.mdx
Labels: Configuration

#4023 docs(config): remove other cache.store options from other parts of documentation
  src/content/configuration/other-options.md
Labels: Configuration

#4027 docs(config): add stats.ignoreWarnings
  src/content/configuration/stats.md
Labels: Configuration

#3864 docs(config): rename optimization.noEmitOnErrors to optimization.emitOnErrors
  src/content/configuration/mode.md
  src/content/configuration/optimization.md
  src/content/plugins/NoEmitOnErrorsPlugin.md
  src/content/plugins/index.md
  webpack.ssg.js
Labels: Configuration

#4015 docs(configuration): document preferRelative
  src/content/configuration/resolve.md
Labels: Configuration

#4003 Document options in assets
  src/content/configuration/stats.md
Labels: Configuration

#3986 fixes #3940: document changes to several config options
  src/content/configuration/entry-context.md
  src/content/configuration/index.mdx
  src/content/configuration/output.md
Labels: Configuration

#4036 docs(config): add links
  src/content/guides/asset-management.md
Labels: Guides

#4038 remove process, explain global
  src/content/api/module-variables.md
Labels: API

#4037 fix configuration page again
  src/components/Configuration/Configuration.jsx
  src/content/configuration/index.mdx
Labels: Configuration

#4016 Added browserslist output.target and output.environment
  src/content/configuration/output.md
  src/content/configuration/target.md
Labels: Configuration

#3963 use webpack 5
  .babelrc
  package.json
  src/assets/ag-grid-logo.png
  src/assets/by.svg
  src/assets/cc.svg
  src/assets/icon-print.svg
  src/assets/icon-pwa-512x512.png
  src/assets/icon-square-big.svg
  src/assets/icon-square-small-slack.png
  src/assets/icon-square-small.svg
  src/assets/language-icon.svg
  src/assets/logo-on-dark-bg.svg
  src/assets/logo-on-white-bg.svg
  src/assets/powered-by-vercel.svg
  src/assets/site-logo.svg
  src/components/Configuration/Configuration.jsx
  src/components/Configuration/components.js
  src/components/Link/Link.jsx
  src/components/Page/Page.jsx
  src/components/Site/Site.jsx
  src/content/configuration/index.mdx
  src/index.html
  src/server.jsx
  src/utilities/content-tree-enhancers.js
  src/utilities/fetch-package-readmes.js
  src/utilities/fetch-package-repos.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  webpack.ssg.js
  yarn.lock
Labels: Enhancement, dependencies

#4047 Target
  src/content/configuration/target.md
Labels: Configuration

#3885 docs: add new options for Runtime based optimization
  src/content/configuration/optimization.md
  src/content/plugins/split-chunks-plugin.md
Labels: Configuration, Plugins

#3927 docs(configuration): add example for loader option
  src/content/configuration/other-options.md
Labels: Configuration

#4056 fix(loaders) Remove svg-inline-loader
  src/utilities/constants.js
Labels: Loaders

#4054 Fixed Link Conversion Error
  src/utilities/process-readme.js
  src/utilities/process-readme/index.test.js
Labels: Site Structure

#4088 docs(guides) Improve documentation about glob support in sideEffects flag
  src/content/guides/tree-shaking.md
Labels: Guides

#4100 fix(config) Fixed typo
  src/content/configuration/mode.md
Labels: Configuration

#4091 docs: use `webpack serve` instead `webpack-dev-server`
  src/content/configuration/dev-server.md
  src/content/guides/development-vagrant.md
  src/content/guides/development.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/production.md
Labels: Configuration, Guides

#4070 add character encoding meta
  src/content/guides/getting-started.md
Labels: Guides

#4086 fix bug for printable
  webpack.prod.js
Labels: UI/UX
