Repository webpack/webpack.js.org, pull requests merged in 2020-11, with the labels that each got.

#4073 doc: HashedModuleIdsPlugin Namespace
  src/content/plugins/hashed-module-ids-plugin.md
Labels: Plugins

#4075 docs(contribute): Update usage of schema-utils
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#4074 fix(blog): Minor grammatical changes
  src/content/blog/2020-10-10-webpack-5-release.md
Labels: Blog

#4125 docs(cli): update --env usage
  src/content/api/cli.md
Labels: API

#4128 docs: clarify asset handling
  src/content/guides/asset-modules.md
Labels: Guides

#4122 docs(api): update hook usage for resolvers
  src/content/api/resolvers.md
Labels: API

#4131 Fix typo 'matro' -> 'metro' in asset documentation
  src/content/guides/asset-modules.md
Labels: Guides

#4132 docs(cli): update --progress usage
  src/content/api/cli.md
Labels: API

#4133 docs(guides): update shimming
  src/content/guides/shimming.md
Labels: Guides

#4139 docs: update --target type
  src/content/api/cli.md
Labels: API

#4142 docs(cli): add exit-codes and their meanings
  src/content/api/cli.md
Labels: API

#4149 docs(config): add default value for devtool
  src/content/configuration/devtool.md
Labels: Configuration

#4152 Fix typo
  src/content/concepts/entry-points.md
Labels: Concepts

#4151 environment-plugin: add Git version use case
  src/content/plugins/environment-plugin.md
Labels: Plugins

#4134 docs(guides): update getting-started against webpack 5
  src/content/guides/getting-started.md
Labels: Guides

#4116 Docs(api): add asset info for sourceFilename and javascriptModule
  src/content/api/stats.mdx
Labels: API

#4159 Update environment-variables.md
  src/content/guides/environment-variables.md
Labels: Guides

#4164 Update tree-shaking.md
  src/content/guides/tree-shaking.md
Labels: Guides

#4120 set bg color for support item under dark mode
  src/components/Support/Support.scss
Labels: UI/UX

#4145 docs(guides): update output-management for webpack 5
  src/content/guides/output-management.md
Labels: Guides

#4147 docs(guides): update development against webpack 5
  src/content/guides/development.md
Labels: Guides

#4171 Typos
  src/content/guides/ecma-script-modules.md
Labels: Guides

#4167 update build-performance.md
  src/content/guides/build-performance.md
Labels: Guides

#4173 docs(guides): update code-splitting against webpack5
  src/content/guides/code-splitting.md
Labels: Guides

#4177 Update installation.md
  src/content/guides/installation.md
Labels: Guides

#4183 docs(api): clarify `webpackExports`' function
  src/content/api/module-methods.md
Labels: API

#4184 Remove `webpack-dev-middleware` note from stats documentation
  src/content/configuration/stats.md
Labels: Configuration

#4182 docs(configuration): fix value of moduleIds
  src/content/configuration/optimization.md
Labels: Configuration

#4186 Update asset-modules.md
  src/content/guides/asset-modules.md
Labels: Guides

#4078 docs(configuration): update node page for webpack 5
  src/content/configuration/node.md
Labels: Configuration

#4187 Update configuration-languages.md
  src/content/configuration/configuration-languages.md
Labels: Configuration

#4189 feat: update Loader section
  src/content/guides/typescript.md
Labels: Guides

#4190 docs(watch): Update `watchOptions` types
  src/content/configuration/watch.md
Labels: Configuration

#4194 docs(guides): grammar fix
  src/content/guides/dependency-management.md
Labels: Guides

#4118 Docs(plugin): Add default for splitchunks
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins

#4193 loaders: deprecate cache loader
  src/content/guides/build-performance.md
  src/utilities/constants.js
Labels: Loaders

#3340 Update parser.md
  src/content/api/parser.md
Labels: API

#4198 docs(migrate): fix typo
  src/content/migrate/5.md
Labels: Migrated

#4221 fix: remove --info-verbosity option as it is not supported in the lat…
  src/content/configuration/watch.md
Labels: Configuration

#4220 docs: expand on the 'one entry point tip' tip
  src/content/concepts/entry-points.md
Labels: Concepts
