Repository webpack/webpack.js.org, pull requests merged in 2020-09, with the labels that each got.

#3952 fix(plugins): Update link syntax
  src/content/plugins/NoEmitOnErrorsPlugin.md
Labels: Plugins

#3957 fix(concepts): Tip formatting
  src/content/concepts/module-federation.md
Labels: Concepts

#3962 clean unused marked and markdown-loader
  package.json
  yarn.lock
Labels: dependencies

#3967 docs(loaders): remove this.exec
  src/content/api/loaders.md
Labels: Loaders

#3939 docs(configuration): document snapshot
  src/content/configuration/other-options.md
Labels: Configuration

#3935 docs(configuration): specify default value as part of type information
  src/content/configuration/optimization.md
Labels: Configuration

#3970 docs(guides): clean html-webpack-template link
  src/content/guides/output-management.md
Labels: Guides

#3971 Fix : Page not scrolled to top when clicking sidebar menu #3933
  src/components/SidebarItem/SidebarItem.jsx
Labels: UI/UX

#3973 Invalid related as the document is of webpack 5
  src/content/guides/tree-shaking.md
Labels: Guides

#3976 docs(contribute): code layout fix
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#3954 Feature/enable asset experiment
  src/content/configuration/experiments.md
  src/content/guides/asset-modules.md
Labels: Configuration, Guides

#3945 docs(guides): add example for importing toml/yaml/json5
  src/content/guides/asset-management.md
Labels: Guides

#3931 config : specify default about optimization.nodeEnv
  src/content/configuration/optimization.md
Labels: Configuration

#3981 docs(configuration): document resolve.fullySpecified
  src/content/configuration/module.mdx
Labels: Configuration

#3987 fixes #3863: document usage of content hashes for assets
  src/content/guides/asset-modules.md
Labels: Guides

#3985 loader: make stylus-loader official
  repositories/loaders.json
Labels: Loaders

#3980 config : add warningsCount and errorsCount in stats
  src/content/configuration/stats.md
Labels: Configuration

#3994 chore(print): removes top margin in the print mode
  src/components/Site/Site.scss
Labels: UI/UX

#3992 chore: fix stylus loader link
  src/content/loaders/index.md
Labels: Loaders

#3974 docs: externalsPresets option
  src/content/configuration/externals.md
Labels: Configuration

#3983 docs(config) : Add enabledWasmLoadingTypes and wasmLoading for output
  src/content/configuration/output.md
Labels: Configuration

#4005 chore: Removed inline styles
  src/components/Sponsors/Sponsors.jsx
  src/components/Sponsors/Sponsors.scss
Labels: UI/UX

#3984 docs(config) : Add some options for stats
  src/content/configuration/stats.md
Labels: Configuration

#4013 Fix build
  .gitignore
  package.json
  repositories/loaders.json
  repositories/plugins.json
  src/utilities/constants.js
  src/utilities/fetch-package-repos.js
  src/utilities/process-readme.js
Labels: Infrastructure, Loaders, Plugins

#3993 docs(configuration): add new options for resolve
  src/content/configuration/resolve.md
Labels: Configuration

#4004 docs(Parser): allow to pass custom worker syntax
  src/content/configuration/module.mdx
Labels: Configuration

#3723 Fix writing a loder instructions
  src/content/contribute/writing-a-loader.md
Labels: Contribute
