Repository webpack/webpack.js.org, pull requests merged in 2021-09, with the labels that each got.

#5410 docs(configuration): fix default value
  src/content/configuration/cache.mdx
Labels: Configuration

#5411 docs(configuration): remove experiments.executeModule
  src/content/api/loaders.mdx
  src/content/configuration/experiments.mdx
Labels: API, Configuration

#5412 docs(migrate): hide non-existent contributor
  src/components/Contributors/404.js
Labels: Migrate

#5429 docs(guides): update development-vagrant guide
  src/content/guides/development-vagrant.mdx
Labels: Guides

#5446 docs(plugins): update outdated content
  src/content/plugins/internal-plugins.mdx
Labels: Plugins

#5447 docs(plugins): clean up webpack 4 related content
  src/content/plugins/ignore-plugin.mdx
Labels: Plugins

#5452 docs(configuration): document futureDefaults
  src/content/configuration/experiments.mdx
  src/content/configuration/node.mdx
Labels: Configuration

#5450 docs(plugins): add a note for resourceRegExp
  src/content/plugins/normal-module-replacement-plugin.mdx
Labels: Plugins

#5463 docs(configuration): add `groupAssetsByExtension` and `groupAssetsByPath`
  src/content/configuration/stats.mdx
Labels: Configuration

#5468 upgrade directory-tree
  package.json
  src/scripts/build-content-tree.js
  yarn.lock
Labels: dependencies

#5396 Use ESM
  jest.config.mjs
  package.json
  src/ProdAssetsManifest.mjs
  src/components/Site/Site.jsx
  src/remark-plugins/remark-cleanup-readme/__snapshots__/index.test.mjs.snap
  src/remark-plugins/remark-cleanup-readme/index.mjs
  src/remark-plugins/remark-cleanup-readme/index.test.mjs
  src/remark-plugins/remark-custom-asides/__snapshots__/index.test.mjs.snap
  src/remark-plugins/remark-custom-asides/index.mjs
  src/remark-plugins/remark-custom-asides/index.test.mjs
  src/remark-plugins/remark-responsive-table/__snapshots__/remark-responsive-table.test.mjs.snap
  src/remark-plugins/remark-responsive-table/remark-responsive-table.mjs
  src/remark-plugins/remark-responsive-table/remark-responsive-table.test.mjs
  src/scripts/build-content-tree.mjs
  src/scripts/concatenate-docs.mjs
  src/utilities/constants.mjs
  src/utilities/content-tree-enhancers.mjs
  src/utilities/content-utils.mjs
  src/utilities/content-utils.test.mjs
  src/utilities/fetch-package-readmes.mjs
  src/utilities/fetch-package-repos.mjs
  src/utilities/fetch-supporters.mjs
  src/utilities/flatten-content-tree.mjs
  src/utilities/get-adjacent-pages/index.mjs
  src/utilities/get-adjacent-pages/index.test.mjs
  src/utilities/process-readme.mjs
  src/utilities/process-readme.test.mjs
  src/utilities/yaml-headmatter.mjs
  webpack.common.mjs
  webpack.dev.mjs
  webpack.prod.mjs
  webpack.ssg.mjs
  yarn.lock
Labels: Infrastructure

#5474 docs(configuration): add `stats.optimizationBailout`
  src/content/configuration/stats.mdx
Labels: Configuration

#5475 docs(guides): remove `buble.js` from the guide
  src/content/guides/getting-started.mdx
Labels: Guides

#5493 docs(configuration): add tip for `xxhash64` algorithm support for hashing
  src/content/configuration/output.mdx
Labels: Configuration

#5495 docs(configuration): document experiments.cacheUnaffected
  src/content/configuration/cache.mdx
  src/content/configuration/experiments.mdx
Labels: Configuration

#5490 docs(configuration): improve `devServer` documentation
  src/content/configuration/dev-server.mdx
Labels: Configuration
