Repository webpack/webpack.js.org, pull requests merged in 2021-05, with the labels that each got.

#4934 docs(configuration): output.library.umdNamedDefine example fix
  src/content/configuration/output.mdx
Labels: Configuration

#4933 docs(api): improve heading
  src/content/api/cli.md
Labels: API, CLI

#4942 add cache profile option
  src/content/configuration/other-options.mdx
Labels: Configuration

#4808 docs(api): update cli subcommands usage info
  src/content/api/cli.md
Labels: API, CLI

#4900 docs(api): add WEBPACK_CLI_HELP_WIDTH env variable
  src/content/api/cli.md
Labels: API, CLI

#4949 docs(api): add alias for `init` and `serve` commands
  src/content/api/cli.md
Labels: API, CLI

#4945 remove deprecated loaders
  src/content/loaders/index.md
  src/utilities/constants.js
  webpack.ssg.js
Labels: Loaders

#4954 docs(migration): update usage info
  src/content/migrate/5.md
Labels: Migrate

#4953 docs(loaders): remove reference to eslint-loader
  src/content/loaders/index.md
Labels: Loaders

#4952 docs(configuration): use consistent formatting
  src/content/configuration/other-options.mdx
  src/content/migrate/5.md
Labels: Configuration

#4961 Added options.trustedTypes setting documentation.
  src/content/configuration/index.mdx
  src/content/configuration/output.mdx
Labels: Configuration

#4955 docs(guides): fix condition
  src/content/guides/asset-modules.md
Labels: Guides

#4963 docs(configuration): add version badge
  src/content/configuration/output.mdx
Labels: Configuration

#4842 add dropdown to select version
  package.json
  postcss.config.js
  src/components/Sidebar/Sidebar.jsx
  src/components/Site/Site.jsx
  src/index.jsx
  src/styles/icons/loading.svg
  src/styles/tailwind.css
  tailwind.config.js
  yarn.lock
Labels: UI/UX

#4978 docs(concepts): clean stale content
  src/content/concepts/loaders.mdx
Labels: Concepts

#4970 backport dropdown from v5
  .husky/_/husky.sh
  .postcssrc.js
  .travis.yml
  package.json
  postcss.config.js
  src/components/Sidebar/Sidebar.jsx
  src/index.jsx
  src/server.jsx
  src/styles/icons/loading.svg
  src/styles/tailwind.css
  src/utilities/fetch-supporters.js
  tailwind.config.js
  webpack.common.js
  webpack.ssg.js
  yarn.lock
Labels: UI/UX

#4981 update cname
  src/CNAME
Labels: webpack4

#4982 upgrade react-refresh-webpack-plugin
  package.json
  yarn.lock
Labels: dependencies

#4983 remove service worker update button
  src/components/NotifyBox/NotifyBox.js
  src/components/NotifyBox/NotifyBox.scss
  src/components/Site/Site.jsx
  src/sw.js
Labels: UI/UX

#4993 Added Trusted Types section to CSP guide.
  src/content/guides/csp.md
Labels: Guides

#4994 docs(plugins): fix invalid option in IgnorePlugin
  src/content/plugins/ignore-plugin.md
Labels: Plugins

#4989 Remove min-height to fix a overlay problem
  src/components/NotificationBar/NotificationBar.scss
Labels: webpack4

#4997 drop node 10
  package.json
Labels: Site Structure

#5004 docs(configuration): update devServer.setup warning
  src/content/configuration/dev-server.md
Labels: Configuration

#5003 docs :added tips on dynamic public path use case in module federation
  src/content/concepts/module-federation.md
Labels: Concepts

#5006 docs(api): add link for init
  src/content/api/cli.md
Labels: API, CLI

#5028 docs(configuration): add CLI usage for serveIndex
  src/content/configuration/dev-server.md
Labels: Configuration

#4999 docs(guides): document data urls support in new url
  src/content/configuration/module.mdx
  src/content/guides/asset-modules.md
Labels: Configuration, Guides

#5032 docs(configuration): clean stale configuration
  src/content/configuration/mode.mdx
Labels: Configuration
