Repository webpack/webpack.js.org, pull requests merged in 2021-11, with the labels that each got.

#5646 Fix `resolveData` casing in `beforeResolve` hook docs.
  src/content/api/normalmodulefactory-hooks.mdx
Labels: API

#5667 docs(guides): document client types for typescript
  src/content/guides/typescript.mdx
Labels: Guides

#5668 docs(configuration): document backCompat
  src/content/configuration/experiments.mdx
Labels: Configuration

#5669 docs(plugins): document fallbackCacheGroup.chunks
  src/content/plugins/split-chunks-plugin.mdx
Labels: Plugins

#5678 docs: remove `futureEmitAssets`
  src/content/configuration/output.mdx
Labels: Configuration

#5670 Replace loader-utils methods by loaderContext alternatives
  src/content/api/loaders.mdx
Labels: API

#5680 feat: add docs for asyncChunks
  src/content/configuration/entry-context.mdx
  src/content/configuration/output.mdx
Labels: Configuration

#5688 Feature/upgrade eslint parser
  package.json
  src/content/guides/package-exports.mdx
  yarn.lock
Labels: dependencies

#5696 fix the plugin name
  src/content/api/cli.mdx
Labels: API

#5713 docs(configuration): add module parser options
  src/content/configuration/module.mdx
Labels: Configuration

#5711 docs(configuration): add `chunkLoading: false`
  src/content/configuration/entry-context.mdx
Labels: Configuration

#5736 docs(configuration): add `resolve.useSyncFileSystemCalls`
  src/content/configuration/resolve.mdx
Labels: Configuration
