Repository webpack/webpack.js.org, pull requests merged in 2021-08, with the labels that each got.

#5250 docs(api): close compiler
  src/content/api/node.mdx
Labels: API

#5257 docs(configuration): sort output options alphabetically
  src/content/configuration/output.mdx
Labels: Configuration

#5261 [DesktopApp] add back page button ⬅️
  webpack.ssg.js
Labels: App

#5276 docs(configuration): document buildHttp
  src/content/configuration/experiments.mdx
Labels: Configuration

#5282 Update index.mdx
  src/content/configuration/index.mdx
Labels: Configuration

#5288 docs: add `debug` and `level` default for `infrastructureLogging`
  src/content/configuration/other-options.mdx
Labels: Configuration

#5289 Update asset-modules.mdx
  src/content/guides/asset-modules.mdx
Labels: Guides

#5290 Fix some grammatical errors in 5.mdx
  src/content/migrate/5.mdx
Labels: Migrate

#5291 Replaced jargon words with better equivalents
  src/content/plugins/split-chunks-plugin.mdx
Labels: Plugins

#5293 Fix optimization.moduleIds setting in 5.mdx
  src/content/migrate/5.mdx
Labels: Migrate

#5295 docs(configuration): sort `performance` options
  src/content/configuration/performance.mdx
Labels: Configuration

#5306 docs(configuration): update `static.publicPath` type
  src/content/configuration/dev-server.mdx
Labels: Configuration

#5309 docs(concepts): close issue #5308
  src/content/concepts/module-federation.mdx
Labels: Concepts

#5302 Clarify use of paths in Condition
  src/content/configuration/module.mdx
Labels: Configuration

#5312 Fix related link format
  src/content/guides/code-splitting.mdx
Labels: Guides

#5318 update icons for dark mode
  src/assets/language-icon.svg
  src/components/Dropdown/Dropdown.jsx
  src/components/HelloDarkness.jsx
  src/components/Navigation/Navigation.jsx
Labels: App

#5321 upgrade webpack-dev-server to v4
  package.json
  yarn.lock
Labels: dependencies

#5325 set limit for dependabot to 10
  .github/dependabot.yml
Labels: Site Structure

#5341 docs(concepts): fix a link
  src/content/concepts/configuration.mdx
Labels: Concepts

#5311 Small improvements to readability in index.mdx
  src/content/concepts/index.mdx
Labels: Concepts

#5316 drop md configurations
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitignore
  package.json
  src/content/configuration/index.mdx
  src/content/migrate/5.mdx
  src/utilities/content-tree-enhancers.js
  webpack.common.js
  yarn.lock
Labels: App

#5346 docs(configuration): add required minimum version of packages for devServer
  src/content/configuration/dev-server.mdx
Labels: Configuration

#5355 docs(api): add usage of `watch` command
  src/content/api/cli.mdx
Labels: API

#5353 docs(guides): update HMR guide
  src/content/guides/hot-module-replacement.mdx
Labels: Guides

#5358 docs(contribute): update stale content
  src/content/contribute/writers-guide.mdx
Labels: Contribute

#5313 Link to plugins list from introduction
  src/content/concepts/plugins.mdx
Labels: Concepts

#5361 docs(api): add troubleshooting with typescript ECMA modules
  src/content/api/cli.mdx
Labels: API

#5386 chore: update `eslint-plugin-react`
  package.json
  src/components/Link/Link.jsx
  yarn.lock
Labels: dependencies

#5379 docs(configuration): add `stats.nestedModules`
  src/content/configuration/stats.mdx
Labels: Configuration
