Repository webpack/webpack.js.org, pull requests merged in 2021-04, with the labels that each got.

#4803 NODE_ENV should not be used for `env`
  src/content/guides/environment-variables.md
Labels: Guides

#4802 style: show icon for external links
  src/styles/index.scss
Labels: UI/UX

#4783 docs(api): document new HMR api
  src/content/api/hot-module-replacement.mdx
Labels: API

#4804 doc(writers-guide): linkfix
  src/content/contribute/writers-guide.md
Labels: Contribute

#4793 Actualized example on "Writing a Plugin" page
  .eslintrc.js
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#4819 docs(configuration): remove --info for dev server
  src/content/configuration/dev-server.md
Labels: Configuration

#4820 docs(configuration): fix liveReload cli usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4826 docs(configuration): fix missing ending
  src/content/api/node.mdx
  src/content/configuration/dev-server.md
  src/content/contribute/writing-a-plugin.md
Labels: Configuration

#4825 Feature/upgrade cypress
  cypress/integration/click-menu-scroll-top_spec.js
  package.json
  yarn.lock
Labels: dependencies

#4827 remove extract-loader
  src/content/loaders/index.md
  src/utilities/fetch-package-repos.js
Labels: Loaders

#4828 docs(configuration): fix openPage usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4836 docs(guides): update environment-variables.md
  src/content/guides/environment-variables.md
Labels: Guides

#4839 docs(api): document __webpack_runtime_id__
  src/content/api/module-variables.mdx
Labels: API

#4840 remove alex
  .github/workflows/testing.yml
  package.json
  yarn.lock
Labels: dependencies

#4807 docs(configuration): add new cache options
  src/content/configuration/other-options.mdx
Labels: Configuration

#4841 docs(plugins): add warning
  src/content/plugins/internal-plugins.mdx
  src/content/plugins/module-concatenation-plugin.md
Labels: Plugins

#4838 Update hot-module-replacement.md
  src/content/guides/hot-module-replacement.md
Labels: Guides

#4843 docs(configuration): update default for resolve.extensions
  src/content/configuration/resolve.mdx
Labels: Configuration

#4852 docs(configuration): fix `--useLocalIp` usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4854 docs(api): sort loader context alphabetically
  src/content/api/loaders.mdx
Labels: API

#4855 docs(api): fix default value for `template` option
  src/content/api/cli.md
Labels: API, CLI

#4861 docs(api): fix heading level
  src/content/api/loaders.mdx
Labels: API

#4866 Remove outdated example for compiler hook usage
  src/content/api/compiler-hooks.md
Labels: API

#4853 docs(configuration): update infrastructureLogging docs
  src/content/configuration/other-options.mdx
Labels: Configuration

#4862 docs(configuration): fix `--inline` usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4863 docs(api): fix tip for entry
  src/content/api/cli.md
Labels: API

#4864 docs(configuration): set the correct default value for cache.idleTimeout
  src/content/configuration/other-options.mdx
Labels: Configuration

#4871 docs(api): explain usage of `WEBPACK_PACKAGE` env var
  src/content/api/cli.md
Labels: API, CLI

#4865 New DefinePlugin options
  src/content/plugins/define-plugin.mdx
Labels: Plugins

#4874 docs(configuration): remove warning regarding cache properties usage
  src/content/configuration/other-options.mdx
Labels: Configuration

#4812 api(compilation-hooks): improved documentation for "processAssets" hook
  src/content/api/compilation-hooks.mdx
Labels: API

#4878 docs: add public path in entry descriptor
  src/content/concepts/entry-points.md
Labels: Concepts

#4882 docs(api): update misleading part
  src/content/api/compilation-hooks.mdx
Labels: API

#4872 docs(api): update `--output-path` references
  src/content/api/cli.md
Labels: API, CLI

#4879 docs(configuration): add warning for `liveReload`
  src/content/configuration/dev-server.md
Labels: Configuration

#4876 docs(api): update example for version command
  src/content/api/cli.md
Labels: API

#4887 docs(concepts): fix formatting
  src/content/concepts/loaders.mdx
Labels: Concepts

#4885 docs(api): link options to their documentation
  src/content/api/cli.md
Labels: API

#4897 Update configuration.md
  src/content/concepts/configuration.md
Labels: Concepts

#4888 docs(configuration): specify cache.type requirement
  src/content/configuration/other-options.mdx
Labels: Configuration

#4884 docs(api): add example with multiple `=` for `--env`
  src/content/api/cli.md
Labels: API

#4889 docs(configuration): add warning for bail and watch
  src/content/configuration/other-options.mdx
Labels: Configuration

#4899 docs(typescript guide) set "moduleResolution" to "node" in tsconfig.json
  src/content/guides/typescript.md
Labels: Guides

#4907 Update author-librairies.md
  src/content/guides/author-libraries.md
Labels: Guides

#4910 docs(guides): fix misleading content
  src/content/guides/getting-started.md
Labels: Guides

#4856 docs(configuration): document importModule
  src/content/api/loaders.mdx
  src/content/configuration/experiments.mdx
Labels: API, Configuration

#4919 docs(configuration): document cache.allowCollectingMemory
  src/content/configuration/other-options.mdx
Labels: Configuration

#4925 docs(configuration): use consistent format
  src/content/configuration/other-options.mdx
Labels: Configuration

#4926 Make clearer browserslist feature
  src/content/migrate/5.md
Labels: Migrated

#4927 docs(guides): fix misleading content
  src/content/guides/web-workers.mdx
Labels: Guides

#4932 fix incorrect function arguments
  src/content/plugins/split-chunks-plugin.md
Labels: Plugins
