Repository webpack/webpack.js.org, pull requests merged in 2021-10, with the labels that each got.

#5519 Update module-federation.mdx
  src/content/concepts/module-federation.mdx
Labels: Concepts

#5518 docs(configuration): update `ignoreWarnings` option documentation
  src/content/configuration/other-options.mdx
Labels: Configuration

#5520 docs(why-webpack): fix typo
  src/content/concepts/why-webpack.mdx
Labels: Concepts

#5530 docs(under-the-hood.mdx): fix typo
  src/content/concepts/under-the-hood.mdx
Labels: Concepts

#5529 Deprecate doc refs to parallel-webpack and cache-loader
  src/content/api/node.mdx
  src/content/guides/build-performance.mdx
Labels: Guides, API

#5539 docs(configuration): add warning about `[ext]` and `output.filename`
  src/content/configuration/output.mdx
Labels: Configuration

#5542 docs(contribute): fix link in author-libraries.mdx
  src/content/guides/author-libraries.mdx
Labels: Guides

#5541 docs(contribute): Update writing-a-plugin.mdx
  src/content/contribute/writing-a-plugin.mdx
Labels: Contribute
