Repository webpack/webpack.js.org, pull requests merged in 2021-06, with the labels that each got.

#5026 Fix double negative in grammar.
  src/content/guides/web-workers.mdx
Labels: Guides

#5021 docs(guides): add auto section
  src/content/configuration/output.mdx
  src/content/guides/public-path.md
Labels: Guides

#5051 docs(concept): remove OverridablesPlugin
  src/content/concepts/module-federation.md
Labels: Concepts

#4969 docs(cli): add aliases for options
  src/content/api/cli.md
Labels: API, CLI

#5005 docs(api): add alias for --output
  src/content/api/cli.md
Labels: API, CLI

#5069 docs(plugins): fix broken link
  src/content/plugins/index.md
Labels: Plugins

#5066 docs(optimizations): remove sourceMap option from TerserPlugin options
  src/content/configuration/optimization.mdx
Labels: Configuration

#5046 docs(guides/getting-started): add stackblitz live preview
  .eslintignore
  .eslintrc.js
  .gitignore
  examples/getting-started/dist/index.html
  examples/getting-started/package.json
  examples/getting-started/src/index.js
  examples/getting-started/webpack.config.js
  src/assets/open-in-stackblitz-button.svg
  src/components/Markdown/Markdown.scss
  src/components/Site/Site.jsx
  src/components/StackBlitzPreview/StackBlitzPreview.jsx
  src/content/guides/getting-started.mdx
Labels: Guides

#5050 doc: improved module federation documentation
  src/content/concepts/module-federation.md
  src/content/plugins/module-federation-plugin.md
Labels: Concepts, Plugins

#5075 docs(api): update `init` link
  src/content/api/cli.md
Labels: API, CLI

#5078 Added Stackblitz example for module federation
  examples/module-federation/.stackblitzrc
  examples/module-federation/README.md
  examples/module-federation/app1/package.json
  examples/module-federation/app1/public/index.html
  examples/module-federation/app1/src/App.js
  examples/module-federation/app1/src/bootstrap.js
  examples/module-federation/app1/src/index.js
  examples/module-federation/app1/webpack.config.js
  examples/module-federation/app2/package.json
  examples/module-federation/app2/public/index.html
  examples/module-federation/app2/src/App.js
  examples/module-federation/app2/src/bootstrap.js
  examples/module-federation/app2/src/index.js
  examples/module-federation/app2/webpack.config.js
  examples/module-federation/lerna.json
  examples/module-federation/package.json
  src/components/StackBlitzPreview/StackBlitzPreview.jsx
  src/content/concepts/module-federation.mdx
  src/content/guides/getting-started.mdx
  src/content/plugins/module-federation-plugin.mdx
Labels: Plugins

#5081 chore: update examples
  examples/getting-started/README.md
  examples/module-federation/README.md
  examples/module-federation/lerna.json
Labels: Examples

#5040 docs(concepts): Adding promise syntax example to Module Federation docs
  src/content/concepts/module-federation.mdx
Labels: Concepts

#5090 docs(examples): fix StackBlitz example for module federation
  examples/module-federation/.stackblitzrc
  src/content/concepts/module-federation.mdx
  src/content/plugins/module-federation-plugin.mdx
Labels: Examples

#5091 docs(plugins): revise DefinePlugin
  src/content/plugins/define-plugin.mdx
Labels: Plugins

#5098 Fix tiny typo
  src/content/migrate/5.md
Labels: Migrate

#5104 docs(configuration): document resolve.conditionNames
  src/content/configuration/resolve.mdx
  src/content/guides/package-exports.mdx
Labels: Configuration

#4988 refactor notification bar
  cypress/integration/notification_spec.js
  src/components/Markdown/Markdown.scss
  src/components/Navigation/Search.scss
  src/components/NotificationBar/MessageBar.jsx
  src/components/NotificationBar/NotificationBar.jsx
  src/components/NotificationBar/NotificationBar.scss
  src/components/Site/Site.jsx
  tailwind.config.js
Labels: UI/UX

#5111 update react-spring to its latest version
  package.json
  webpack.common.js
  yarn.lock
Labels: dependencies

#5108 feat: #5105 add pathname at the end of dropdown language url
  src/components/Navigation/Navigation.jsx
  src/components/Site/Site.jsx
Labels: UI/UX

#5119 Optimize sidebar menu
  src/components/SidebarItem/SidebarItem.jsx
  src/utilities/list2Tree/findTopLevel.js
  src/utilities/list2Tree/index.js
  src/utilities/list2Tree/index.test.js
Labels: UI/UX

#5128 docs(configuration): add cache.idleTimeoutAfterLargeChanges
  src/content/configuration/other-options.mdx
Labels: Configuration

#5121 docs(configuration): document esm support improvement
  src/content/configuration/experiments.mdx
  src/content/configuration/externals.mdx
  src/content/configuration/output.mdx
Labels: Configuration

#5131 remove shadow from contributor name
  src/components/Contributors/Contributors.scss
Labels: UI/UX
