Repository webpack/webpack.js.org, pull requests merged in 2021-07, with the labels that each got.

#5135 fix dark mode bug
  cypress/integration/toggle-dark-mode_spec.js
  src/components/Navigation/Navigation.jsx
  src/components/Site/Site.jsx
Labels: UI/UX

#5141 docs(configuration): sort output options alphabetically
  src/content/configuration/output.mdx
Labels: Configuration

#5143 docs(configuration): list polyfills
  src/content/configuration/resolve.mdx
Labels: Configuration

#5146 docs(configuration): move cache to a separate page
  cypress/integration/client-side-redirection_spec.js
  src/components/Site/Site.jsx
  src/components/Site/clientSideRedirections.js
  src/content/configuration/cache.mdx
  src/content/configuration/module.mdx
  src/content/configuration/other-options.mdx
  src/content/guides/build-performance.md
Labels: Configuration

#5156 docs(guides): fix additionalCode
  src/content/guides/shimming.md
Labels: Guides

#5150 docs(concepts): document runtime false
  src/content/concepts/entry-points.mdx
  src/content/plugins/module-federation-plugin.mdx
Labels: Concepts

#5161 docs(configuration): add cache.compression
  src/content/configuration/cache.mdx
Labels: Configuration

#5166 docs(contribute): update branch name
  src/content/contribute/release-process.mdx
Labels: Contribute

#5164 improve page styling
  src/components/Page/AdjacentPages.jsx
  src/components/Page/AdjacentPages.scss
  src/components/Page/Page.jsx
  src/components/Page/Page.scss
  src/components/PageLinks/PageLinks.jsx
  src/components/PageLinks/PageLinks.scss
Labels: UI/UX

#5169 remove italic style
  src/components/PageLinks/PageLinks.jsx
Labels: UI/UX

#5172 Changed React code splitting guide to official documentation.
  src/content/guides/lazy-loading.md
Labels: Guides

#5184 optimize navigation colors
  src/components/Navigation/Navigation.jsx
  src/styles/tailwind.css
Labels: UI/UX

#5187 docs(configuration): sort options alphabetically
  src/content/configuration/output.mdx
Labels: Configuration

#5194 fix a wrong reference in MF plugin example
  src/content/plugins/module-federation-plugin.mdx
Labels: Plugins

#5202 docs(plugins): clean up unrelated comment
  src/content/plugins/module-federation-plugin.mdx
Labels: Plugins

#5215 docs(api): add tip for status handler in HMR API
  src/content/api/hot-module-replacement.mdx
Labels: API

#5214 docs: add `stats.reasonsSpace` and `stats.groupReasonsByOrigin`
  src/content/configuration/stats.mdx
Labels: Configuration

#5232 upgrade deploy action
  .github/workflows/deploy.yml
Labels: Site Structure

#5216 docs(configuration): sort other-options alphabetically
  src/content/configuration/other-options.mdx
Labels: Configuration

#5217 docs(configuration): use `--stats-colors`
  src/content/configuration/stats.mdx
Labels: Configuration

#5246 fix ci failure
  src/utilities/fetch-supporters.js
Labels: Infrastructure
