Repository webpack/webpack.js.org, pull requests merged in 2021-03, with the labels that each got.

#4662 Fix https settings for own certs
  src/content/configuration/dev-server.md
Labels: Configuration

#4671 Update 2020-10-10-webpack-5-release.md
  src/content/blog/2020-10-10-webpack-5-release.md
Labels: Blog

#4669 use prepare for husky install
  package.json
Labels: Infrastructure

#4674 docs: fix missing article
  src/content/guides/code-splitting.md
Labels: Guides

#4670 docs(guides): remove `clean-webpack-plugin` in favor of `output.clean`
  src/content/guides/caching.md
  src/content/guides/development.md
  src/content/guides/hot-module-replacement.md
  src/content/guides/output-management.md
  src/content/guides/production.md
  src/content/guides/progressive-web-application.md
Labels: Guides

#4686 docs(configuration): add example for dependencies
  src/content/configuration/other-options.md
Labels: Configuration

#4690 fix(docs): TerserPlugin no longer supports `cache: true`
  src/content/configuration/optimization.mdx
Labels: Configuration

#4713 fix position of list marker for safari
  src/components/Markdown/Markdown.scss
Labels: UI/UX

#4715 docs: fix usage `JsonpTemplatePlugin`
  src/content/configuration/target.md
Labels: Configuration

#4716 docs(configuration): avoid using headings in list
  src/content/configuration/output.mdx
Labels: Configuration

#4717 docs(output): remove leading slash
  src/content/configuration/output.mdx
Labels: Configuration

#4718 docs(concepts): fix typos in `module-federation.md`
  src/content/concepts/module-federation.md
Labels: Concepts

#4691 docs(configuration): update output.library
  src/content/concepts/entry-points.md
  src/content/configuration/output.mdx
Labels: Configuration

#4723 docs(asset-modules): Fix syntax error
  src/content/guides/asset-modules.md
Labels: Guides

#4719 Update author-libraries.md
  src/content/guides/author-libraries.md
Labels: Guides

#4732 update yarn.lock
  yarn.lock
Labels: dependencies

#4733 docs(contribute): update schema-utils usage info
  src/content/contribute/writing-a-plugin.md
Labels: Contribute

#4739 docs(configuration): remove mentions of removed flags
  src/content/configuration/configuration-types.mdx
Labels: Configuration

#4611 docs: add link for serve CLI options
  src/content/configuration/dev-server.md
Labels: Configuration

#4731 docs(guides): update author-libraries
  src/content/guides/author-libraries.md
Labels: Guides

#4742 webpack-cli: new init documentation
  src/content/api/cli.md
  src/content/contribute/index.md
  src/content/contribute/writing-a-scaffold.md
  src/content/glossary.md
  src/content/guides/scaffolding.md
  webpack.ssg.js
Labels: API, CLI

#4747 link commands to their docs
  src/content/api/cli.md
Labels: API, CLI

#4748 Mention Rule.query being dropped
  src/content/migrate/5.md
Labels: Migrated

#4746 docs(plugins): fix watch-ignore-plugin
  src/content/plugins/watch-ignore-plugin.md
Labels: Plugins

#4754 docs: fix UseEntry function return value
  src/content/configuration/module.mdx
Labels: Configuration

#4326 Feature/enable eslint-plugin-mdx
  .eslintrc.js
  package.json
  yarn.lock
Labels: Infrastructure

#4753 add documentation for info command
  src/content/api/cli.md
Labels: API, CLI

#4763 docs: remove inactive refernce link
  src/content/api/cli.md
Labels: API

#4762 docs(api): add documentation for configtest command
  src/content/api/cli.md
Labels: API, CLI

#4738 use helmet
  cypress/integration/check-server-side-rendering_spec.js
  package.json
  src/App.jsx
  src/PrecacheSsgManifestPlugin.js
  src/ProdAssetsManifest.js
  src/components/Site/Site.jsx
  src/content/guides/getting-started.md
  src/index.html
  src/index.jsx
  src/server.jsx
  src/sw.js
  src/utilities/content-utils.js
  src/utilities/content-utils.test.js
  src/utilities/fixtures/content.json
  webpack.prod.js
  webpack.ssg.js
  yarn.lock
Labels: Infrastructure

#4768 docs(configuration): document emit
  src/content/configuration/module.mdx
Labels: Configuration

#4775 Document compiler.run() needs compiler.close()
  src/content/api/node.mdx
Labels: API

#4777 docs: add link for configtest command
  src/content/api/cli.md
Labels: API, CLI

#4778 docs: update devServer.allowedHosts
  src/content/configuration/dev-server.md
Labels: Configuration

#4710 Docs(config): Add output.strictModuleErrorHandling
  src/content/configuration/output.mdx
Labels: Configuration

#4779 docs(configuration): document generator publicPath
  src/content/configuration/module.mdx
Labels: Configuration

#4773 cli: add env var doc
  src/content/api/cli.md
Labels: API, CLI

#4782 docs(api): fix typo
  src/content/api/hot-module-replacement.md
Labels: API

#4784 cli: add env var for esm config
  src/content/api/cli.md
Labels: API, CLI

#4780 docs(api): document this.utils in loader context
  src/content/api/loaders.mdx
Labels: API

#4781 docs(api): document import.meta.webpackHot
  src/content/api/module-variables.mdx
  src/content/guides/ecma-script-modules.mdx
Labels: API, Guides

#4797 📝 Clarified point about requiring webpack-cli under Installation
  src/content/guides/installation.md
Labels: API, CLI
