Repository webpack/webpack.js.org, pull requests merged in 2021-01, with the labels that each got.

#4251 docs(api): update cli help usage
  src/content/api/cli.md
Labels: API

#4357 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4359 docs(api): update --help usage
  src/content/api/cli.md
Labels: API

#4360 docs(api): update cli commands
  src/content/api/cli.md
Labels: API

#4361 docs(api): remove <name>=<request> note regarding entry
  src/content/api/cli.md
Labels: API

#4369 docs(contributing): Change setup instructions to use yarn.
  .github/CONTRIBUTING.md
Labels: Contribute

#4367 docs(api): update --version info
  src/content/api/cli.md
Labels: API

#4372 docs(api): update cli options link
  src/content/api/cli.md
Labels: API

#4371 docs(api): rephrase description
  src/content/api/cli.md
Labels: API

#4374 fix(guides) Update typo
  src/content/guides/web-workers.mdx
Labels: Guides

#4381 Update ecma-script-modules.md
  src/content/guides/ecma-script-modules.md
Labels: Guides

#4383 Feature/upgrade deps
  package.json
  src/components/PageLinks/PageLinks.jsx
  yarn.lock
Labels: dependencies

#4377 docs(configuration): fix output.library warning
  src/content/configuration/output.md
Labels: Configuration

#4390 clean up action
  .github/workflows/deploy.yml
Labels: Infrastructure

#4391 add credit
  src/remark-plugins/remark-responsive-table/remark-responsive-table.js
Labels: App

#4393 docs(configuration): fix typo
  src/content/configuration/externals.md
Labels: Configuration

#4382 docs(migrate): improve webpack 5 migration guide
  src/content/migrate/5.md
Labels: Migrated

#4400 Fix typos
  src/content/configuration/module.mdx
  src/content/configuration/optimization.md
Labels: Configuration

#4387 refactor remark custom blockquotes
  package.json
  src/components/Markdown/Markdown.scss
  src/remark-plugins/remark-custom-asides/__snapshots__/index.test.js.snap
  src/remark-plugins/remark-custom-asides/index.js
  src/remark-plugins/remark-custom-asides/index.test.js
  webpack.common.js
  yarn.lock
Labels: UI/UX

#4394 docs(api): update orders of compiler hooks
  src/content/api/compiler-hooks.md
Labels: API

#4412 customize Link for mdx
  src/components/Site/Site.jsx
  src/components/mdxComponents/Link.js
Labels: UI/UX

#4401 feat: add experiments.layer
  src/content/configuration/entry-context.md
  src/content/configuration/experiments.md
  src/content/configuration/externals.md
  src/content/configuration/module.mdx
  src/content/plugins/split-chunks-plugin.md
Labels: Configuration

#4406 fix(api): Update hooks call method
  src/content/api/parser.md
Labels: API

#4386 docs(api): add --watch-options-stdin and --no-watch-options-stdin
  src/content/api/cli.md
Labels: API, CLI

#4423 Feature/upgrade deps
  package.json
  yarn.lock
Labels: dependencies

#4411 docs(api): explain --config-name usage
  src/content/api/cli.md
Labels: API, CLI

#4429 docs(configuration): add markdown code inline to module property
  src/content/configuration/configuration-languages.md
Labels: Configuration

#3928 concepts: Document EntryDescription object
  src/content/concepts/entry-points.md
Labels: Concepts

#4408 update exports field documentation
  src/content/guides/package-exports.md
Labels: Guides

#4425 add more information to resolve function in loader context
  src/content/api/loaders.md
Labels: API

#4431 docs(configuration): add resolve.preferAbsolute
  src/content/configuration/resolve.mdx
Labels: Configuration

#4435 Don't scroll to top if link was opened in new tab
  cypress/integration/pr_4435_spec.js
  src/components/SidebarItem/SidebarItem.jsx
Labels: UI/UX

#4442 fix(docs): expose errors details in loader example
  src/content/contribute/writing-a-loader.md
Labels: Contribute

#4436 improve devtool table
  src/content/configuration/devtool.md
Labels: Configuration

#4443 docs(configuration): fix a misspelled `output.sourcePrefix`'s description.
  src/content/configuration/index.mdx
Labels: Configuration

#4440 docs(configuration): document new externals feature
  src/content/configuration/externals.mdx
Labels: Configuration

#4137 Ability to change the site theme (device/light/dark)
  package.json
  src/components/Navigation/Navigation.jsx
  src/components/Site/Site.jsx
  src/constants/theme.js
  src/styles/dark.scss
  src/styles/index.scss
Labels: Site Structure, UI/UX

#4449 cheap devtools doesn't work with minimizer
  src/content/configuration/devtool.md
Labels: Configuration

#4466 Rewrite old content about `-p` and `--optimize.minimize`
  src/content/guides/production.md
Labels: Guides

#4464 docs(Profiling Plugin): Added Absolute Path
  src/content/plugins/profiling-plugin.md
Labels: Plugins

#4462 docs(api): document __webpack_is_included__
  src/content/api/module-variables.mdx
Labels: API

#4474 Update 5.md
  src/content/migrate/5.md
Labels: Migrated

#4480 doc(plugins): update var to const into html-webpack-plugin.md
  src/content/plugins/html-webpack-plugin.md
Labels: Plugins

#4475 docs(configuration): fix example
  src/content/configuration/watch.mdx
Labels: Configuration

#4487 remove unneeded apostrophe
  src/content/concepts/why-webpack.md
Labels: Concepts

#4481 docs(api): add pages for NormalModuleFactory and ContextModuleFactory Hooks
  src/content/api/compiler-hooks.md
  src/content/api/contextmodulefactory-hooks.md
  src/content/api/normalmodulefactory-hooks.md
  src/content/api/parser.md
  src/content/api/plugins.md
  src/content/api/resolvers.md
Labels: API

#4490 Fix some syntax errors in configuration/index.mdx
  src/content/configuration/index.mdx
Labels: Configuration

#4450 docs(api): update commands
  src/content/api/cli.md
Labels: API

#4497 Fix minor grammatical error in modules.md
  src/content/concepts/modules.md
Labels: Concepts

#4484 docs(configuration): document followSymlinks
  src/content/configuration/watch.mdx
Labels: Configuration
