Repository webpack/webpack.js.org, pull requests merged in 2021-02, with the labels that each got.

#4488 docs(configuration): document resolve.byDependency
  src/content/configuration/resolve.mdx
Labels: Configuration

#4413 improve styling for sidebar
  src/components/Sidebar/Sidebar.scss
  src/components/SidebarItem/SidebarItem.scss
Labels: UI/UX

#4510 update yarn.lock
  yarn.lock
Labels: dependencies

#4472 docs(configuration): document assign-properties libraryTarget
  src/content/configuration/output.mdx
Labels: Configuration

#4517 docs(api): explain --merge usage
  src/content/api/cli.md
Labels: API, CLI

#4511 highlight current menu
  src/components/SidebarItem/SidebarItem.jsx
  src/components/SidebarItem/SidebarItem.scss
  src/styles/dark.scss
Labels: UI/UX

#4476 docs(configuration): document webpackIgnore for commonjs
  src/content/api/module-methods.mdx
  src/content/configuration/module.mdx
Labels: API, Configuration

#4509 fix(guides): update against latest exports-loader
  src/content/guides/shimming.md
Labels: Guides

#4523 docs(api): add --node-env
  src/content/api/cli.md
Labels: API, CLI

#4524 optimize Badge style
  src/components/Badge/Badge.scss
Labels: UI/UX

#4516 docs(api): update --entry usage
  src/content/api/cli.md
Labels: API, CLI

#4533 docs(configuration): update info about 'profile' option
  src/content/configuration/other-options.md
Labels: Configuration

#4538 docs(api): fix input types for configuration options
  src/content/api/cli.md
Labels: API, CLI

#4541 docs(karma-webpack): update for 5.0.0
  src/content/guides/integrations.md
Labels: Guides

#4543 add stats.ids
  src/content/configuration/stats.md
Labels: Configuration

#4534 docs: add output.publicPath: 'auto'
  src/content/configuration/output.mdx
  src/content/guides/public-path.md
Labels: Configuration, Guides

#4544 Update asset-modules.md
  src/content/guides/asset-modules.md
Labels: Guides

#4547 hide blog from sub navbar
  src/components/Site/Site.jsx
Labels: App

#4542 docs(api): update 'help' and 'version' usage
  src/content/api/cli.md
Labels: API, CLI

#4519 docs(dev-server): clarify root path for generated files
  src/content/guides/development.md
Labels: Guides

#4554 feat: new errorDetails property
  src/content/configuration/stats.md
Labels: Configuration

#4553 docs(api): document __webpack_base_uri__
  src/content/api/module-variables.mdx
Labels: API

#4555 docs: update --config-name link
  src/content/configuration/configuration-types.md
Labels: Configuration

#4556 Add info about WebWorkers in Node.js
  src/content/guides/web-workers.mdx
Labels: Guides

#4557 docs: remove deprecation of the loader this._compilation api
  src/content/api/loaders.md
Labels: API

#4558 docs(api): move this._compiler
  src/content/api/loaders.md
Labels: API

#4559 docs(api): fix wrongly prettified text
  src/content/api/compilation-hooks.mdx
Labels: API

#4566 Remove "the observant among you"
  src/content/guides/getting-started.md
Labels: Guides

#4572 upgrade husky to v5
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Labels: dependencies

#4494 docs(configuration): document lazyCompilation
  src/content/configuration/experiments.md
  src/content/configuration/experiments.mdx
Labels: Configuration

#4576 exclude deprecated json5-loader
  src/content/loaders/index.md
  src/utilities/constants.js
Labels: Loaders

#4579 docs(configuration): add output.clean
  src/content/configuration/output.mdx
Labels: Configuration

#4584 docs(configuration): remove optimization.occurrenceOrder
  src/content/configuration/optimization.mdx
Labels: Configuration

#4585 docs(api): add example for __webpack_chunk_load__
  src/content/api/module-variables.mdx
Labels: API

#4586 use NavLink for SidebarItem
  src/components/Page/Page.jsx
  src/components/SidebarItem/SidebarItem.jsx
Labels: App

#4593 docs: add info about the parallelism with multiple configurations
  src/content/configuration/configuration-types.md
Labels: Configuration

#4595 docs(configuration): add options.dependencies
  src/content/configuration/other-options.md
Labels: Configuration

#4597 docs(configuration): add version
  src/content/configuration/configuration-types.mdx
Labels: Configuration

#4571 docs(api): add info about env variables
  src/content/api/cli.md
Labels: API, CLI

#4598 docs(configuration): add 'summary' preset for stats
  src/content/configuration/stats.md
Labels: Configuration

#4605 docs(configuration): fix tip for mode option
  src/content/configuration/mode.md
Labels: Configuration

#4609 docs(plugin): add EntryPlugin
  src/content/plugins/internal-plugins.mdx
Labels: Plugins

#4608 docs(guides): add tip about CLI env vars
  src/content/guides/environment-variables.md
Labels: Guides

#4610 docs: rm source maps warning
  src/content/configuration/devtool.md
Labels: Configuration

#4600 docs(configuration): refactor libraryTarget
  src/content/configuration/output.mdx
Labels: Configuration

#4612 docs(configuration): use npx for CLI usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4614 docs(configuration): fix CLI usage for devsServer.hotOnly
  src/content/configuration/dev-server.md
Labels: Configuration

#4615 docs(api): update module variable usage info
  src/content/api/module-variables.mdx
Labels: API

#4601 docs(configuration): fix output.module
  src/content/configuration/output.mdx
Labels: Configuration

#4616 docs(api): remove stale compilation-object methods
  src/content/api/compilation-object.md
  src/content/api/module-variables.mdx
Labels: API

#4617 docs(plugins): fix cli usage
  src/content/plugins/normal-module-replacement-plugin.md
Labels: Plugins

#4619 Fix typos in asset-modules.md
  src/content/guides/asset-modules.md
Labels: Guides

#4618 docs(api): add beforeModuleHash compilation hook
  src/content/api/compilation-hooks.mdx
Labels: API

#4628 docs(configuration): fix --allowed-hosts usage
  src/content/configuration/dev-server.md
Labels: Configuration

#4278 lazy load NotificationBar
  cypress/integration/notification_spec.js
  cypress/integration/scroll_spec.js
  src/components/NotificationBar/MessageBar.jsx
  src/components/NotificationBar/Notification.mdx
  src/components/NotificationBar/NotificationBar.jsx
  src/content/configuration/experiments.mdx
  src/content/configuration/other-options.md
Labels: UI/UX

#4620 docs(configuration): document relative url
  src/content/configuration/module.mdx
Labels: Configuration

#4629 upgrade html-loader
  package.json
  webpack.ssg.js
  yarn.lock
Labels: dependencies

#4631 docs(api): add afterModuleHash
  src/content/api/compilation-hooks.mdx
Labels: API

#4638 Fix a typo in `output` option
  src/content/configuration/output.mdx
Labels: Configuration

#4648 docs(api): add jsdoc for loader interface
  src/content/api/loaders.md
Labels: API

#4652 fixed typo
  src/content/guides/asset-modules.md
Labels: Guides

#4657 docs(configuration): update stale content
  src/content/configuration/optimization.mdx
Labels: Configuration

#4661 enable lazyCompilation
  .husky/.gitignore
  webpack.dev.js
Labels: Infrastructure

#4498 Added the necessary import 'webpack-dev-server' to configuration-languages for typescript
  src/content/configuration/configuration-languages.md
Labels: Configuration
