Repository webpack/webpack.js.org, pull requests merged in 2022-01, with the labels that each got.

#5832 Update 5.mdx
  src/content/migrate/5.mdx
Labels: Migrate

#5826 Update EntryPoint
  src/content/concepts/entry-points.mdx
Labels: Concepts

#5846 update link to medium article
  src/content/guides/shimming.mdx
Labels: Guides

#5880 docs(configuration): fix `stats.context` info & example
  src/content/configuration/stats.mdx
Labels: Configuration

#5876 docs(configuration): add new `commonjs-static` output type
  src/content/configuration/output.mdx
Labels: Configuration

#5901 fix: update WebStorm "safe write" to "Back up files before saving"
  src/content/configuration/watch.mdx
Labels: Configuration

#5916 docs(concepts): add note about deprecated CLI usage for loaders
  src/content/concepts/loaders.mdx
Labels: Concepts
