Repository webpack/webpack.js.org, pull requests merged in 2022-11, with the labels that each got.

#6486 Replace `whitelist` with `allowlist` where possible
  src/content/configuration/dev-server.mdx
  src/content/configuration/externals.mdx
Labels: Configuration

#6487 Add globalObject when type is umd
  src/content/guides/author-libraries.mdx
Labels: Guides

#6514 upgrade webpack-cli to v5
  package.json
  yarn.lock
Labels: dependencies

#6517 docs(api): webpack-cli v5 documentation updates
  src/content/api/cli.mdx
Labels: API

#6520 docs(configuration): add a note about runtime code and user code
  src/content/configuration/target.mdx
  yarn.lock
Labels: Configuration

#6524 fix: fix wrong Conditional Operator
  src/content/api/loaders.mdx
Labels: API
