Repository webpack/webpack.js.org, pull requests merged in 2022-09, with the labels that each got.

#6372 Grammar correction
  src/content/guides/ecma-script-modules.mdx
Labels: Guides

#6383 build(deps-dev): upgrade eslint plugin react
  .eslintrc.js
  package.json
  yarn.lock
Labels: dependencies

#6399 use lightningCss
  package.json
  webpack.prod.mjs
  webpack.ssg.mjs
  yarn.lock
Labels: dependencies

#6407 docs(configuration): move `name` option to correct place
  src/content/configuration/index.mdx
Labels: Configuration

#6411 docs(guides): add emit section for asset modules
  src/content/guides/asset-modules.mdx
Labels: Guides

#6413 docs(api): improve logging api
  src/content/api/logging.mdx
Labels: API

#6419 docs(configuration): mention default watchOptions.poll value
  src/content/configuration/watch.mdx
Labels: Configuration
