Repository webpack/webpack.js.org, pull requests merged in 2022-12, with the labels that each got.

#6533 updating method signature for compilation.addModule()
  src/content/api/compilation-object.mdx
Labels: API

#6544 docs(plugins): update filename example
  src/content/plugins/source-map-dev-tool-plugin.mdx
Labels: Plugins

#6540 docs(api): update cli
  src/content/api/cli.mdx
Labels: API

#6560 docs(module federation): improve module federation docs
  src/content/concepts/module-federation.mdx
  src/content/plugins/module-federation-plugin.mdx
Labels: Concepts, Plugins

#6573 build(deps): upgrade markdownlint
  .markdownlint.json
  package.json
  yarn.lock
Labels: dependencies
