Repository webpack/webpack.js.org, pull requests merged in 2022-10, with the labels that each got.

#6436 docs(guides): mention limitation of Worker api
  src/content/guides/web-workers.mdx
Labels: Guides

#6441 docs(configuration): update configuration page
  src/content/configuration/index.mdx
Labels: Configuration

#6453 docs(configuration/output): Warn about module output being not usable in webpack4
  src/content/configuration/output.mdx
Labels: Configuration

#6458 docs(Configuration): fix lang for code block
  src/content/configuration/dev-server.mdx
Labels: Configuration

#6373 docs(Migration): `loaders` → `use`
  src/content/migrate/5.mdx
Labels: Migrate
