Repository webpack/webpack.js.org, pull requests merged in 2022-07, with the labels that each got.

#6225 docs(configuration): add new type
  src/content/configuration/other-options.mdx
Labels: Configuration

#6257 docs(api): document canMangle
  src/content/api/module-variables.mdx
Labels: API

#6266 fix(concepts): small grammatical edit
  src/content/concepts/index.mdx
Labels: Concepts

#6278 docs(configuration): add `resolve.extensionAlias`
  src/content/configuration/resolve.mdx
Labels: Configuration

#6279 docs(guides): refine code-splitting code snippets
  src/content/guides/code-splitting.mdx
Labels: Guides

#6292 docs(plugins): fix stale content
  src/content/plugins/module-concatenation-plugin.mdx
Labels: Plugins

#6300 chore: upgrade `eslint-plugin-mdx`, run `yarn-deduplicate --strategy fewer` for fewer `acorn` versions
  package.json
  yarn.lock
Labels: dependencies
