Repository webpack/webpack.js.org, pull requests merged in 2022-08, with the labels that each got.

#6313 Update broken link to PWA resource
  src/content/guides/progressive-web-application.mdx
Labels: Guides

#6316 Explain the externals string syntax specifying externalsType
  src/content/configuration/externals.mdx
Labels: Configuration

#6321 explain default value of output.chunkFormat and output.chunkLoading is inferred from target
  src/content/configuration/output.mdx
Labels: Configuration

#6324 Update path to invalidate
  src/content/configuration/dev-server.mdx
Labels: Configuration

#6331 Update 2020-10-10-webpack-5-release.mdx
  src/content/blog/2020-10-10-webpack-5-release.mdx
Labels: Blog

#6319 docs(api): update custom hooks API for plugins
  src/content/api/plugins.mdx
Labels: API

#6337 docs(loaders): add link to esbuild-loader
  src/content/loaders/index.mdx
Labels: Loaders

#6340 Fix type description for ctx.contextInfo for externals callback
  src/content/configuration/externals.mdx
Labels: Configuration

#6330 explain more on the condition names
  src/content/configuration/resolve.mdx
Labels: Configuration

#6352 fix(docs): correct typo in the setupMiddlewares example
  src/content/configuration/dev-server.mdx
Labels: Configuration

#6353 fix(docs): syntax fix in "Inline matchResource"
  src/content/api/loaders.mdx
Labels: API

#6344 fix(Configuration.scss): fix config dialog pre element with block style
  src/components/Configuration/Configuration.scss
Labels: App

#6358 minor - remove typo extra underscore
  src/content/configuration/output.mdx
Labels: Configuration
