Repository webpack/webpack.js.org, pull requests merged in 2022-06, with the labels that each got.

#6227 docs(guides): remove trailing comma in package.json
  src/content/guides/getting-started.mdx
Labels: Guides

#6232 improve esm docs
  src/content/guides/ecma-script-modules.mdx
Labels: Guides

#6239 Correcting and clarifying the `nonce` copy
  src/content/guides/csp.mdx
Labels: Guides

#6125 fix scroll bug
  src/components/Page/Page.jsx
  src/components/Site/Site.jsx
  yarn.lock
Labels: App

#6235 improve require docs
  src/content/api/module-methods.mdx
Labels: API

#6242 Fix typo at `module-federation.mdx`
  src/content/concepts/module-federation.mdx
Labels: Concepts
