Repository webpack/webpack.js.org, pull requests merged in 2023-06, with the labels that each got.

#6875 docs(API): document this.environment for loader context
  src/content/api/loaders.mdx
  src/content/configuration/output.mdx
  yarn.lock
Labels: API

#6887 docs(plugins): document createDefaultHandler
  src/content/plugins/progress-plugin.mdx
Labels: Plugins

#6888 docs(plugins): document regexp for splitChunks.chunks
  src/content/plugins/split-chunks-plugin.mdx
Labels: Plugins

#6915 docs: document dynamicImportFetchPriority and webpackFetchPriority
  src/content/api/module-methods.mdx
  src/content/configuration/module.mdx
Labels: API, Configuration

#6916 docs(plugins): document append function
  src/content/plugins/eval-source-map-dev-tool-plugin.mdx
  src/content/plugins/source-map-dev-tool-plugin.mdx
Labels: Plugins

#6919 docs: add docs for the css experiment
  src/content/configuration/experiments.mdx
Labels: Configuration

#6929 docs(config): update typescript setup in configuration-languages.mdx
  src/content/configuration/configuration-languages.mdx
Labels: Configuration

#6930 docs(Configuration): document css/auto
  src/content/configuration/module.mdx
Labels: Configuration

#6938 docs(Configuration): document cache.readonly
  src/content/configuration/cache.mdx
Labels: Configuration
