Repository webpack/webpack.js.org, pull requests merged in 2023-03, with the labels that each got.

#6695 docs(guides): mention devtool for tree shaking
  src/content/guides/tree-shaking.mdx
  yarn.lock
Labels: Guides

#6709 Add Deprecation message for WatchIgnorePlugin
  src/content/plugins/watch-ignore-plugin.mdx
Labels: Plugins

#6712 docs(Configuration): add output.workerPublicPath
  src/content/configuration/output.mdx
Labels: Configuration
