Repository webpack/webpack.js.org, pull requests merged in 2023-04, with the labels that each got.

#6727 docs: append `webpack-stats-viewer` in code-splitting
  src/content/guides/code-splitting.mdx
Labels: Guides

#6739 docs(Guides): document Worker limitation in webpack
  src/content/guides/web-workers.mdx
Labels: Guides

#6744 docs(Configuration): document amdContainer
  src/content/configuration/output.mdx
  yarn.lock
Labels: Configuration

#6754 build(deps-dev): bump mkdirp
  package.json
  src/utilities/fetch-package-readmes.mjs
  src/utilities/fetch-package-repos.mjs
  yarn.lock
Labels: dependencies

#6749 docs(Configuration): fix document amdContainer
  src/content/configuration/output.mdx
Labels: Configuration

#6761 docs(API): add import.meta section
  src/content/api/module-variables.mdx
Labels: API

#6766 docs: update supported template paths in DllPlugin's `name` option
  src/content/plugins/dll-plugin.mdx
Labels: Plugins

#6768 doc(plugins): add SvgChunkWebpackPlugin
  src/content/plugins/index.mdx
  src/utilities/fetch-package-readmes.mjs
  src/utilities/fetch-package-repos.mjs
  src/utilities/yaml-headmatter.mjs
Labels: Plugins

#6785 docs(Configuration): document output.ignoreBrowserWarnings
  src/content/configuration/output.mdx
  yarn.lock
Labels: Configuration

#6786 loader-utils > 3.0.0 version has removed stringifyRequest method
  src/content/contribute/writing-a-loader.mdx
Labels: Contribute

#6793 docs(configuration): add `stats.errorsSpace` and `stats.warningsSpace`
  src/content/configuration/stats.mdx
Labels: Configuration
