Repository webpack/webpack.js.org, pull requests merged in 2023-02, with the labels that each got.

#6647 Update hot-module-replacement.mdx
  src/content/guides/hot-module-replacement.mdx
Labels: Guides

#6650 docs(plugins): remove chunk.hash
  src/content/plugins/split-chunks-plugin.mdx
  yarn.lock
Labels: Plugins

#6656 docs(configuration): remove [ext] for filename
  src/content/configuration/entry-context.mdx
Labels: Configuration

#6659 upgrade react-spring
  package.json
  src/components/NotificationBar/MessageBar.jsx
  webpack.common.mjs
  yarn.lock
Labels: dependencies
