Repository webpack/webpack.js.org, pull requests merged in 2024-07, with the labels that each got.

#7303 docs(configuration): update resolve.unsafeCache
  src/content/configuration/resolve.mdx
Labels: Configuration

#7309 docs(configuration): document overrideStrict
  src/content/configuration/module.mdx
Labels: Configuration

#7305 docs(configuration): document commonjs-module
  src/content/configuration/output.mdx
Labels: Configuration

#7313 Add an example for utils.createHash
  src/content/api/loaders.mdx
Labels: API

#7331 deps: upgrade sass loader
  package.json
  webpack.common.mjs
  yarn.lock
Labels: dependencies

#7338 docs(configuration): fix typo
  src/content/configuration/output.mdx
Labels: Configuration
