Repository webpack/webpack.js.org, pull requests merged in 2024-08, with the labels that each got.

#7353 docs: Replace overkill regex with a much simpler one
  src/content/plugins/normal-module-replacement-plugin.mdx
Labels: Plugins

#7358 docs(concepts): fix code
  src/content/concepts/module-federation.mdx
Labels: Concepts

#7360 Fix `webpackExports` section header
  src/content/api/module-methods.mdx
Labels: API

#7326 docs(guides): update alternatives
  src/content/guides/package-exports.mdx
Labels: Guides

#7380 Update module-federation-plugin.mdx
  src/content/plugins/module-federation-plugin.mdx
Labels: Plugins
